@charset "utf-8";

/* Login *****************************************************************************************/

body
{
	background-color                 : #FFFFFF;
	color: #666;
	font-size:0.8em;
}

#data-outbox
{
	background-image                 : url("./image/bg_login.png");
	background-repeat: no-repeat;
	margin                           : 100px auto 0 auto;
	position                         : relative;
	width                            : 560px;
}

#login-box
{
	height: 400px;
	margin-left: auto;
	padding: 10px;
	width: 215px;
}

#logo-box
{
	/*height: 44px;
	left: 6px;
	position: absolute;
	bottom: 9px;
	width: 175px;*/
	display: none;
}

#logo-box img
{
	display: none;
}

.field-box ul
{
	list-style-type: disc;
	margin-top: 10px;
}

.field-box ul li
{
	line-height: 1.2em;
	list-style-type: disc;
	margin-left: 20px;
}

dt
{
	font-weight                      : normal !important;
	line-height                      : 1em !important;
	padding                          : 10px 0 3px 0;
	position                         : static !important;
}
	
dd
{
	margin-left                      : 0 !important;
}

dd .input-text
{
	border                           : 1px solid #ccc;
	font-family                      : "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size                        : 1.3em;
	padding                          : 3px 0 3px 5px;
	width                            : 208px;
	-moz-border-radius               : 4px;
	-webkit-border-radius            : 4px;
}

hr
{
	display                          : none;
}

#checkbox-line dt
{
	display                          : none;
}

#checkbox-line dd
{
	color                            : #666666;
	margin-top                       : 5px;
	text-align: right;
}

.button-box
{
	margin-top: 10px;
	text-align: right;
}

.input-button
{
	background-color                 : #FFFFFF;
	background-image                 : none !important;
	-moz-border-radius               : 3px;
	-webkit-border-radius            : 3px;
	font-weight                      : bold;
	height                           : 3em;
	line-height                      : 3em;
}

.input-button:hover
{
	border                           : 1px solid #444;
}

.return-box
{
	margin-top                       : 20px;
	text-align                       : right;
}

#message-box
{
	background-color                 : rgba(242,242,242,0.7);
	left: 10px;
	margin-top                       : 10px;
	padding                          : 5px;
	position: absolute;
	text-align                       : center;
	top: 10px;
	width: 300px;
}

/* open id */

#openid-field-box
{
	border-top: 1px solid #ccc;
	margin-top: 20px;
}

#openid-line
{
	margin                           : 0;
}

#openid-line .example
{
	font-size: 0.85em;
	line-height: 1em;
	margin-top: 5px;
}

#openid_identifier
{
	background-color: rgba(255,255,255,0.6);
	background-image: url("../../../resources/image/icon_login_openid.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left                     : 30px;
	width: 183px;
}

#openid-remember dt
{
	display: none;
}

#openid-remember dd
{
	margin-top: 5px;
	text-align: right;
}

#openid-helper
{
	font-size: 0.9em;
	list-style-type: none !important;
	margin: 20px 0 0 0;
	text-align: center;
}

#openid-helper a
{
	color: #aaa;
}

input[type=password], input[type=text] {
	background-color: rgba(255,255,255,0.6);
}
