@charset "utf-8";

/* Common ****************************************************************************************/

*
{
	margin                           : 0;
	padding                          : 0;
}

body
{
	background-color                 : #FFFFFF;
	background-image                 : url('./image/bg_plugin_setting_header.png');
	background-position              : top left;
	background-repeat                : repeat-x;
	font-size                        : small;
	font-family                      : 'Helvetica Neue', 'Lucida Grande', Arial, '나눔고딕', 'NanumGothic', 'NanumGothicOTF', 'Malgun Gothic', '맑은 고딕', '굴림', Gulim, Tahoma, Verdana, sans-serif;
}

.input-text, textarea {
	border                           : 1px solid #ccc;
	font-size                        : 1em;
	padding: 2px 3px;
	vertical-align                   : middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/* Ask whether edit or delete ********************************************************************/

#comment-box
{
	background-image                 : url("./image/bg_plugin_setting_body.png");
	background-position              : left top;
	background-repeat                : repeat-x;
	font-family                      : 'Lucida Grande', Arial, AppleGothic, '굴림', Gulim, Tahoma, Verdana, sans-serif;
	font-size                        : 0.925em;
	margin-top                       : 50px;
}

#comment-box img
{
	position                         : absolute;
	top                              : 10px;
	left                             : 12px;
}

#original-reply-box
{
	border                           : 1px solid #ccc;
	padding                          : 10px;
	height                           : 150px;
	width                            : 390px;
	margin                           : 0 0 10px 20px;
	overflow-x                       : hidden;
	overflow-y                       : scroll;
}

#original-reply-box ul
{
	list-style                       : none;
}

#original-reply-box .name
{
	font-weight                      : bold;
	color                            : #333;
	float                            : left;
}

#original-reply-box .date
{
	border-left                      : 1px solid #ddd;
	padding-left                     : 5px;
	margin-left                      : 5px;
	clear                            : left;
}

#original-reply-box ul li ul
{
	background                       : url(image/icon_reply.gif) 20px 3px no-repeat;
	padding-left                     : 50px;
	margin-top                       : 10px;
}

#comment-box #command-box
{
	margin                           : 0 10px;
	padding                          : 60px 0;
	text-align                       : center;
}

#comment-box #command-box label
{
	cursor                           : pointer;
}

#comment-box #command-box .edit-line,
#comment-box #command-box .delete-line
{
	display                          : inline;
}

#comment-box #command-box .radio
{
	vertical-align                   : middle;
}

#comment-box #command-box .delete-line .radio
{
	margin                           : 0 0 0 10px;
}

#comment-box #command-box .password-line
{
	margin-top                       : 30px;
}

#comment-box #command-box .input-text
{
	border                           : 1px solid #BBBBBB;
	padding                          : 3px;
	vertical-align                   : middle;
}

/* Edit ******************************************************************************************/

#comment-reply-box
{
	background-image                 : url("./image/bg_plugin_setting_body.png");
	background-position              : left top;
	background-repeat                : repeat-x;
	border                           : 1px solid #FFFFFF;
	font-family                      : 'Lucida Grande', Arial, AppleGothic, '굴림', Gulim, Tahoma, Verdana, sans-serif;
	font-size                        : 0.925em;
	margin-top                       : 49px;
}

#comment-reply-box img
{
	position                         : absolute;
	top                              : 10px;
	left                             : 12px;
}

#comment-reply-box .title
{
	background-image                 : url('./image/icon_popupbullet.jpg');
	background-position              : left top;
	background-repeat                : no-repeat;
	font-weight                      : bold;
	height                           : 20px;
	margin                           : 14px 0 0 12px !important;
	padding                          : 3px 0 0 18px;
}

#comment-reply-box #command-box
{
	margin                           : 0 10px;
	padding                          : 10px;
}

#comment-reply-box #command-box dl
{
	clear                            : both;
	float                            : none;
	height                           : 2em;
	padding-bottom                   : 2px;
}

#comment-reply-box #command-box dl dt
{
	float                            : left;
	margin-right                     : 8px;
	padding-top                      : 5px;
	text-align                       : right;
	width                            : 70px;
}

#comment-reply-box #command-box dl dd
{
	float                            : left;
	width                            : 250px;
}

#comment-reply-box #command-box label
{
	cursor                           : pointer;
}

#comment-reply-box #command-box .input-text
{

	font-size                        : 1em;
	width                            : 321px;
	

}

#comment-reply-box #command-box .secret-line
{
	height                           : 1.2em;
	margin                           : 4px 0 0 80px;
}

#comment-reply-box #command-box .checkbox
{
	vertical-align                   : middle;
}

#comment-reply-box #command-box .content-line
{
	margin-top                       : 6px;
}

#comment-reply-box #command-box .content-line textarea
{
	border                           : 1px solid #ccc;
	font-size                        : 1em;
	height                           : 120px !important;
	overflow                         : auto;
	width                            : 328px;
}

#comment-reply-box #command-box .content-line
{
	height                           : 130px;
}

#comment-reply-box .button-box
{
	clear                            : both;
	padding                          : 5px 2px 0 0;
	text-align                       : right;
}

.input-button
{
	background-color                 : #fbfbfb;
	background-position              : left bottom;
	background-repeat                : repeat-x;
	border                           : 1px solid #ccc;
	cursor                           : pointer;
	font-size                        : 1em;
	height                           : 1.8em;
	line-height                      : 1;
	padding                          : 0px 5px 2px 5px !important;
	vertical-align                   : bottom;
	background-image : -moz-linear-gradient(top, #fff, #eee);
	background-image : -webkit-linear-gradient(top, #fff, #eee);
	background-image : linear-gradient(top, #fff, #eee);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	text-shadow: 0 1px 0 #fff; 

	margin-right: 2px;

}

.input-button:hover
{
	background-color                 : #f2f2f2;
/*	background-image                 : url("./image/bg_submenu_item_selected.gif");*/
	border                           : 1px solid #bbb;

	background-image : -moz-linear-gradient(top, #fbfbfb, #ddd);
	background-image : -webkit-linear-gradient(top, #fbfbfb, #ddd);
	background-image : linear-gradient(top, #fbfbfb, #ddd);
}

.input-button:active
{
	background-color                 : #ddd;
	background-image : -moz-linear-gradient(bottom, #eee, #ddd);
	background-image : -webkit-linear-gradient(bottom, #eee, #ddd);
	background-image : linear-gradient(bottom, #eee, #ddd);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3) inset;
	padding                          : 1px 5px 1px 5px !important;
}

.input-button:active
{
	background-color                 : #ddd;
	background-image: -webkit-gradient(linear, left 14, left bottom, to(#f8f8f8), from(#ddd));
}

#homepage
{
	font-family                      : "Courier New", "Courier", monospace;
	font-size                        : 1em;
}

/* 관리자 댓글인 경우 */
.admin-comment #comment-reply-box #command-box .content-line
{
	height                           : 235px;
}

.admin-comment #comment-reply-box #command-box .content-line dt
{
	display                          : none;
}

.admin-comment #comment-reply-box #command-box .content-line textarea
{
	border                           : 1px solid #ccc;
	font-size                        : 1em;
	height                           : 230px !important;
	overflow                         : auto;
	width                            : 410px;
}
