<?xml version="1.0" encoding="utf-8"?>
<info>
	<meta>
		<sort>transition</sort>	
		<name>슬라이딩</name>
		<namespace>net_imazing_show_window_transition_sliding</namespace>
		<template>show_window</template>
		<description>3가지 도입효과와 슬라이딩 장면전환 지원</description>
		<author>김태경</author>
		<email>k8805@hotmail.com</email>
		<homepage>http://www.imazing.net</homepage>
	</meta> 
	<config> 
		<!--도입 효과-->
		<start_effect>size</start_effect>
		<!--슬라이드 가속도 0보다 크고 10보다 작아야 한다-->
		<acceleration>3.8</acceleration>
	</config>
</info>
