@charset "utf-8";

/* Plugin List */

#part-plugin-list #listview-box ol.data-inbox li .summary
{
	height: 101px;
}

#part-plugin-list ol.data-inbox li .summary .plugin-buttons
{
	font-family: "돋움", Dotum, 'Lucida Grande', Tahoma, sans-serif !important;
	letter-spacing: -1px;
	margin-top: 3px;
}

#viewmode-line-align
{
	top                              : 10em;
}

#plugin-search-form .input-button
{
    line-height                      : 1.6em !important;
}
