Textcube 2.0 Requirements
-------------------------

 * Web servers (Need at least one environment)
  * Apache > 2.1
   * fancyURL support with mod_rewrite module (recommended)
  * Nginx > 1.1
  * Lighttpd > 1.4
  * PHP built-in Web Server > 5.5.7
  * IIS > 5.0
   * with ISAPI Rewrite Filter
 * Language
  * PHP > 5.5
   * with iconv (for TTXML character converting from old servers) / gd module (for image resampling)
 * Database Management System (Need at least one environment)
  * MySQL > 5.0 / MariaDB > 5.1 with UTF-8 character set and collation setting
   * With PHP MySQLi extension (MySQLnd support is in development stage.)
  * Cubrid > R2008
  * PostgreSQL > 8.3
  * Sqlite > 3.0

 For massive service / Heavy load environments

 * APC (Alternative PHP Cache) pecl package with PHP PEAR
 * FastCGI module with Apache2
  - (Need to modify config.php. referer 'config' in DOC directory.)
 * InnoDB with Entries / Tags / TagRelations table.
 * XCache
 * memcached module

  Refer INSTALL to know how to set up on this environment. (especially Microsoft Windows environment)
