*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #fff;
	font-family: serif;
	font-size: 9pt;
	padding: 50px;
	color: #000;
}

a
{
	text-decoration: none;
	color: #000;
}

/* global */

img
{
	border: 0 none;
}

br
{
	letter-spacing: 0;
}

hr
{
	display: none;
}

p
{
	margin-bottom: 1.7em;
}

dfn, em, cite, address
{
	font-style: normal;
}

/*-------------------------------*/

/* hadding */

/*-------------------------------*/

h1
{
	font-family: sans-serif;
	font-size: 25pt;
	margin-bottom: 50px;
	padding: 20px;
	text-align: center;
}

h2
{
	font-size: 16pt;
}

h2 a
{
	color: #000;
}

h3
{
	font-size: 13pt
}

h4
{
	font-size: 11pt
}

h3 a
{
	color: #669818;
}

/*-------------------------------*/

/* Layout */

/*-------------------------------*/

#author
{
	font-family: sans-serif;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

#author ul
{
	display: none;
}

#header
{
	
}

#header ul
{
	display: none;
}

#rightColumn
{
	display: none;
}

#footer
{
	display: none;
}

/*-------------------------------*/

/* content column */

/*-------------------------------*/

.entry
{
	margin-bottom: 20px;
}

/* subject */

.subject
{
	margin-bottom: 20px;
}

.subject ul
{
	list-style: none;
}

.subject li
{
	display: inline;
	font: 9pt 'Trebuchet MS', Helvetica, sans-serif;
	color: #666;
}

/* Protected */

.protectedBody
{
	display: none;
}

/* search list */

.searchList
{
	display: none;
}

/* admin */

.subject .admin
{
	display: none;
}

/* article */

.article
{
	margin-bottom: 40px;
}

.article blockquote
{
	margin: 1.7em auto;
	padding: 0 10px;
	width: 80%;
	color: #226094;
	border-left: 2px solid #ddd;
}

.infoAuthor
{
	padding-right: 10px;
	text-align: right;
}

.imageblock
{
	margin: 0 0 20px;
	border: 0 none;
}

.imageblock .cap1
{
	color: #666;
	font-size: 9pt;
	text-align: center;
	margin-top: 5px;
}

.moreless_fold,
.moreless_top,
.moreless_bottom
{
	display: none;
}

.moreless_content
{
	display: block !important;
	margin-bottom: 16pt;
	padding: 5pt 3pt;
	border: solid 1px #ccc;
}

.article ol, .article ul
{
	margin: 10pt 0 15pt 40pt;
}

/* tag, comments btn */

.miscInfo
{
	display: none;
}

.miscInfo dl
{
	padding: .2em 0;
}

.miscInfo dt
{
	float: left;
	width: 6em;
	margin: 5px 0 0;
}

.miscInfo dt:after
{
	content: ":";
	margin-left: 8px;
}

.miscInfo dd
{
	margin: 5px 0 0 60px;
	padding-left: 5px;
}

/*-------------------------------*/

/* trackback */

/*-------------------------------*/

.trackback .url
{
	display: none;
}

/* Trackback list */

.trackback
{
	padding-bottom: 5px;
}

.trackback h3
{
	margin: 30px 0 10px 0;
}

.trackback ol
{
	list-style: none;
}

.trackback ol li
{
	margin-bottom: 15px;
}

.trackback li p
{
	margin-bottom: 10px;
}

.trackback li span
{
	font: 8pt 'Franklin Gothic Medium', Helvetica, sans-serif;
	color: #666;
}

.trackback li span a
{
	display: none;
}

.trackback cite
{
	font-family: Dotum, 돋움, Helvetica, AppleGothic, sans-serif;
}

/*-------------------------------*/

/* Comments, Guestbook */

/*-------------------------------*/

.list h3
{
	margin: 30px 0 10px 0;
}

.list ol
{
	list-style: none;
	margin-bottom: 20px;
}

.list li
{
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.list span
{
	display: block;
	margin-bottom: 5px;
	font: 8pt 'Franklin Gothic Medium', Helvetica, sans-serif;
	color: #666;
}

.list author
{
	margin-bottom: 5px;
}

.list span a
{
	display: none;
}

.list span abbr
{
	border: 0 none;
}

.list p.content img
{
	display: none;
}

/* Reply */

.list ol li ol
{
	margin-left: 20px;
}

.list ol li ol li
{
	border: 0 none;
}

.list ol li ol li strong a:before
{
	content: "re:";
	font-weight: normal;
	color: #999;
}

.list img
{
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 6px;
	padding: 2px;
	background-color: #fff;
	border: 1px solid #ddd;
	vertical-align: middle;
}

fieldset
{
	display: none;
}

/*-------------------------------*/

/* location log */

/*-------------------------------*/

#location
{
	margin-bottom: 3em;
	line-height: 1.7
}

#location dt, #location dd
{
	border-bottom: solid 1px #ccc;
}

#location dd span
{
	font-weight: bold
}

#location dd .localAuthor
{
	font-size: 9pt;
	vertical-align: middle;
	color: #999;
}

/*-------------------------------*/

/* tag log (page)*/

/*-------------------------------*/

#taglog ul
{
	list-style: none;
}

#taglog li
{
	display: inline;
	line-height: 2.2;
}

#taglog li a.cloud1
{
	font-weight: bold;
	font-size: 18pt;
}

#taglog li a.cloud2
{
	font-weight: bold;
	font-size: 15pt;
	color: #afd06c;
}

#taglog li a.cloud3
{
	font-weight: bold;
	font-size: 12pt;
	color: #b3c987;
}

#taglog li a.cloud4
{
	font-size: 10pt;
	color: #a8bd7f;
}

#taglog li a.cloud5
{
	font-size: 9pt;
	color: #aaa;
}

#taglog li a:hover
{
	color: #c36;
}

.paging
{
	display: none;
}
