body
{
	padding-bottom                   : 0;
	font-family                      : Dotum, Verdana, AppleGothic, Sans-serif;
	font-size                        : 12px;
	line-height                      : 1.4em;
	background-color                 : #FFFFFF;
}

blockquote
{
	border                           : 1px dashed #DFDFDF;
	padding                          : 5px;
}

img.tatterImageLeft,
img.tatterImageCenter,
img.tatterImageRight,
img.tatterImageDual,
img.tatterImageTriple,
img.tatterImageFree,
img.tatterImazing,
img.tatterGallery,
img.tatterJukebox,
img.tatterEmbed,
img.tatterObject,
img.tatterFlash
{
	cursor                           : move;
	background-position              : center;
	background-repeat                : no-repeat;
	border                           : 1px solid #FFFFFF;
}

img.tatterImageLeft:hover,
img.tatterImageCenter:hover,
img.tatterImageRight:hover,
img.tatterImageFree:hover,
img.tatterImageDual,
img.tatterImageTriple,
img.tatterImazing,
img.tatterGallery,
img.tatterJukebox,
img.tatterEmbed,
img.tatterObject,
img.tatterFlash
{
	background-color                 : #FFFFEF;
	border                           : 1px dashed #AFAFAF;
}

img.tatterImageLeft
{
	float                            : left;
	margin-right                     : 10px;
}

img.tatterImageCenter,
img.tatterImageDual,
img.tatterImageTriple,
img.tatterImazing,
img.tatterGallery,
img.tatterJukebox
{
	display                          : block;
	margin                           : 5px auto;
}

img.tatterImazing
{
	background-image                 : url("../image/owner/wysiwyg/mark_iMazing.gif");
}

img.tatterGallery
{
	background-image                 : url("../image/owner/wysiwyg/mark_gallery.gif");
}

img.tatterJukebox
{
	background-image                 : url("../image/owner/wysiwyg/mark_jukebox.gif");
}

img.tatterImageRight
{
	float                            : right;
	margin-left                      : 10px;
}

img.tatterImageDual
{
	background-image                 : url("../image/owner/wysiwyg/mark_2images.gif");
}

img.tatterImageTriple
{
	background-image                 : url("../image/owner/wysiwyg/mark_3images.gif");
}

img.tatterEmbed,
img.tatterObject
{
	background-image                 : url("../image/owner/wysiwyg/mark_embed.gif");
	margin                           : 5px;
}

img.tatterFlash
{
	background-image                 : url("../image/owner/wysiwyg/mark_flash.gif");
}

div.tattermoreless
{
	background-color                 : #EFFFAF;
	border                           : 1px dashed #006;
	margin                           : 0px;
	padding                          : 8px;
}
