/* 혹시 모르는 버그를 위해 남겨두는 구버전용 CSS */
body {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	font : 12px Verdana, Sans-serif ;
}
 
input,textArea,select {
	font : 12px Verdana, Sans-serif ;
}

.menuItem1 {
	margin:7px 3px 0 3px;
	height:24px;
	background-image:url('../image/owner/mainMenuActiveCenter.gif');
	cursor: pointer;
}

.menuItem2 {
	padding:2px 2px 0 2px;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
}

.menuItem3 {
	padding:12px 6px 0 6px;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	cursor: pointer;
}

.sectionNumber {
	font-size:20pt;
	font-family: arial;
	font-weight:bold;
	color:#FF890B;	
	line-height:22pt;
}

.sectionSubject {
	color:#FFFFFF;
}

.pointerCursor {
	cursor: pointer;
}


.help {
	color: #FFFFFF;
	padding: 0px 4px 7px 0px;
}

div, td {
	padding: 0px;
	font-size: 12px;
	line-height:12pt;
	color:#213141;
}

img {
	border-width:0px;
}

a:link {
	color: #308FC9;
	text-decoration: none;
}

a:visited {
	color: #308FC9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select {
	font-size:12px;
	font-family:arial;
}

.entryEditTableLeftCell {
	width: 130px;
	height: 24px;
	padding: 0px 5px 0px 0px;
	text-align: right;
	color: #000000;
}

.row {
	padding:2px 7px 0px 7px;
	font-size:12px;
}

.rowDate {
	font-size:11px;
	font-family:verdana;
}

.rowLink {
	cursor:pointer;
	color:#000099;
	text-decoration: none;
}

input.button {
	font-size:9pt;
	padding-top:3px;
	
}
.buttonTop {
	padding:2px 4px 0px 4px;
	font-size:9pt;
	text-decoration:none;
	cursor:pointer;
	margin:2px;
}

.branch0 {
	cursor:pointer;
	padding:3px 3px 1px 2px;
}

.branch3 {
	cursor:pointer;
	padding:2px 3px 0px 2px;
}


.pad1 {
	padding: 4px 6px 2px 6px; 
}

.text1 {
	font-size:9pt;
	padding:4px;
}

.text2 {
	font-size: 100%;
	line-height: 140%;
	border: 1px solid #92B5E8;
	height: 18px;
	padding: 1px 4px 0px;
}

.col1 {
	padding:3px 0px 0px 0px;
	font-size:9pt;
}

.col2 {
	padding:3px 0px 0px 0px;
	font-size:10pt;
	font-weight:bold;
	color:#617181;
	text-align:center;
}

.pageLink {
	cursor:pointer;
	color:#000099;
	text-decoration:none;
}



.rowHeader {
	color:#FFFFFF;
	padding:0px 7px 0px 7px;
	font-size:13px;
	font-weight:bold;
}

#location ul, #tag ul {
	margin: 0px;
	padding: 0px;
}

#location li, #tag li {
	background: url("../image/separator.gif") no-repeat 0% 50%;
	display: inline;
	margin-right: 10px;
	padding-left: 15px;
	vertical-align: middle;
	font-weight: bold;
	cursor: pointer;
}

#tag li {
	background: url("../image/comma.gif") no-repeat 0% 80%;
	padding-left: 9px;
	margin-right: 2px;
}

#location li.firstChild, #tag li.firstChild {
	background: none;
	padding-left: 0px;
}

.eolinSuggest {
	border: 1px solid #bbb;
	background-color: #fff;
}

.eolinSuggest li {
	margin: 3px;
	cursor: pointer;
}

.eolinSuggest li.hover {
	background-color: #edf !important;
}

.eolinSuggest li.disabled {
	color: #777;
}

.eolinSuggest {
	font-size: 9pt;
}

samp {
	padding-left: 10px;
	color: #666666;
}

.MimeImage {
	color: #ff3300;
}

.MimeApplication {
	color: #004178;
}

.MimeAudio {
	color: #AF5416;
}

.MimeMessage {
	color: #6633cc;
}

.MimeModel {
	color: #5eae00;
}

.MimeMultipart {
	color: #006bc6;
}

.MimeText {
	color: #004178;
}

.MimeVideo {
	color: #ff6600;
}

.overflowCell {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* XHTML comment edit/delete 윈도우용 CSS */

*
{
	margin                           : 0;
	padding                          : 0;
}

body
{
	background-color                 : #FFFFFF;
}

#comment-box
{
	border-top                       : 4px solid #9DCAFB;
	font-family                      : Arial, Tahoma, Verdana, 굴림, Gulim, sans-serif;
}

#comment-box img
{
	display                          : block;
	margin                           : 45px auto 10px auto;
}

#comment-box #command-box
{
	background-color                 : #EAF4FF;
	border                           : 1px solid #BFDCFC;
	margin                           : 0 10px;
	padding                          : 60px 0;
	text-align                       : center;
}

#comment-box #command-box label
{
	color                            : #2A64A3 !important;
	cursor                           : pointer;
}

#comment-box #command-box .edit-line,
#comment-box #command-box .delete-line
{
	display                          : inline;
}

#comment-box #command-box .radio
{
	vertical-align                   : middle;
}

#comment-box #command-box .delete-line .radio
{
	margin-left                      : 10px;
}

#comment-box #command-box .password-line
{
	margin-top                       : 30px;
}

#comment-box #command-box .text-input
{
	border                           : 1px solid #9DCAFB;
	/*height                           : 1.7em;*/
	padding                          : 3px;
	vertical-align                   : middle;
}

#comment-box #command-box .button-input
{
	border                           : 1px solid #6297D1;
	background-color                 : #83AFE0;
	color                            : #FFFFFF;
	font-weight                      : bold;
	font-size                        : 94%;
	height                           : 1.9em;
	padding                          : 0 6px;
	vertical-align                   : middle;
}

/* XHTML trackback edit/delete 윈도우용 CSS */

#trackback-box
{
	border-top                       : 4px solid #9DCAFB;
	font-family                      : Arial, Tahoma, Verdana, 굴림, Gulim, sans-serif;
}

#trackback-box img
{
	display                          : block;
	float                            : right;
	margin                           : 10px 10px 5px 0;
}

#trackback-box .title
{
	background-image                 : url("../image/icon_PopupTitle.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #5681B1;
	font-weight                      : bold;
	margin                           : 20px 0 10px 12px;
	padding                          : 1px 0 0 17px;
}

#trackback-box #command-box
{
	background-color                 : #EAF4FF;
	border                           : 1px solid #BFDCFC;
	color                            : #2A64A3 !important;
	margin                           : 0 10px;
	padding                          : 10px;
}

#trackback-box #command-box dl dt
{
	float                            : left;
	margin-right                     : 3px;
	text-align                       : right;
	width                            : 100px;
}

#trackback-box #command-box dl dd
{
	float                            : left;
}

#trackback-box #command-box dl,
#trackback-box #command-box dl dd.clear
{
	clear                            : both;
	float                            : none;
}

#trackback-box #command-box label
{
	cursor                           : pointer;
}

#trackback-box #command-box .input-line
{
	margin-top                       : 10px;
}

#trackback-box #command-box .input-line dd
{
	padding-top                      : 4px;
}

#trackback-box #command-box .input-line dd .text-input
{
	border                           : 1px solid #9DCAFB;
	/*height                           : 1.7em;*/
	margin-top                       : -7px;
	padding                          : 3px;
	vertical-align                   : middle;
	width                            : 360px;
}

#trackback-box #command-box .button-input
{
	border                           : 1px solid #6297D1;
	background-color                 : #83AFE0;
	color                            : #FFFFFF;
	font-weight                      : bold;
	font-size                        : 94%;
	height                           : 1.9em;
	margin-top                       : -7px;
	padding                          : 0 6px;
	vertical-align                   : middle;
}

#trackback-box #command-box table
{
	margin-top                       : 20px;
}

#trackback-box #command-box table .tr-head td
{
	border-top                       : 2px solid #9DCAFB;
	border-bottom                    : 1px solid #9DCAFB;
	background-color                 : #C9E3FF;
	color                            : #2A64A3;
	font-weight                      : bold;
	height                           : 30px;
	padding                          : 3px 7px 0 7px;
}

#trackback-box #command-box table .tr-head .date
{
	width                            : 100px;
}

#trackback-box #command-box table .tr-head .delete
{
	width                            : 14px;
}

#trackback-box #command-box table .tr-head .date span,
#trackback-box #command-box table .tr-head .delete span
{
	display                          : none;
}

#trackback-box #command-box table .tr-body td
{
	border-bottom                    : 1px solid #9DCAFB;
	height                           : 30px;
	padding                          : 3px 7px 0 7px;
}

#trackback-box #command-box table .tr-body .delete
{
	padding                          : 0 3px;
}

#trackback-box #command-box table .tr-body .delete .delete-button
{
	background-image                 : url("../image/deleteX.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 10px;
	width                            : 10px;
}

#trackback-box #command-box table .tr-body .delete .delete-button span
{
	display                          : none;
}

#trackback-box .button-box
{
	margin-top                       : 10px;
	text-align                       : center;
}

#trackback-box .button-box .button-input
{
	border                           : 1px solid #6297D1;
	background-color                 : #83AFE0;
	color                            : #FFFFFF;
	display                          : block;
	font-weight                      : bold;
	font-size                        : 94%;
	height                           : 2em;
	margin                           : 0 auto;
	padding                          : 0 6px;
	vertical-align                   : middle;
	width                            : 100px;
}

/* XHTML comment edit/delete 윈도우용 CSS */

#comment-reply-box
{
	border-top                       : 4px solid #9DCAFB;
	font-family                      : Arial, Tahoma, Verdana, 굴림, Gulim, sans-serif;
}

#comment-reply-box img
{
	display                          : block;
	float                            : right;
	margin                           : 10px 10px 5px 0;
}

#comment-reply-box .title
{
	background-image                 : url("../image/icon_PopupTitle.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #5681B1;
	font-weight                      : bold;
	margin                           : 20px 0 10px 12px;
	padding                          : 1px 0 0 17px;
}

#comment-reply-box #command-box
{
	background-color                 : #EAF4FF;
	border                           : 1px solid #BFDCFC;
	color                            : #2A64A3 !important;
	margin                           : 0 10px;
	padding                          : 10px;
}

#comment-reply-box #command-box dl dt
{
	float                            : left;
	margin-right                     : 3px;
	padding-top                      : 5px;
	text-align                       : right;
	width                            : 100px;
}

#comment-reply-box #command-box dl dd
{
	float                            : left;
}

#comment-reply-box #command-box dl,
#comment-reply-box #command-box dl dd.clear
{
	clear                            : both;
	float                            : none;
	margin-top                       : 2px;
}

#comment-reply-box #command-box label
{
	color                            : #2A64A3 !important;
	cursor                           : pointer;
}

#comment-reply-box #command-box .text-input
{
	border                           : 1px solid #9DCAFB;
	padding                          : 3px;
	width                            : 296px;
}

#comment-reply-box #command-box .secret-line
{
	margin                           : 4px 0 0 105px;
}

#comment-reply-box #command-box .checkbox
{
	vertical-align                   : middle;
}

#comment-reply-box #command-box .content-line
{
	margin-top                       : 6px;
}

#comment-reply-box #command-box textarea
{
	border                           : 1px solid #9DCAFB;
	overflow                         : auto;
	width                            : 303px;
}

#comment-reply-box .button-box
{
	margin-top                       : 5px;
	text-align                       : right;
}

#comment-reply-box #command-box .button-input
{
	border                           : 1px solid #6297D1;
	background-color                 : #83AFE0;
	color                            : #FFFFFF;
	font-weight                      : bold;
	font-size                        : 94%;
	height                           : 1.9em;
	padding                          : 0 6px;
	vertical-align                   : middle;
}

/* XHTML 에러 메세지 윈도우용 CSS */
#body-messege-page
{
	background-image                 : url("../image/e_back.gif");
	background-position              : left top;
}

#body-messege-page .messege-box
{
	background-color                 : #FFFFFF;
	background-image                 : url("../image/back.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	border                           : 1px solid #000000;
	margin-top                       : 140px;
	padding                          : 20px;
	text-align                       : center;
}

#body-messege-page h1
{
	color                            : #213141;
	font-size                        : 12px;
	margin-bottom                    : 10px;
}

#body-messege-page .button-input
{
	border                           : 1px solid #878787;
	background-color                 : #EFEFEF;
	color                            : #000000;
	font-weight                      : bold;
	font-size                        : 12px;
	height                           : 1.9em;
	margin-top                       : 20px;
	padding                          : 0 6px;
}