*
{
	margin                           : 0;
	padding                          : 0;
}

body
{
	background-color                 : #FFFFFF;
	background-image                 : url(../image/bg_Owner.gif);
	background-position              : top left;
	background-repeat                : repeat-x;
	font-size                        : small;
}

/* XHTML comment edit/delete 윈도우용 CSS */
#comment-box
{
	/*border-top                       : 4px solid #9DCAFB;*/
	font-family                      : Tahoma, Helvetica, Arial, Gulim, sans-serif;
	font-size                        : 0.925em;
	padding-top                      : 45px;
}

#comment-box img
{
	display                          : none;
	/*margin                           : 0 auto 10px auto;*/
}

#comment-box #command-box
{
	/*background-color                 : #EAF4FF;*/
	/*border                           : 1px solid #BFDCFC;*/
	margin                           : 0 10px;
	padding                          : 60px 0;
	text-align                       : center;
}

#comment-box #command-box label
{
	/*color                            : #2A64A3 !important;*/
	cursor                           : pointer;
}

#comment-box #command-box .edit-line,
#comment-box #command-box .delete-line
{
	display                          : inline;
}

#comment-box #command-box .radio
{
	vertical-align                   : middle;
}

#comment-box #command-box .delete-line .radio
{
	margin                           : 0 0 0 10px;
}

#comment-box #command-box .password-line
{
	margin-top                       : 30px;
}

#comment-box #command-box .input-text
{
	border                           : 1px solid #BBBBBB;
	/*height                           : 1.7em;*/
	padding                          : 3px;
	vertical-align                   : middle;
}

#comment-box #command-box .input-button
{
	border                           : 1px solid #777777;
	background-color                 : #FFFFFF;
	color                            : #000000;
	font-weight                      : bold;
	font-size                        : 1em;
	height                           : 1.9em;
	padding                          : 0 6px;
	vertical-align                   : middle;
}

/* XHTML trackback edit/delete 윈도우용 CSS */
#trackback-box
{
	/*border-top                       : 4px solid #9DCAFB;*/
	font-family                      : Tahoma, Helvetica, Arial, Gulim, sans-serif;
	font-size                        : 0.925em;
}

#trackback-box img
{
	display                          : none;
	/*float                            : right;
	margin                           : 10px 10px 5px 0;*/
}

#trackback-box .title
{
	background-image                 : url("../image/icon_PopupTitle.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #FFFFFF;
	font-weight                      : bold;
	margin                           : 20px 0 10px 12px;
	padding                          : 1px 0 0 17px;
}

#trackback-box #command-box
{
	/*color                            : #2A64A3 !important;*/
	border                           : 1px solid #DDDDD;
	/*color                            : #2A64A3 !important;*/
	margin                           : 0 10px;
	padding                          : 10px;
}

#trackback-box #command-box dl
{
	clear                            : both;
	float                            : none;
	height                           : 1.8em;
}

#trackback-box #command-box dl dt
{
	float                            : left;
	margin-right                     : 3px;
	text-align                       : right;
	width                            : 100px;
}

#trackback-box #command-box dl dd
{
	float                            : left;
}

#trackback-box #command-box label
{
	cursor                           : pointer;
}

#trackback-box #command-box .input-line dd
{
	padding-top                      : 4px;
}

#trackback-box #command-box .input-line dd .input-text
{
	border                           : 1px solid #999999;
	/*height                           : 1.7em;*/
	font-size                        : 1em;
	margin-top                       : -7px;
	padding                          : 3px;
	vertical-align                   : middle;
	width                            : 350px;
}

#trackback-box #command-box .input-button
{
	border                           : 1px solid #777777;
	background-color                 : #FFFFFF;
	color                            : #000000;
	font-weight                      : bold;
	font-size                        : 1em;
	height                           : 1.9em;
	margin-top                       : -7px;
	padding                          : 0 6px;
	vertical-align                   : middle;
}

#trackback-box #command-box table
{
	margin-top                       : 20px;
}

#trackback-box #command-box table .tr-head td
{
	border-top                       : 2px solid #000000;
	border-bottom                    : 1px solid #000000;
	background-color                 : #FFFFFF;
	/*color                            : #2A64A3;*/
	font-weight                      : bold;
	height                           : 30px;
	padding                          : 3px 7px 0 7px;
}

#trackback-box #command-box table .tr-head .date
{
	width                            : 100px;
}

#trackback-box #command-box table .tr-head .delete
{
	width                            : 14px;
}

#trackback-box #command-box table .tr-head .date span,
#trackback-box #command-box table .tr-head .delete span
{
	display                          : none;
}

#trackback-box #command-box table tr td
{
	border-bottom                    : 1px solid #999999;
	height                           : 30px;
	padding                          : 3px 7px 0 7px;
}

#trackback-box #command-box table tr .date
{
	text-align                       : center;
}

#trackback-box #command-box table tr .delete
{
	padding                          : 0 3px;
}

#trackback-box #command-box table tr .delete .delete-button
{
	background-image                 : url("../image/deleteX.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 10px;
	margin                           : 0 auto;
	width                            : 10px;
}

#trackback-box #command-box table tr .delete .delete-button span
{
	display                          : none;
}

#trackback-box .button-box
{
	clear                            : both;
	padding-top                      : 10px;
	text-align                       : center;
}

#trackback-box .button-box .input-button
{
	border                           : 1px solid #777777;
	background-color                 : #FFFFFF;
	color                            : #000000;
	display                          : block;
	font-weight                      : bold;
	font-size                        : 1em;
	height                           : 2em;
	margin                           : 0 auto;
	padding                          : 0 6px;
	vertical-align                   : middle;
	width                            : 100px;
}

/* XHTML comment edit/delete 윈도우용 CSS */
#comment-reply-box
{
	/*border-top                       : 4px solid #9DCAFB;*/
	font-family                      : Tahoma, Helvetica, Arial, Gulim, sans-serif;
	font-size                        : 0.925em;
}

#comment-reply-box img
{
	display                          : none;
	/*float                            : right;
	margin                           : 10px 10px 5px 0;*/
}

#comment-reply-box .title
{
	background-image                 : url("../image/icon_PopupTitle.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #FFFFFF;
	font-weight                      : bold;
	margin                           : 15px 0 10px 12px;
	padding                          : 1px 0 0 25px;
	height                           : 20px;
}

#comment-reply-box #command-box
{
	/*background-color                 : #EAF4FF;*/
	border                           : 1px solid #DDDDD;
	/*color                            : #2A64A3 !important;*/
	margin                           : 0 10px;
	padding                          : 10px;
}

#comment-reply-box #command-box dl dt
{
	float                            : left;
	margin-right                     : 3px;
	padding-top                      : 5px;
	text-align                       : right;
	width                            : 100px;
}

#comment-reply-box #command-box dl dd
{
	float                            : left;
}

#comment-reply-box #command-box dl
{
	clear                            : both;
	float                            : none;
	height                           : 1.8em;
	margin-top                       : 2px;
}

#comment-reply-box #command-box label
{
	/*color                            : #2A64A3 !important;*/
	cursor                           : pointer;
}

#comment-reply-box #command-box .input-text
{
	border                           : 1px solid #999999;
	font-size                        : 1em;
	padding                          : 3px;
	width                            : 296px;
}

#comment-reply-box #command-box .secret-line
{
	height                           : 1.2em;
	margin                           : 4px 0 0 105px;
}

#comment-reply-box #command-box .checkbox
{
	vertical-align                   : middle;
}

#comment-reply-box #command-box .content-line
{
	margin-top                       : 6px;
}

#comment-reply-box #command-box textarea
{
	border                           : 1px solid #999999;
	font-size                        : 1em;
	overflow                         : auto;
	width                            : 303px;
}

#comment-reply-box .button-box
{
	clear                            : both;
	padding                          : 5px 5px 0 0;
	text-align                       : right;
}

#comment-reply-box #command-box .input-button
{
	border                           : 1px solid #777777;
	background-color                 : #FFFFFF;
	color                            : #000000;
	font-weight                      : bold;
	font-size                        : 97%;
	height                           : 1.9em;
	padding                          : 0 6px;
	vertical-align                   : middle;
}

/* XHTML 에러 메세지 윈도우용 CSS */
#body-message-page
{
	background-image                 : url("../image/e_back.gif");
	background-position              : left top;
}

#body-message-page .message-box
{
	background-color                 : #FFFFFF;
	background-image                 : url("../image/back.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	border                           : 1px solid #000000;
	margin-top                       : 140px;
	padding                          : 20px;
	text-align                       : center;
}

#body-message-page h1
{
	color                            : #213141;
	font-size                        : 12px;
	margin-bottom                    : 10px;
}

#body-message-page .input-button
{
	border                           : 1px solid #878787;
	background-color                 : #EFEFEF;
	color                            : #000000;
	font-weight                      : bold;
	font-size                        : 12px;
	height                           : 1.9em;
	margin-top                       : 20px;
	padding                          : 0 6px;
}

/* XHTML 에러 메세지 페이지용 CSS */
#body-message-page
{
	background-color                 : transparent;
	background-image                 : url("../image/bg_message_page.gif");
	background-position              : left top;
}

#body-message-page .message-box
{
	background-color                 : #FFFFFF;
	background-image                 : url("../image/bg_message.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	border                           : 1px solid #000000;
	font-family                      : Tahoma, Helvetica, Arial, Gulim, sans-serif;
	font-size                        : 0.925em;
	margin-top                       : 140px;
	padding                          : 20px;
	text-align                       : center;
}

#body-message-page h1
{
	color                            : #213141;
	font-size                        : 12px;
	margin-bottom                    : 10px;
}

#body-message-page .input-button
{
	border                           : 1px solid #878787;
	background-color                 : #EFEFEF;
	color                            : #000000;
	font-weight                      : bold;
	font-size                        : 12px;
	height                           : 1.9em;
	margin-top                       : 20px;
	padding                          : 0 6px;
}