	#menu td {
	font:14px;
	font-weight:bold;
	padding-bottom:8px;
	}

	#menu a:hover {
	text-decoration:none;	
	color:#2e67b4;
	}

	#progress {
	font-size:10px;
	font-family:Tahoma;
	font-weight:normal;
	padding-bottom:8px;
	}

	#utilmenu td {
	font:12px;
	font-weight:bold;
	padding-bottom:8px;
	}	

	#utilmenu a:hover {
	text-decoration:none;	
	color:#2e67b4;
	}	

  #resizable {
  	table-layout: fixed;
  	height: 100px;
    overflow: hidden;
  }

  #groupBox {
	width: 100%; 
	height: 100%;
	overflow: auto;
	background-color: #fff;
	} 
	
  #feedBox {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color:#fff;
	}
	
  #feedBox table {
  	width: 100%;
  }
  
  * html #feedBox table {
  	width: 94%;
  }
  
  #floatingList {
	position: relative;
	left: 0px;
	top: 0px;
  }

  #listup {
	width: 253px;
	overflow: auto;
	height: 450px; 
	background-color:#ECF4FF;
	}

  #feedBox, #groupBox {
	scrollbar-face-color: #dddddd;
	scrollbar-shadow-color:#ffffff; 
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #ffffff; 
	scrollbar-darkshadow-color: #ffffff;      
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #ffffff;
  }

  #listup {
	scrollbar-face-color: #B1D2FB;
	scrollbar-shadow-color:#ECF4FF; 
	scrollbar-highlight-color: #ECF4FF;
	scrollbar-3dlight-color: #ECF4FF; 
	scrollbar-darkshadow-color: #ECF4FF;      
	scrollbar-track-color: #ECF4FF;
	scrollbar-arrow-color: #ECF4FF;		
  }

  .read, .read span {
	color: #999;
  }

  .unread span {
	color: #0047B6;
  }
  
  .ib {
    cursor: pointer;
  }
