@charset "utf-8";
<!--

/********************************************
	반드시 들어가야 하는 스타일 시작
********************************************/

/* 1. 본문 전체  */
	body,td {
				font: normal 9pt Verdana, Arial, sans-serif;
                color: #666;
                line-height:18px;
                

                scrollbar-face-color: #EEE;
                scrollbar-shadow-color:#EEE; 
                scrollbar-highlight-color: #EEE;
                scrollbar-3dlight-color: #FFF; 
                scrollbar-darkshadow-color: #FFF;      
                scrollbar-track-color: #FFF;
                scrollbar-arrow-color: #FFF;
	}

/* 2. 기본 링크 */
	a {
		color: #369;
		text-decoration: none;
	}

	a:hover {
		color: #222;
		text-decoration: underline;
	}


/* 3. 이미지 */
	img { border-width:0; }

/* 4. 이미지 버튼 */
	.ib { cursor: pointer; }

/* 5. 입력 텍스트 */
	.text {
			border: 1px solid #CCC; 
			background-color: #FFF;	
			height: 18px; 
			color: #666; 
			font-size: 8pt; 
			padding: 2px 2px 0 4px;
	}

/* 6. 트리 테이블 */
	.branch2 {
		font-size: 8pt;
		font-family: Dotum, 돋움, Arial, sans-serif;	
	}

/* 7. 트리 셀 */
	.branch3 {
		line-height: 14px;
		cursor: pointer;
		height: 17px;
		padding: 2px 2px 0 2px;
	}

/***. 달력 폰트 지정 */
	.cal_month, .cal_week1, .cal_week2, .cal_day1, .cal_day2, .cal_day3, .cal_day4 {
		font-family: Verdana, Arial, sans-serif;
		text-align: center;
	}

	.cal_month {
		font-size: 8pt;
	}

	.cal_week1, .cal_week2, .cal_day1, .cal_day2, .cal_day3, .cal_day4 {
		font-size: 7.5pt;
	}

	.cal_month, .cal_week1, .cal_week2, .cal_day4 {
		font-weight: bold;
	}

	.cal_day1, .cal_day2 {
		color: #FAFAFA;
	}

/* 8. 달력 월 표시 */
	.cal_month {
		vertical-align: top;
		height: 18px;
		color: #F00;
	}

/* 9. 달력 요일 표시 */
	.cal_week1 {
	}

/* 10. 달력 일요일 표시 */
	.cal_week2 {
		color: #C00;
	}

/* 11. 달력 지난 달 날짜 표시 */
	.cal_day1 {
	}

/* 12. 달력 다음 달 날짜 표시 */
	.cal_day2 {
	}

/* 13. 달력 이번 달 날짜 표시 */
	.cal_day3 {
	}

/* 14. 달력 오늘 날짜 표시 */
	.cal_day4 {
		background-color: #EEE;	
	}

/* 15. 달력 글쓴 날 링크 스타일 */
	A.cal_click { font-weight: bold;	}

/* 16. 이미지 아래 캡션 스타일 */
	.cap1 {
		text-align: center;
		color: #300099;
		word-break: break-all;
	}

/* 16. 키워드 스타일 */
	.key1 {
		cursor: pointer;
		text-decoration: none;
		border-bottom: 1px solid gray;
	}

/****. 카테고리 옆 개수 스타일 및 최신글 옆 개수 스타일 공통사항 */
	.c_cnt, .ps_cnt {
		font: 7.5pt Tahoma, Arial, sans-serif;
		letter-spacing: 0;
	}

/* 16. 카테고리 옆 개수 스타일 */
	.c_cnt {
	}

/* 17. 최신글 옆 개수 스타일 */
	.ps_cnt {
		color: #369;
	}
	
	/* 태그클라우드 */
.cloud1 {
  font-size : 14px;
  color : #F60 !important ;
  }

.cloud2 {
  font-size : 13px;
  color : #F90 !important ;
  }

.cloud3 {
  font-size : 10pt;
  color : #690 !important ;
  }

.cloud4 {
  font-size : 10pt;
  color : #09C !important ;
  }

.cloud5 {
  font-size : 11px;
  color : #999 !important ;
  }
	
/*******************************
* PLYFLY.NET
* coding by leezche
* leezche@nate.com 

* BASE rule
********************************/
h1 {
	font: 14pt Verdana, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.sthm, .sver, .sdot, .head_title, .gbtn_kor, .gbtn_eng, .keyword, .sbtn_kor, .sbtn_eng, .info_link,
a.sthm, a.sver, a.sdot, a.head_title, a.gbtn_kor, a.gbtn_eng, a.keyword, a.sbtn_kor, a.sbtn_eng, a.info_link {
	color: #666;
}

a.sthm:hover, a.sver:hover, a.sdot:hover, a.head_title:hover, a.gbtn_kor:hover,
a.gbtn_eng:hover, a.keyword:hover, a.sbtn_kor:hover, a.sbtn_eng:hover, a.info_link:hover {
	color: #369;
}

.sthm, a.sthm {	font-family: Tahoma, Arial, sans-serif; }

.sver, a.sver, .sidebar_title, .gbtn_eng, a.gbtn_eng, .keyword, a.keyword, .sbtn_eng, a.sbtn_eng {
	font-family: Verdana, Arial, sans-serif;
}

.sdot, a.sdot, .head_title, a.head_title, .sbtn_kor, a.sbtn_kor, .info_link, a.info_link {
	font-family: Dotum, 돋움, Arial, sans-serif;
}

.sthm, a.sthm, .sver, a.sver, .sbtn_eng, a.sbtn_eng {
	font-size: 7.5pt;
}

.sdot, a.sdot, .gbtn_kor, a.gbtn_kor, .sbtn_kor, a.sbtn_kor, .info_link, a.info_link {
	font-size: 8pt;
}

.keyword, a.keyword { font-size: 9pt; }


.sdot, a.sdot { font: 8pt Dotum, 돋움, Arial, sans-serif; }

.sidebar_title {
	font: bold 7.5pt Verdana, Arial, sans-serif;
	color: #666;
}

.head_title, a.head_title {
	font-weight: bold;
	font-size: 10.5pt
}

.td_bodyt { padding: 10px 10px 5px 10px; }

.td_body {padding: 10px 10px 5px 10px; }

.td_info {padding: 3px 3px 3px 10px; }




/************************
	Form Cascadings	
************************/

input, textarea {
	border: 1px solid #CCC;
}

input, submit, textarea {
	background: #FFF;
	padding: 2px 20px 0 4px;
}

submit, textarea {
	width: 100%;
}

input {
	height:16px; 
	color: #666; 
	font-size: 9pt; 
	font-family: Tahoma, Verdana, sans-serif; 
}
		
submit {
	border: 1px solid #777;
}

textarea [
]


/************************************************************
	COMMON rule_txt  :  수정하지 말고 카피해서 쓰자!!!
************************************************************/
a.base_txt {
	color: #333;
	text-decoration: none;
	font: 7.5pt Tahoma, Verdana, Arial;
}

a.base_txt:hover {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

.num {
	font: 7.5pt Tahoma, Verdana, Arial;
	letter-spacing: 0;
}

.copyright {
	font: 7pt Tahoma, Arial, sans-serif;
	color: #999;
}

.lh10 { line-height:100%; }
.lh13 { line-height:130%; }
.lh15 { line-height:150%; }

.ever1px { letter-spacing: -1px; } /* 자간을 좁게 */
.ever0px { letter-spacing: 0; }


.kgul7, .kgul8, .kgul9 { font-family: Gulim, 굴림, Arial, sans-serif; }

.kgul7 { font-size:7pt; }
.kgul8 { font-size:8pt; }
.kgul9 { font-size:9pt; }


.etah6, .etah7, .etah8, .etah9 { font-family: Tahoma, Arial, sans-serif; }
.
.etah6, .evar6 { font-size:6pt; }
.etah7, .evar7 { font-size:7pt; }
.etah8, .evar8 { font-size:8pt; }
.etah9, .evar9 { font-size:9pt; }


/****************
	FORM
****************/

/* input */
.input_gray, .input_line, .input_orange {
	font: 9pt Tahoma, Arial, sans-serif;
	color: #333;
	background: #DDD;
	height: 18px;
}

.input_gray { border: 1px solid #FFF; }
.input_line { border: 1px solid #333; }
.input_orange { border: 1px solid #999; }

/* button */
.button_gray, .button_blue {
	font: bold 7pt Tahoma,verdana;
	color: #FFF;
}

.button_gray {
	border: solid 0 #333;
	background: #EEE;
	height: 17px;
}

.button_blue {
	border: solid 0 #FFF;
	background: #369;
	height:18px;
}

/* textarea */
.ta_gray, .ta_line {
	color: #333;
	font: 9pt Tahoma, Arial, sans-serif;
}

.ta_gray {
	border: 1px solid #FFF;
	background:#DDD;
}

.ta_line {
	border: 1px solid #333;
	background: #FFF;
}


/****************************
	common : TABLES
****************************/
.fixed { table-layout: fixed; }

.tbYellowOuter {
	border: 1px solid #C5C5A7;
	border-left: 1px solid #D3D3B9;
	border-top: 1px solid #D3D3B9;
	background-color: #FFFFEF;
}

.tbYellowInner {
	border: 1px solid #FFF;
	padding: 4px;
	padding-top: 0;
}


/****************************
	common : CURSORS
****************************/
.curHand { cursor: pointer; }
.curWait { cursor: wait; }
.curCross { cursor: crosshair; }
.curMove { cursor: move; }

.title, a.title {
	font-size: 15pt;
	color: #333;
	font-weight: bold;
}


/********************
	input form
********************/

.search_input, .search_btn, .guest_submit, .input_protect, .submit_protect {
	font-family: Tahoma, Arial, sans-serif;
}

.search_input, .input_protect, .submit_protect {
	font-size: 10pt;
}

.search_btn {
	font-size: 7.5pt;
}

.guest_submit {
	font-size: 8pt;
}

.search_btn, .guest_submit, .submit_protect {
	font-weight: bold;
}

.guest_submit, .submit_protect {
	border: 1px solid #999;
}

.search_input, .guest_submit, .submit_protect {
	color: #666;
}

.search_btn, .submit_protect {
	background: #CCC;
}

.search_input, .input_protect {
	background: #FFF;
}

.search_input, .search_btn {
	height: 18px;
}

.guest_submit, .input_protect, .submit_protect {
	height: 20px;
}

.search_btn, .submit_protect {
	width: 50px;
}


.search_input {
	padding: 2px 2px 0 4px;
}

.search_btn {
	border: 1px solid #888;
	color: #333;
}

.guest_submit {
	background: #CCC;
	width: 200px;
}

.input_protect {
	width: 100px;
}   

.submit_protect {
} 