@charset "utf-8";

/* Layout Body ***********************************************************************************/

.part .caption
{
	height                           : 2.45em;
}

/* Layout Footer *********************************************************************************/

#version
{
	padding-left                     : 3px;
}

/* Etc *******************************************************************************************/

.input-button
{
	line-height                      : 2.4em !important;
	padding                          : 0 5px !important;
}

input.checkbox,
input.radio
{
	margin                           : -3px -3px 0 0!important;
}
