@charset "utf-8";

/* Basic Tag *************************************************************************************/

*
{
	margin                           : 0;
	padding                          : 0;
}

a:link,
a:visited
{
	text-decoration                  : none;
}

a:hover,
a:active
{
	text-decoration                  : underline;
}

abbr,
acronym
{
	border-bottom                    : none;
	cursor                           : help;
}

body
{
	font-family                      : ±¼¸², Gulim, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size                        : small;
	margin                           : 14px 0 0 0;
}

em
{
	color                            : #FF0000;
	font-style                       : normal;
}

h1,
h2,
h3
{
	display                          : none;
	font-size                        : 1em;
}

input
{
	font-size                        : 1em;
}

kbd
{
	color                            : #666666;
	font-family                      : ±¼¸², Gulim, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

label
{
	cursor                           : pointer;
}

ol,
ol li
{
	list-style-type                  : none;
}

samp
{
	color                            : #666666;
	font-family                      : ±¼¸², Gulim, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif !important;
}

optgroup
{
	font-style                       : normal;
}

option
{
	padding-left                     : 5px;
	padding-right                    : 5px;
}

select
{
	font-size                        : 1em;
}

textarea
{
	border                           : 1px solid #878787;
	font-family                      : ±¼¸², Gulim, Verdana, Tahoma, Arial, 'Lucida Grande', sans-serif;
	font-size                        : 1em;
}

ul,
ul li
{
	list-style-type                  : none;
}

/* Special Class *********************************************************************************/

input.password-input,
input.text-input
{
	border                           : 1px solid #878787;
	font-family                      : ±¼¸², Gulim, Verdana, Tahoma, Arial, 'Lucida Grande', sans-serif;
	padding                          : 2px;
}

input.text-readonly-input
{
	border                           : 1px solid #878787;
	font-family                      : ±¼¸², Gulim, Verdana, Tahoma, Arial, 'Lucida Grande', sans-serif;
	padding                          : 2px;
}

.checkbox,
.radio
{
	vertical-align                   : middle;
}

/* Layout ****************************************************************************************/

#temp-wrap
{
	width                            : 100%;
}
	
#all-wrap
{
	font-size                        : 0.925em;
	text-align                       : justify;
}

#layout-head
{
	position                         : relative;
}

#layout-body
{
	background-color                 : #1E6A96;
	background-image                 : url("./image/bg.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	clear                            : both;
	padding                          : 10px 0 20px 0;
}

#layout-footer
{
	background-color                 : #4088B0;
	background-image                 : url("./image/footerLine.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	clear                            : both;
	color                            : #FFFFFF;
	font-family                      : Tahoma, sans-serif;
	font-size                        : 10px;
	padding                          : 11px 20px;
}

/* Main Description ******************************************************************************/

#description-blog
{
	background-image                 : url("./image/menuLine2.gif");
	background-repeat                : repeat-x;
	position                         : absolute;
	right                            : 85px;
	top                              : 24px;
	padding-right                    : 2px;
}

#description-blog a
{
	background-image                 : url("./image/blog.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 19px;
	width                            : 82px;
}

#description-blog a span
{
	display                          : none;
}

#description-logout
{
	position                         : absolute;
	right                            : 34px;
	top                              : 24px;
}

#description-logout a
{
	background-image                 : url("./image/logout.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 19px;
	width                            : 51px;
}

#description-logout a span
{
	display                          : none;
}

#description-blogger
{
	display                          : none;
}

/* Main Menu *************************************************************************************/

#main-menu-box
{
	background-color                 : #1C6791;
	background-image                 : url("./image/mainMenuBG.gif") !important;
	background-position              : left top;
	background-repeat                : repeat-x;
	height                           : 2.6em;
	margin                           : 0 10px 0 195px;
}

#main-menu
{
	background-image                 : url("./image/mainMenuRight.gif");
	background-position              : right top;
	background-repeat                : no-repeat;
	height                           : 2.6em;
	overflow                         : hidden;
}

#main-menu li a:link,
#main-menu li a:visited
{
	color                            : #FFFFFF;
	display                          : block;
	font-weight                      : bold;
}

#main-menu li a:hover,
#main-menu li a:active
{
	text-decoration                  : underline;
}

#main-menu li.selected a
{
	background-color                 : #FF7300;
	padding-left                     : 5px !important;
	padding-right                    : 5px !important;
}

#menu-center,
#menu-post,
#menu-notice,
#menu-link,
#menu-skin,
#menu-trash,
#menu-statistics,
#menu-setting,
#menu-reader
{
	background-image                 : url("./image/mainMenuSeparate.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	float                            : left;
	padding                          : 10px 4px 0 9px;
}

#menu-center a,
#menu-post a,
#menu-notice a,
#menu-link a,
#menu-skin a,
#menu-trash a,
#menu-statistics a,
#menu-setting a,
#menu-reader a
{
	padding                          : 4px 0 2px 0;
}

#menu-center
{
	background-image                 : url("./image/mainMenuLeft.gif");
	background-position              : left top;
	padding-left                     : 24px;
}

/* special --------------------------------------------------------------------------------------*/
#menu-tattertools
{
	left                             : 24px;
	position                         : absolute;
	top                              : 13px;
	z-index                          : 100;
}

#menu-tattertools a
{
	background-image                 : url("./image/controlPanelLogo.gif");
	display                          : block;
	height                           : 29px;
	width                            : 146px;
}

#menu-tattertools a span
{
	display                          : none;
}

/* Sub Menu **************************************************************************************/

#sub-menu
{
	height                           : 2.1em;
	margin                           : 0 20px 0 30px;
	min-width                        : 840px;
}

#sub-menu li
{
	background-color                 : #009FEB;
	float                            : left;
	height                           : 2.1em;
	margin                           : 0 1px;
}

#sub-menu li a
{
	background-color                 : #009FEB;
	background-image                 : url("./image/subTab.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	float                            : left;
	height                           : 2.1em;
	padding-left                     : 7px;
}

#sub-menu li a span
{
	background-image                 : url("./image/subTab.gif");
	background-position              : right top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	padding                          : 0.5em 7px 0 0;
}

#sub-menu li a:link,
#sub-menu li a:visited
{
	color                            : #FFFFFF;
	display                          : block;
	font-weight                      : bold;
	height                           : 2.1em;
}

#sub-menu li a:hover,
#sub-menu li a:active
{
	background-color                 : #FFFFFF;
	background-image                 : url("./image/subTabActive.gif");
}

#sub-menu li a:hover span,
#sub-menu li a:active span
{
	color                            : #009DEA;
	background-image                 : url("./image/subTabActive.gif");
	text-decoration                  : underline;
}

#sub-menu li.selected
{
	height                           : 2.1em;
}

#sub-menu li.selected a
{
	background-color                 : #FFFFFF;
	background-image                 : url("./image/subTabActive.gif");
}

#sub-menu li.selected a span
{
	background-image                 : url("./image/subTabActive.gif");
}

#sub-menu li.selected a:link,
#sub-menu li.selected a:visited
{
	color                            : #009DEA;
}

#sub-menu-helper
{
	background-color                 : transparent !important;
	background-image                 : url("./image/iconHelp.gif");
	background-position              : right 5px;
	background-repeat                : no-repeat;
	float                            : right !important;
	margin-right                     : 10px !important;
	padding-right                    : 12px;
}

#sub-menu-helper a,
#sub-menu-helper a span
{
	background-color                 : transparent !important;
	background-image                 : none !important;
	color                            : #FFFFFF !important;
	display                          : inline;
	font-weight                      : normal;
}

/* Data Box **************************************************************************************/

/* psuedo box -----------------------------------------------------------------------------------*/
#psuedo-box
{
	background-color                 : #FFFFFF;
	background-image                 : url("./image/round_left.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	margin                           : 0 20px;
	min-width                        : 920px;
	padding                          : 0 0 20px 20px;
	position                         : relative;
}

/* data oubox -----------------------------------------------------------------------------------*/
#data-outbox
{
	background-image                 : url("./image/round_right.gif");
	background-position              : right top;
	background-repeat                : no-repeat;
	min-width                        : 849px;
	padding-right                    : 20px;
}

#data-outbox h2.caption
{
	background-image                 : url("./image/sectionDescriptionIcon.gif");
	background-position              : left 1.4em;
	background-repeat                : no-repeat;
	display                          : block;
	font-size                        : 1em;
	font-weight                      : bold;
	margin                           : 0 3px 10px 3px;
	padding                          : 1.6em 0 0 21px;
	text-align                       : left;
}

#category-form
{
	border                           : none !important;
	background-color                 : transparent !important;
	padding                          : 0 !important;
	margin                           : -27px 0 10px auto !important;
	text-align                       : right;
	width                            : 220px !important;
}

#category-form select
{
	/*float                            : left;
	margin-top                       : 2px;*/
}

#category-form .button
{
	width                            : 70px;
}

#data-outbox .main-explain-box .explain
{
	background-color                 : #EFEFEF;
	display                          : block;
	margin-bottom                    : 5px;
	padding                          : 6px 5px 4px 5px;
	text-align                       : left;
}

#data-outbox .main-explain-box .explain a:link,
#data-outbox .main-explain-box .explain a:visited
{
	color                            : #999999;
}

#data-outbox .main-explain-box .explain a:hover,
#data-outbox .main-explain-box .explain a:active
{
	color                            : #BBBBBB;
}
							
/* data inbox -----------------------------------------------------------------------------------*/
#data-outbox .data-inbox a:link,
#data-outbox .data-inbox a:visited
{
	color                            : #5A8FC9;
	text-decoration                  : none;
}

#data-outbox .data-inbox a:hover,
#data-outbox .data-inbox a:active
{
	text-decoration                  : underline;
}

#data-outbox div.data-inbox,
#data-outbox form.data-inbox
{
	background-color                 : #EBF2F8;
	border-bottom                    : 2px solid #009DEA;
	border-top                       : 2px solid #009DEA;
	color                            : #536576;
	margin-top                       : 5px;
	overflow                         : hidden;
	padding                          : 12px 0;
	width                            : 100%;
}

#data-outbox table.data-inbox
{
	border-bottom                    : 2px solid #009DEA;
	border-collapse                  : collapse;
	width                            : 100%;
}

#data-outbox table.data-inbox thead
{
	background-color                 : #009DEA;
	background-image                 : url("./image/table-head.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
}

#data-outbox table.data-inbox thead tr th
{
	color                            : #FFFFFF;
	font-weight                      : bold;
	text-transform                   : uppercase;
	padding                          : 6px 5px 4px 5px;
}

#data-outbox table.data-inbox thead tr .selection
{
	padding                          : 0 5px;
}

#data-outbox table.data-inbox thead tr .delete
{
	width                            : 12px;
}

#data-outbox table.data-inbox thead tr .delete span
{
	display                          : none;
}

#data-outbox table.data-inbox tbody tr td
{
	border-bottom                    : 1px dotted #CCCCCC;
	color                            : #536576;
	padding                          : 5px 5px 2px 5px;
	overflow                         : hidden;
	text-align                       : left;
}

#data-outbox table.data-inbox tbody tr td.selection
{
	padding-top                      : 2px;
	padding-bottom                   : 0;
}

#data-outbox table.data-inbox tbody tr td.delete
{
	padding                          : 2px 9px 0 5px !important;
	width                            : 25px;
}

#data-outbox table.data-inbox tbody tr td .delete-button
{
	background-color                 : transparent;
	background-image                 : url("./image/delete2.gif");
	background-position              : left top;
	height                           : 11px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 11px;
}

#data-outbox table.data-inbox tbody tr td .delete-button span
{
	display                          : none;
}

#data-outbox table.data-inbox tbody tr td.rollover-class
{
	background-color                 : #EEEEEE;
}

#data-outbox table.data-inbox tbody tr td.inactive-class
{
	background-color                 : transparent;
}

/* data subbox ----------------------------------------------------------------------------------*/
#data-outbox div.data-subbox
{
	background-color                 : #EBF2F8;
	border-bottom                    : 2px solid #00A6ED;
	margin-top                       : 1px;
	padding                          : 9px 10px 7px 10px;
	position                         : relative;
}

#data-outbox div.data-subbox h2
{
	display                          : none;
}

/* multi-selection deleter in sub-box */
#change-section,
#delete-section
{
	height                           : 24px;
	margin-top                       : -2px;
	padding                          : 0 0 0 3px;
}

#change-section label
{
	display                          : block;
	float                            : left;
	padding-top                      : 6px;
}

#change-section select
{
	float                            : left;
	margin                           : 2px 0 0 3px;
}

#change-section select optgroup option
{
	background-color                 : #EFEFEF;
	padding-left                     : 20px;
}

#delete-section .label
{
	display                          : block;
	float                            : left;
	padding-top                      : 5px;
}

#data-outbox div.data-subbox .button
{
	float                            : left;
	width                            : 70px;
}

#data-outbox div.data-subbox .delete-button span
{
	color                            : #FF0000;
	width                            : 66px;
}

#data-outbox div.data-subbox .delete-button:hover span
{
	color                            : #FF6F6F;
}

/* lines per page */
#page-section .page-count
{
	bottom                           : 5px;
	position                         : absolute;
	right                            : 13px;
	text-align                       : right;
	vertical-align                   : 2px;
	width                            : 300px;
}

/* page navigation */
#page-navigation
{
	border-top                       : 1px dotted #CCCCCC;
	clear                            : both;
	margin-top                       : 7px;
	padding                          : 10px 120px 0 3px;
}

#page-list
{
	padding-left                     : 28px;
}

#page-list a:link,
#page-list a:visited
{
	color                            : #000000;
}

#page-list a:hover,
#page-list a:active
{
	color                            : #979797;
}

#page-list a.selected:link,
#page-list a.selected:visited
{
	color                            : #FF0000 !important;
}

#page-list a.selected:hover,
#page-list a.selected:active
{
	color                            : #FF3333 !important;
}

/* search */
#search-form
{
	border                           : none !important;
	background-color                 : transparent !important;
	padding                          : 0 !important;
	position                         : absolute;
	bottom                           : 62px;
	right                            : 33px;
	margin                           : 5px 0 0 auto !important;
	width                            : 163px !important;
}

#search-form label
{
	display                          : none;
}

#search-form input#search
{
	float                            : left;
	margin-top                       : 2px;
	width                            : 70px;
}

/* fieldset -------------------------------------------------------------------------------------*/
fieldset
{
	border                           : none;
}

legend
{
	display                          : none;
}

#data-outbox dl
{
	clear                            : both;
	height                           : 1.5em;
	margin                           : 0 0 6px 0;
}

#data-outbox dl dt
{
	float                            : left;
	font-weight                      : bold;
	margin-right                     : 15px;
	padding-top                      : 2px;
	text-align                       : right;
	width                            : 200px;
}

#data-outbox dl dd
{
	float                            : left;
}

/* button ---------------------------------------------------------------------------------------*/
#data-outbox .button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	display                          : block;
	margin-left                      : 3px;
	overflow                         : hidden;
	padding-left                     : 4px;
}

#data-outbox .button span 
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	background-position              : right top;
	background-repeat                : no-repeat;
	display                          : block;
	font-weight                      : bold;
	overflow                         : visible;
	padding                          : 6px 4px 3px 0; /* 4px 4px 4px 0 !important; for english */
	text-align                       : center;
}

#data-outbox a.button:link, 
#data-outbox a.button:visited
{
	color                            : #000000;
}

#data-outbox a.button:hover, 
#data-outbox a.button:active
{
	color                            : #565656;
	text-decoration                  : none;
}

#data-outbox .button-box
{
	clear                            : both;
}

#data-outbox .button-box .button
{
	background-image                 : url("./image/button2.gif");
	width                            : 106px;
}

#data-outbox .button-box .button span
{
	background-image                 : url("./image/button2.gif");
	width                            : 102px;
}

#data-outbox .button-box .divider
{
	display                          : none;
}

/* Footer ****************************************************************************************/

#copyright
{
	float                            : left;
}

#version
{
	color                            : #C2E9FF;
	text-align                       : right;
}

/* Etc *******************************************************************************************/

/* eolin suggest */
.eolinSuggest
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #BBBBBB;
}

.eolinSuggest li
{
	margin                           : 3px;
	cursor                           : pointer;
}

.eolinSuggest li.hover
{
	background-color                 : #edf !important;
}

.eolinSuggest li.disabled
{
	color                            : #777;
}

.eolinSuggest
{
	font-size                        : 9pt;
}

/* etc */
.hidden,
.clear
{
	display                          : none;
}
