@charset "utf-8";

/* Layout Body ***********************************************************************************/

.part .caption
{
	height                           : 2.45em;
}

/* data subbox */
#search-form
{
	top                              : 59px;
}

#page-section .page-count
{
	right                            : 30px;
}

.data-subbox .input-button,
#search-form .input-button
{
	line-height                      : 1.6em !important;
}

/* Layout Footer *********************************************************************************/

#version
{
	padding-left                     : 3px;
}

/* Etc *******************************************************************************************/

.input-button
{
	height                           : 1.75em;
	line-height                      : 2.4em !important;
	padding                          : 0 5px !important;
}

input.checkbox,
input.radio
{
	margin                           : -3px 0 0 0;
}
