@charset "utf-8";

/* Dashboard *************************************************************************************/

/* shortcut */
#shortcut-collection h3
{
	width                            : 180px;
}

/* total information */
#total-information h3
{
	width                            : 180px;
}

#total-information table
{
	margin-top                       : -3px;
}

/* notice */
#textcube-notice h3
{
	width                            : 390px;
}

#textcube-notice table
{
	margin                           : -3px 0 20px 0 !important;
	width                            : 410px;
}

/* quilt */
#part-center-quilt .panel
{
	height                           : 100px;
}

#independent-notice-line dd
{
	padding-top                      : 6px;
}

#cite
{
	padding-right                    : 0;
	width                            : 620px;
}

/* Metapage ***************************************************************************************/

#part-metapage-order
{
	background-position              : 308px 135px;	
}

#metapage-preview-mode
{
	margin                           : 30px 10px 13px 10px;
}

#metapage-box
{
	margin-right                     : 3px !important;
	width                            : 603px;
}

#metapage-box .section ul.metapage
{
	height                       : 200px;
}

#metapage-element-box
{
	margin-left                      : 5px;
}

#metapage-element-box fieldset ul.module-list
{
	height                           : 418px;
	overflow-y                       : scroll;
}

#metapage-element-box fieldset ul li.metapage-module
{
	width                            : auto;
}

#metapage-description
{
	padding-top                      : 0 !important;
}

#independent-meta-line
{
	margin: -31px 10px 0 0;
}

/* Credit ****************************************************************************************/

#maintainer-container,
#internationalization-container,
#support-container
{
	right                            : 15px;
}

#supporter-description h3
{
	height                           : 2.45em;
}

/* classes for AJAX *******************************************************************************/

.ajax-popup-window .button-box .input-button
{
	padding-top                      : 2px !important;
}