@charset "utf-8";

/* Blog ******************************************************************************************/

/* basic ----------------------------------------------------------------------------------------*/

h3
{
	display                          : block !important;
	font-size                        : 1em;
}
									   }

#part-setting-basic dl dt
{
	padding-top                      : 4px;
	width                            : 160px;
}

/* common section */
#part-setting-basic #common-form
{
	float                            : left;
	width                            : 400px;
}

#part-setting-basic #common-form .text-input
{
	width                            : 196px;
}

#part-setting-basic #common-form textarea
{
	width                            : 200px;
}

#part-setting-basic #common-form .button-box
{
	padding                          : 20px 0 10px 43px;
	width                            : 400px;
}

#part-setting-basic #common-form .button-box .button
{
	margin                           : 0 auto;
}

/* multi section */
#part-setting-basic #multi-form
{
	float                            : left;
	width                            : 500px;
}

#part-setting-basic #multi-form .text-input
{
	margin                           : 0 2px;
}

#part-setting-basic #multi-form .button-box
{
	padding                          : 20px 0 10px 0;
	width                            : 500px;
}

#part-setting-basic #multi-form .button-box .button
{
	margin                           : 0 auto;
}

#second-blog-address-line dt
{
	padding-top                      : 3px !important;
}

/* list -----------------------------------------------------------------------------------------*/
#list-section .title
{
	padding-top                      : 7px;
	width                            : 160px;
}

#list-section dl
{
	height                           : auto !important;
}

#list-section dt
{
	float                            : none !important;
	position                         : absolute;
}

#list-section dd
{
	float                            : none !important;
	margin                           : 0 10px 0 175px;
}

#list-section table
{
	border-bottom                    : 2px solid #009DEA;
	border-collapse                  : collapse;
	width                            : 100%;
}

#list-section table thead
{
	background-color                 : #009DEA;
	background-image                 : url("./image/table-head.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
}

#list-section table thead tr th
{
	color                            : #FFFFFF;
	font-weight                      : bold;
	text-transform                   : uppercase;
	padding                          : 6px 5px 4px 5px;
}

#list-section table thead tr th.cancel
{
	padding                          : 2px 9px 0 5px !important;
	width                            : 25px;
}

#list-section table tbody tr th
{
	padding                          : 6px 5px 4px 5px;
}

#list-section table tbody tr td
{
	background-color                 : #FFFFFF;
	border-bottom                    : 1px dotted #CCCCCC;
	color                            : #536576;
	padding                          : 3px 5px;
}


#list-section table tbody tr .cancel-button
{
	background-color                 : transparent;
	background-image                 : url("./image/delete2.gif");
	background-position              : left top;
	height                           : 11px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 11px;
}

#list-section table thead tr th.cancel span,
#list-section table tbody tr .cancel-button span
{
	display                          : none;
}

/* Plugins ***************************************************************************************/

/* sorting setting ------------------------------------------------------------------------------*/
#plugin-display-box
{
	padding                          : 15px 10px 5px 10px;
	text-align                       : right;
}

#scope-line,
#sorting-line,
#activate-status-line
{
	display                          : inline;
}

#scope-line dt,
#sorting-line dt,
#activate-status-line dt
{
	display                          : none;
}

#scope-line dd,
#sorting-line dd,
#activate-status-line dd
{
	display                          : inline !important;
	float                            : none !important;
}

#activated-plugin
{
	margin-left                      : 40px;
}

/* list table head ------------------------------------------------------------------------------*/
#part-setting-plugins table.data-inbox
{
	table-layout                     : fixed;
	width                            : 100%;
}

#part-setting-plugins table.data-inbox thead tr .title
{
	width                            : 25%;
}

#part-setting-plugins table.data-inbox thead tr .version
{
	width                            : 50px;
}

#part-setting-plugins table.data-inbox thead tr .scope
{
	width                            : 65px;
}

#part-setting-plugins table.data-inbox thead tr .maker
{
	width                            : 150px;
}

#part-setting-plugins table.data-inbox thead tr .config
{
	width                            : 60px;
}

#part-setting-plugins table.data-inbox thead tr .status
{
	width                            : 60px;
}

/* list table body ------------------------------------------------------------------------------*/
#part-setting-plugins table.data-inbox tbody tr td.status .active-icon
{
	background-image                 : url("./image/icon_plugin.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	display                          : block;
	float                            : left;
	height                           : 13px;
	margin-right                     : 1px;
	width                            : 12px;
}

#part-setting-plugins table.data-inbox tbody tr td.status .inactive-icon
{
	background-image                 : url("./image/icon_plugin.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	display                          : block;
	float                            : left;
	height                           : 13px;
	margin-right                     : 1px;
	width                            : 12px;
}

/* dialog ---------------------------------------------------------------------------------------*/
.part .dialog
{
	background-color                 : #FFFFFF;
	border                           : 5px solid #BCD2E5;
	margin-left                      : 10px;
	padding                          : 10px;
	width                            : 550px;
}

.part .dialog h3
{
	border-bottom                    : 1px dotted #CCCCCC;
	display                          : block !important;
	font-size                        : 1em;
	padding                          : 9px 10px 15px 10px;
}

.part .dialog .message-body
{
	border-bottom                    : 1px dotted #CCCCCC;
	padding-bottom                   : 4px;
}

.part .dialog .message-body .explain
{
	border-bottom                    : 1px dotted #CCCCCC;
	font-family                      : µ¸¿ò, Dotum, ±¼¸², Gulim, sans-serif;
	font-size                        : 90%;
	padding                          : 5px 5px 3px 5px;
}

.part .dialog .message-body .explain em,
.part .dialog .message-body .explain strong
{
	color                            : #FF0000;
	font-weight                      : normal;
}

.part .dialog .message-body .explain .asterisk
{
	display                          : none;
}

.part .dialog .message
{
	padding                          : 20px 10px;
	text-align                       : center;
}

.part .dialog .message-body .selection
{
	background-color                 : #EEEEEE;
	margin                           : 0 3px;
	padding                          : 10px 10px 6px 10px;
	text-align                       : center;
}

/* system dialog --------------------------------------------------------------------------------*/
.part .system-dialog
{
	background-color                 : #FFFFFF;
	border                           : 5px solid #BCD2E5;
	margin-left                      : 10px;
	padding                          : 10px;
	width                            : 550px;
}

.part .system-dialog h4
{
	display                          : block !important;
}

.part .system-dialog .message-sub
{
	border                           : 1px solid #EEEEEE;
	margin-top                       : 10px;
	padding                          : 10px;
}

.part .system-dialog .progressBar
{
	background-color                 : #1C6D9C !important;
}
