@charset "utf-8";

/* List ******************************************************************************************/

#part-skin-current div.data-inbox .section .information .preview-button,
#part-skin-list div.data-inbox .section .information .preview-button
{
	margin-left                      : 65px;
}

/* Setting ***************************************************************************************/

#part-skin-setting div.data-inbox .section
{
	margin                           : 5px;
	padding                          : 5px 10px 11px 10px;
}

#part-skin-setting div.data-inbox .section dl
{
	margin                           : 3px 0;
}

#part-skin-setting div.data-inbox .section dl dt
{
	padding                          : 1px 5px 0 0;
}

#part-skin-setting div.data-inbox .section dl dd select
{
	margin-bottom                    : 2px;
	width                            : auto;
	vertical-align                   : middle;
}

/* category tree --------------------------------------------------------------------------------*/
#property-box dl
{
	height                           : 24px;
}

#property-box dl dd .text-input
{
	padding                          : 3px;
}