@charset "utf-8";

/* Editor ****************************************************************************************/

/* title ----------------------------------------------------------------------------------------*/
#title-section dl dt
{
	left                             : -80px;
}

#category-line dt
{
	padding-top                      : 0 !important;
}

/* tag and location -----------------------------------------------------------------------------*/
#tag-location-container dl dt
{
	left                             : -80px;
	padding-top                      : 3px;
}