@charset "utf-8";

/* Editor ****************************************************************************************/

#editor
{
	position                         : relative;
}

/* title ----------------------------------------------------------------------------------------*/
#title-section
{
	background-color                 : #BCD2E5;
	margin                           : 0 20px;
	padding                          : 5px 3px 5px 5px;
	width                            : 658px;
}

#title-container
{
	margin-bottom                    : 2px !important;
}

#title-container dt
{
	padding-top                      : 3px !important;
	width                            : 70px !important;
}

#title-container select
{
	height                           : 19px;
	vertical-align                   : middle;
	width                            : 160px;
}

#title-container .text-input
{
	border                           : 1px solid #92B5E8;
	vertical-align                   : middle;
	width                            : 400px;
}

#body-notice #title-container .text-input
{
	border                           : 1px solid #92B5E8;
	margin-top                       : 2px;
	width                            : 565px !important;
}

/* command buttons ------------------------------------------------------------------------------*/
#textarea-section
{
	background-color                 : #BCD2E5;
	margin                           : 0 20px;
	padding                          : 0 5px 5px 5px;
	width                            : 656px;
}

#editor-palette
{
	height                           : 28px;
}

#editor-palette .title
{
	display                          : none;
}

#editor-palette .font-relatives
{
	clear                            : none;
	float                            : left;
	padding                          : 2px 0 0 2px;
}

#editor-palette .mode
{
	clear                            : none;
	float                            : left;
	padding                          : 2px 0 0 5px;
}

#editor-palette .font-style,
#editor-palette .paragraph,
#editor-palette .special
{
	background-image                 : url("./image/edit/dotted_vertical.gif");
	background-position              : left 3px;
	background-repeat                : no-repeat;
	clear                            : none;
	float                            : left;
	padding                          : 2px 0 0 5px;
}

#editor-palette .button
{
	background-image                 : none;
	float                            : left;
	height                           : 20px;
	margin                           : 0;
	padding                          : 0;
	width                            : 20px;
}

#editor-palette .button span
{
	display                          : none !important;
}

#editor-palette .button:link,
#editor-palette .button:visited
{
	background-position              : left top;
}

#editor-palette .button:hover,
#editor-palette .button:active
{
	background-position              : left bottom;
}

#editor-palette .active-class
{
	background-position              : left bottom !important;
}

#editor-palette .inactive-class
{
	background-position              : left top !important;
}

#editor-palette .inactive-class:hover,
#editor-palette .inactive-class:active
{
	background-position              : left bottom !important;
}

#fontFamilyChanger
{
	height                           : 19px;
	width                            : 116px;
}

#fontFamilyChanger option
{
	background-color                 : #EFEFEF;
}

#fontFamilyChanger option.head-option
{
	background-color                 : #FFFFFF;
}

#fontSizeChanger
{
	height                           : 19px;
	width                            : 50px;
}

#fontSizeChanger option
{
	background-color                 : #EFEFEF;
}

#fontSizeChanger option.head-option
{
	background-color                 : #FFFFFF;
}

#indicatorBold
{
	background-image                 : url("./image/edit/setBold.gif") !important;
}

#indicatorItalic
{
	background-image                 : url("./image/edit/setItalic.gif") !important;
}

#indicatorUnderline
{
	background-image                 : url("./image/edit/setUnderLine.gif") !important;
}

#indicatorStrike
{
	background-image                 : url("./image/edit/setLineThrough.gif") !important;
}

#indicatorColorPalette
{
	background-image                 : url("./image/edit/setColor.gif") !important;
}

#indicatorMarkPalette
{
	background-image                 : url("./image/edit/setMark.gif") !important;
}

#indicatorTextBox
{
	background-image                 : url("./image/edit/textBox.gif") !important;
}

#indicatorRemoveFormat
{
	background-image                 : url("./image/edit/set_remove.gif") !important;
}

#indicatorJustifyLeft
{
	background-image                 : url("./image/edit/setAlignLeft.gif") !important;
}

#indicatorJustifyCenter
{
	background-image                 : url("./image/edit/setAlignCenter.gif") !important;
}

#indicatorJustifyRight
{
	background-image                 : url("./image/edit/setAlignRight.gif") !important;
}

#indicatorUnorderedList
{
	background-image                 : url("./image/edit/set_ul.gif") !important;
}

#indicatorOrderedList
{
	background-image                 : url("./image/edit/set_ol.gif") !important;
}

#indicatorOutdent
{
	background-image                 : url("./image/edit/set_outdent.gif") !important;
}

#indicatorIndent
{
	background-image                 : url("./image/edit/set_indent.gif") !important;
}

#indicatorBlockquote
{
	background-image                 : url("./image/edit/set_blockquote.gif") !important;
}

#indicatorCodeBlock
{
	background-image                 : url("./image/edit/setCode.gif") !important;
}

#indicatorHtmlBlock
{
	background-image                 : url("./image/edit/setHtml.gif") !important;
}

#indicatorCreateLink
{
	background-image                 : url("./image/edit/setLink.gif") !important;
}

#indicatorMediaBlock
{
	background-image                 : url("./image/edit/setEmbed.gif") !important;
}

#indicatorFlashBlock
{
	background-image                 : url("./image/edit/setFlash.gif") !important;
}

#indicatorMoreLessBlock
{
	background-image                 : url("./image/edit/setMoreLess.gif") !important;
}

#indicatorMode
{
	background-image                 : url("./image/edit/set_switch.gif") !important;
	height                           : 11px !important;
	margin-top                       : 5px !important;
	width                            : 42px !important;
}

/* command buttons' sub box ---------------------------------------------------------------------*/
#colorPalette
{
	background-color                 : #FFFFFF;
	position                         : absolute;
	padding                          : 2px;
	top                              : 66px;
	left                             : 80px;
	z-index                          : 10;
	border                           : 1px solid #CCCCCC;
	width                            : 336px;
}

#markPalette
{
	background-color                 : #FFFFFF;
	position                         : absolute;
	padding                          : 2px;
	top                              : 66px;
	left                             : 100px;
	z-index                          : 10;
	border                           : 1px solid #CCCCCC;
	width                            : 336px;
}

#textBox
{
	background-color                 : #FFFFFF;
	position                         : absolute;
	padding                          : 2px;
	top                              : 66px;
	left                             : 290px;
	z-index                          : 10;
	border                           : 1px solid #CCCCCC;
	width                            : 80px;
}

#colorPalette table,
#markPalette table,
#textBox table
{
	border-collapse                  : collapse;
	border-spacing                   : 0;
	background-color                 : #FFFFFF;
	margin                           : 0;
	width                            : auto;
}

#colorPalette table tr td,
#markPalette table tr td,
#textBox table tr td
{
	border                           : none !important;
	cursor                           : pointer;
	height                           : 16px;
	padding                          : 0 !important;
	text-indent                      : -5000px;
	width                            : 16px;
}

/* colors */
.color-000000
{
	background-color                 : #000000;
}

.color-0000FF
{
	background-color                 : #0000FF;
}

.color-003366
{
	background-color                 : #003366;
}

.color-006699
{
	background-color                 : #006699;
}

.color-008000
{
	background-color                 : #008000;
}

.color-009966
{
	background-color                 : #009966;
}

.color-177FCD
{
	background-color                 : #177FCD;
}

.color-333333
{
	background-color                 : #333333;
}

.color-666699
{
	background-color                 : #666699;
}

.color-670787
{
	background-color                 : #670787;
}

.color-8E8E8E
{
	background-color                 : #8E8E8E;
}

.color-993366
{
	background-color                 : #993366;
}

.color-999966
{
	background-color                 : #999966;
}

.color-99CC66
{
	background-color                 : #99CC66;
}

.color-9B18C1
{
	background-color                 : #9B18C1;
}

.color-C1C1C1
{
	background-color                 : #C1C1C1;
}

.color-C9EDFF
{
	background-color                 : #C9EDFF;
}

.color-CC9900
{
	background-color                 : #CC9900;
}

.color-D0FF9D
{
	background-color                 : #D0FF9D;
}

.color-D41A01
{
	background-color                 : #D41A01;
}

.color-E4E4E4
{
	background-color                 : #E4E4E4;
}

.color-FAFFA9
{
	background-color                 : #FAFFA9;
}

.color-FF0000
{
	background-color                 : #FF0000;
}

.color-FF3399
{
	background-color                 : #FF3399;
}

.color-FF7635
{
	background-color                 : #FF7635;
}

.color-FF9900
{
	background-color                 : #FF9900;
}

.color-FFDAED
{
	background-color                 : #FFDAED;
}

/* textarea -------------------------------------------------------------------------------------*/
#editor-textbox
{
	background-color                 : #EBF2F8;
	border                           : 1px solid #8FA9BF;
	clear                            : both;
	text-align                       : center;
}

#editWindow
{
	border                           : none;
	display                          : block;
	height                           : 454px;
	width                            : 654px;
}

#visualEditorWindow
{
	border                           : 1px solid #DDDDDD;
	display                          : block;
	height                           : 450px;
	width                            : 652px;
}

#status-container
{
	background-color                 : #8FA9BF;
	cursor                           : n-resize;
	padding                          : 3px 5px 3px 5px;
}

#status-container span
{
	display                          : none;
}

/* property box --------------------------------------------------------------------------------*/
.entry-editor-property
{
	background-color                 : #FFFFFF;
	border                           : 2px solid #999999;
	padding                          : 0 10px 10px 10px;
	position                         : absolute;
	left                             : 700px;
	top                              : 17px;
	width                            : 200px;
}

.entry-editor-property h4
{
	color                            : #000000;
	display                          : block;
	font-family                      : ±¼¸², Gulim, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size                        : 0.9em;
	font-weight                      : bold;
	margin                           : 10px 0 5px 0;
}

.entry-editor-property .title
{
	color                            : #666666;
	font-size                        : 0.9em;
	font-weight                      : bold;
	margin                           : 10px 0 3px 0;
}

.entry-editor-property dl
{
	padding-bottom                   : 1px;
}

.entry-editor-property dl dt
{
	border-bottom                    : 1px dashed #CCCCCC;
	color                            : #666666;
	font-family                      : Arial, Tahoma, Verdana, sans-serif;
	font-size                        : 90%;
	font-weight                      : normal !important;
	height                           : 16px;
	margin-right                     : 0 !important;
	padding-top                      : 4px;
	text-align                       : left !important;
	width                            : 90px !important;
}

.entry-editor-property dl dd
{
	width                            : 105px !important;
}

.entry-editor-property dl dd input.text-input
{
	border                           : 1px solid #92B5E8;
	width                            : 105px !important;
}

.entry-editor-property dl dd select
{
	border                           : 1px solid #92B5E8;
	width                            : 110px !important;
}

.entry-editor-property dl dd select.file-list
{
	height                           : 220px;
	margin-bottom                    : 0;
	width                            : 200px !important;
}

.entry-editor-property dl dd textarea
{
	border                           : 1px solid #92B5E8;
	width                            : 108px !important;
}

.entry-editor-property .button-box
{
	clear                            : both;
	margin                           : 0 0 0 auto !important;
	padding-top                      : 10px;
	width                            : 156px !important;
}

.entry-editor-property .button-box .button
{
	border                           : 1px solid #666666;
	background-color                 : #EEEEEE !important;
	background-image                 : none !important;
	float                            : left;
	width                            : 70px !important;
}

.entry-editor-property .button-box .button span
{
	background-color                 : transparent !important;
	background-image                 : none !important;
	color                            : #000000;
	font-size                        : 0.9em;
	width                            : 66px !important;
}

.entry-editor-property .button-box .button:hover span
{
	color                            : #565656;
}

.entry-editor-property dl dd.button-box
{
	float                            : none !important;
}

.entry-editor-property .preview-box img
{
	border                           : 1px solid #000000;
	margin-top                       : 5px;
}

/* tag and location -----------------------------------------------------------------------------*/
#taglocal-section
{
	background-color                 : #BCD2E5 !important;
	margin                           : 0 20px 5px 20px;
	padding                          : 4px 5px 5px 5px;
	width                            : 656px !important;
}

#taglocal-section dl dt
{
	left                             : 25px;
	padding-top                      : 3px;
	position                         : absolute;
	width                            : 70px;
}

#taglocal-section dl dd
{
	margin-left                      : 85px;
}

/* tag */
dl#tag-line dd .text-input
{
	border                           : 1px solid #92B5E8;
	margin                           : -3px 0 5px 0;
	width                            : 130px;
}

#tag-line dd ul li
{
	background-image                 : url("./image/comma.gif");
	background-position              : right 10px;
	background-repeat                : no-repeat;
	float                            : left;
	font-weight                      : bold;
	margin-right                     : 5px;
	padding                          : 2px 4px 0 0;
	white-space                      : pre;
}

#tag-line dd ul li.lastChild
{
	background-image                 : none;
}

/* location */
#location-line dd .text-input
{
	border                           : 1px solid #92B5E8;
	width                            : 130px;
}

#location-line dd ul li
{
	background-image                 : url("./image/edit/icon_local_arrow.gif");
	background-position              : right 1px;
	background-repeat                : no-repeat;
	float                            : left;
	font-weight                      : bold;
	height                           : 14px;
	margin-right                     : 3px;
	padding                          : 0 9px 5px 0;
}

#location-line dd ul li.lastChild
{
	background-image                 : none;
}

/* upload ---------------------------------------------------------------------------------------*/
#upload-section
{
	background-color                 : #D0E5F1;
	margin                           : 5px 20px;
	padding                          : 5px;
	position                         : relative;
	width                            : 656px;
}

#previewSelected
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #878787;
	position                         : absolute;
	left                             : 12px;
}

#previewSelected span
{
	display                          : block;
	margin                           : 40px auto 0 auto;
	text-align                       : center;
}

#attachManagerSelectNest
{
	margin-left                      : 136px;
	width                            : 415px;
}

#fileList
{
	height                           : 120px;
	width                            : 415px;
}

#fileUploadNest
{
	height                           : 3em;
	margin-left                      : 136px;
	width                            : 410px;
}

#fileUploadNest iframe
{
	float                            : left;
	margin-right                     : 3px;
}

#uploaderNest
{
	display                          : block;
	margin-left                      : 136px;
}

#upload-section .button
{
	border                           : 1px solid #666666;
	background-color                 : #EEEEEE;
	background-image                 : none;
	float                            : left;
	margin                           : 0 3px 0 0;
	padding                          : 6px 10px 3px 10px;
	text-align                       : center;
}

#upload-section .button span
{
	background-color                 : transparent;
	background-image                 : none;
	padding                          : 0 !important;
}

#fileSize
{
	float                            : right;
	margin-top                       : 5px;
}

/* iframe */
#body-editor-attachment
{
	background-color                 : #D0E5F1 !important;
}

#body-editor-attachment .file-input
{
	font-size                        : 12px;
}

/* insert buttons */
#insert-container
{
	position                         : absolute;
	top                              : 2px;
	right                            : 5px;
	width                            : 100px;
}

#insert-container
{
	float                            : left;
}

#insert-container a
{
	background-repeat                : no-repeat;
	float                            : left;
	height                           : 25px;
	margin                           : 2px;
	width                            : 27px;
}

#insert-container a:link,
#insert-container a:visited
{
	background-position              : left top;
}

#insert-container a:hover,
#insert-container a:active
{
	background-position              : left bottom;
}

#insert-container a span
{
	display                          : none;
}

#insert-container .image-left
{
	background-image                 : url("./image/edit/attachAlignLeft2.gif");
}

#insert-container .image-center
{
	background-image                 : url("./image/edit/attachAlignCenter2.gif");
}

#insert-container .image-right
{
	background-image                 : url("./image/edit/attachAlignRight2.gif");
}

#insert-container .image-2center
{
	background-image                 : url("./image/edit/attachAlign2Center2.gif");
}

#insert-container .image-3center
{
	background-image                 : url("./image/edit/attachAlign3Center2.gif");
}

#insert-container .image-free
{
	background-image                 : url("./image/edit/attachAlignFree2.gif");
}

#insert-container .image-imazing
{
	background-image                 : url("./image/edit/attachAlignImazing2.gif");
}

#insert-container .image-sequence
{
	background-image                 : url("./image/edit/attachAlignSequence2.gif");
}

#insert-container .image-mp3
{
	background-image                 : url("./image/edit/attachMP32.gif");
}

#insert-container .image-podcast
{
	background-image                 : url("./image/edit/attachAlignPodcast2.gif");
}

/* power ----------------------------------------------------------------------------------------*/
#power-section
{
	background-color                 : #D0E5F1;
	line-height                      : 17px;
	margin                           : 5px 20px;
	position                         : relative;
	padding                          : 12px 0 8px 0;
	width                            : 666px;
}

#power-section dl dt
{
	width                            : 120px;
}

dl#date-line dt
{
	padding-top                      : 3px;
}

dl#status-line dt,
dl#power-line dt
{
	padding-top                      : 0;
}

dl#date-line dd .text-input
{
	border                           : 1px solid #92B5E8;
	width                            : 120px;
}

dl#date-line dd div,
dl#status-line dd div
{
	display                          : inline;
}

dl#power-line
{
	height                           : 3em;
}

/* button box -----------------------------------------------------------------------------------*/
.one-button-box
{
	height                           : 23px;
	margin                           : 20px auto 0 auto;
	width                            : 114px;
}

.two-button-box
{
	height                           : 23px;
	margin                           : 20px auto 0 auto;
	width                            : 224px;
}

.three-button-box
{
	height                           : 23px;
	margin                           : 20px auto 0 auto;
	width                            : 336px;
}

.button-box .button
{
	float                            : left;
	margin                           : 0 1px !important;
}