@charset "utf-8";

/* Editor ****************************************************************************************/

/* title ----------------------------------------------------------------------------------------*/
#title-section dl dd
{
	padding : 0 !important;
}

/* command buttons ------------------------------------------------------------------------------*/
#editor-palette dl
{
	border                           : none !important;
}

/* property box --------------------------------------------------------------------------------*/
.entry-editor-property
{
	background-color                 : #FFFFFF;
	border                           : 2px solid #999999;
	padding                          : 0 10px 10px 10px;
	position                         : absolute;
	left                             : 670px;
	top                              : 9px;
	width                            : 245px;
}

.entry-editor-property dl
{

}

.entry-editor-property dl dt
{

}

.entry-editor-property dl dd
{
	padding                          : 0 !important;
}

.entry-editor-property dl.resample-property-box dd
{
	margin-left                      : 0 !important;
	padding                          : 5px 0 0 5px;
	border : 1px solid red !important;
}

/* tag and location -----------------------------------------------------------------------------*/
#taglocal-section dl
{
	border-color                     : #F2F2F2 !important;
	padding                          : 0;
}

#taglocal-section dl dt
{
	border                           : 1px solid #F2F2F2;
	top                              : 3px !important;
}

#taglocal-section dl dd
{
	padding-bottom                   : 0;
	padding-top                      : 0;
}

/* upload ---------------------------------------------------------------------------------------*/
#previewSelected
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #878787;
	left                             : -132px;
	position                         : absolute;
	top                              : 10px;
	z-index                          : 200;
}

#fileUploadNest
{
	height                           : 3.1em;
	line-height                      : 3.1em;
	margin                           : -8px 0 0 144px;
	position                         : relative;
	width                            : 390px;
}

#fileSize
{
	top                              : -9px;
}

/* power ----------------------------------------------------------------------------------------*/
#power-section dl
{
	border-top                       : 1px solid #DDDDDD !important;
	position                         : relative;
	
}

#power-section dl dt
{
	top                              : 0 !important;
}

dl#power-line
{
	height                           : 2.7em;
	line-height                      : 2.7em !important;
}