@charset "utf-8";

/* Editor ****************************************************************************************/

/* common ---------------------------------------------------------------------------------------*/
#data-outbox
{
	padding-bottom                   : 0;
}

.data-inbox
{
	margin-bottom                    : 25px;
	position                         : relative;
}

.container
{
	clear                            : both;
}

/* attribute box --------------------------------------------------------------------------------*/
#property-container
{
	float                            : right;
}

/* title ----------------------------------------------------------------------------------------*/
#title-section
{
	background-color                 : #BCD2E5;
	margin                           : 0 20px;
	padding                          : 5px 3px 5px 5px;
	width                            : 658px;
}

#title-container
{
	margin-bottom                    : 5px;
}

#title-container label
{
	display                          : block;
	float                            : left;
	font-weight                      : bold;
	padding                          : 5px 4px 0 0;
	text-align                       : right;
	width                            : 70px;
}

#title-container select
{
	width                            : 160px;
}

#title-container .text-input
{
	border                           : 1px solid #92B5E8;
	padding                          : 2px;
	width                            : 410px;
}

#body-notice #title-container .text-input
{
	border                           : 1px solid #92B5E8;
	padding                          : 2px;
	width                            : 576px !important;
}

/* property box --------------------------------------------------------------------------------*/
.entry-editor-property
{
	background-color                 : #FFFFFF;
	border                           : 2px solid #999999;
	padding                          : 0 10px 10px 10px;
	position                         : absolute;
	left                             : 700px;
	top                              : 17px;
	width                            : 200px;
}

.entry-editor-property .head-line
{
	color                            : #000000;
	font-family                      : Arial, Tahoma, Verdana, sans-serif;
	font-size                        : 80%;
	font-weight                      : bold;
	margin                           : 10px 0 5px 0;
}

.entry-editor-property dl
{
	padding-bottom                   : 1px;
}

.entry-editor-property dl dt
{
	border-bottom                    : 1px dashed #CCCCCC;
	color                            : #666666;
	float                            : left;
	font-family                      : Arial, Tahoma, Verdana, sans-serif;
	font-size                        : 90%;
	height                           : 16px;
	padding-top                      : 4px;
	width                            : 90px;
}

.entry-editor-property dl dd
{
	float                            : left;
	width                            : 108px;
}

.entry-editor-property dl dd.clear
{
	clear                            : both;
	float                            : none;
}

.entry-editor-property dl dd input.text-input
{
	border                           : 1px solid #92B5E8;
	margin-bottom                    : 1px;
	padding                          : 2px;
	width                            : 104px;
}

.entry-editor-property dl dd select
{
	border                           : 1px solid #92B5E8;
	width                            : 110px;
}

.entry-editor-property dl dd select.file-list
{
	height                           : 220px;
	margin-bottom                    : 0;
	padding-bottom                   : 0;
	width                            : 200px !important;
}

#propertyObject_chunk
{
	width                            : 104px;
}

.entry-editor-property .button-box
{
	clear                            : both;
	float                            : none;
	margin-left                      : auto;
}

.entry-editor-property .button-box .up-button
{
	background-color                 : transparent;
	background-image                 : url("./image/edit/attach_MoveUp.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	float                            : right;
	height                           : 14px;
	margin-top                       : 2px;
	width                            : 40px;
}

.entry-editor-property .button-box .dn-button
{
	background-color                 : transparent;
	background-image                 : url("./image/edit/attach_MoveDown.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	float                            : right;
	height                           : 14px;
	margin-top                       : 2px;
	width                            : 50px;
}

.entry-editor-property .button-box .button span
{
	display                          : none !important;
}

.entry-editor-property .preview-box img
{
	border                           : 1px solid #000000;
	margin-top                       : 5px;
}

/* command buttons ------------------------------------------------------------------------------*/
#textarea-section
{
	background-color                 : #BCD2E5;
	margin                           : 0 20px;
	padding                          : 0 3px 5px 5px;
	width                            : 658px;
}

#editor-palette .title
{
	display                          : none;
}

#editor-palette .font-relatives
{
	float                            : left;
	height                           : 24px;
	padding                          : 2px 0 0 2px;
}

#editor-palette .mode
{
	float                            : left;
	height                           : 24px;
	padding                          : 2px 0 0 5px;
}

#editor-palette .font-style,
#editor-palette .paragraph,
#editor-palette .special
{
	background-image                 : url("./image/edit/dotted_vertical.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	float                            : left;
	height                           : 24px;
	padding                          : 2px 0 0 5px;
}

#editor-palette a
{
	float                            : left;
	height                           : 20px;
	width                            : 20px;
}

#editor-palette a span
{
	display                          : none !important;
}

#editor-palette a:link,
#editor-palette a:visited
{
	background-position              : left top;
}

#editor-palette a:hover,
#editor-palette a:active
{
	background-position              : left bottom;
}

#fontFamilyChanger
{
	width                            : 96px;
}

#fontSizeChanger
{
	width                            : 50px;
}

#indicatorBold
{
	background-image                 : url("./image/edit/setBold.gif");
}

#indicatorItalic
{
	background-image                 : url("./image/edit/setItalic.gif");
}

#indicatorUnderline
{
	background-image                 : url("./image/edit/setUnderLine.gif");
}

#indicatorStrike
{
	background-image                 : url("./image/edit/setLineThrough.gif");
}

#indicatorColorPalette
{
	background-image                 : url("./image/edit/setColor.gif");
}

#indicatorMarkPalette
{
	background-image                 : url("./image/edit/setMark.gif");
}

#indicatorTextBox
{
	background-image                 : url("./image/edit/textBox.gif");
}

#indicatorRemoveFormat
{
	background-image                 : url("./image/edit/set_remove.gif");
}

#indicatorJustifyLeft
{
	background-image                 : url("./image/edit/setAlignLeft.gif");
}

#indicatorJustifyCenter
{
	background-image                 : url("./image/edit/setAlignCenter.gif");
}

#indicatorJustifyRight
{
	background-image                 : url("./image/edit/setAlignRight.gif");
}

#indicatorUnorderedList
{
	background-image                 : url("./image/edit/set_ul.gif");
}

#indicatorOrderedList
{
	background-image                 : url("./image/edit/set_ol.gif");
}

#indicatorOutdent
{
	background-image                 : url("./image/edit/set_outdent.gif");
}

#indicatorIndent
{
	background-image                 : url("./image/edit/set_indent.gif");
}

#indicatorBlockquote
{
	background-image                 : url("./image/edit/set_blockquote.gif");
}

#indicatorCodeBlock
{
	background-image                 : url("./image/edit/setCode.gif");
}

#indicatorHtmlBlock
{
	background-image                 : url("./image/edit/setHtml.gif");
}

#indicatorCreateLink
{
	background-image                 : url("./image/edit/setLink.gif");
}

#indicatorMediaBlock
{
	background-image                 : url("./image/edit/setEmbed.gif");
}

#indicatorFlashBlock
{
	background-image                 : url("./image/edit/setFlash.gif");
}

#indicatorMoreLessBlock
{
	background-image                 : url("./image/edit/setMoreLess.gif");
}

#indicatorMode
{
	background-image                 : url("./image/edit/set_switch.gif");
	height                           : 11px !important;
	margin-top                       : 5px;
	width                            : 42px !important;
}

/* command buttons' sub box ---------------------------------------------------------------------*/
#colorPalette
{
	position                         : absolute;
	top                              : 67px;
	left                             : 110px;
	z-index                          : 10;
}

#colorPalette table
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #CCCCCC;
}

#colorPalette table tr td
{
	cursor                           : pointer;
	height                           : 16px;
	width                            : 16px;
}

#colorPalette table tr td span
{
	display                          : none;
}

#markPalette
{
	position                         : absolute;
	top                              : 67px;
	left                             : 210px;
	z-index                          : 10;
}

#markPalette table
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #CCCCCC;
}

#markPalette table tr td
{
	cursor                           : pointer;
	height                           : 16px;
	width                            : 16px;
}

#markPalette table tr td span
{
	display                          : none;
}

#textBox
{
	position                         : absolute;
	top                              : 67px;
	left                             : 250px;
	z-index                          : 10;
}

#textBox table
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #CCCCCC;
}

#textBox table tr td
{
	cursor                           : pointer;
	height                           : 16px;
	width                            : 16px;
}

#textBox table tr td span
{
	display                          : none;
}

/* colors */
.color-000000
{
	background-color                 : #000000;
}

.color-0000FF
{
	background-color                 : #0000FF;
}

.color-003366
{
	background-color                 : #003366;
}

.color-006699
{
	background-color                 : #006699;
}

.color-008000
{
	background-color                 : #008000;
}

.color-009966
{
	background-color                 : #009966;
}

.color-177FCD
{
	background-color                 : #177FCD;
}

.color-333333
{
	background-color                 : #333333;
}

.color-666699
{
	background-color                 : #666699;
}

.color-670787
{
	background-color                 : #670787;
}

.color-8E8E8E
{
	background-color                 : #8E8E8E;
}

.color-993366
{
	background-color                 : #993366;
}

.color-999966
{
	background-color                 : #999966;
}

.color-99CC66
{
	background-color                 : #99CC66;
}

.color-9B18C1
{
	background-color                 : #9B18C1;
}

.color-C1C1C1
{
	background-color                 : #C1C1C1;
}

.color-C9EDFF
{
	background-color                 : #C9EDFF;
}

.color-CC9900
{
	background-color                 : #CC9900;
}

.color-D0FF9D
{
	background-color                 : #D0FF9D;
}

.color-D41A01
{
	background-color                 : #D41A01;
}

.color-E4E4E4
{
	background-color                 : #E4E4E4;
}

.color-FAFFA9
{
	background-color                 : #FAFFA9;
}

.color-FF0000
{
	background-color                 : #FF0000;
}

.color-FF3399
{
	background-color                 : #FF3399;
}

.color-FF7635
{
	background-color                 : #FF7635;
}

.color-FF9900
{
	background-color                 : #FF9900;
}

.color-FFDAED
{
	background-color                 : #FFDAED;
}

/* textarea -------------------------------------------------------------------------------------*/
#editWindow
{
	border                           : 2px solid #77AACC;
	height                           : 450px;
	width                            : 652px;
}

/* tag and location -----------------------------------------------------------------------------*/
#taglocal-section
{
	background-color                 : #BCD2E5;
	margin                           : -5px 20px 5px 20px;
	padding                          : 5px 3px 5px 5px;
	width                            : 658px;
}

/* tag */
dl#tag-line
{
	clear                            : both;
	margin-top                       : 10px;
}

dl#tag-line dt
{
	float                            : left;
	font-weight                      : bold;
	text-align                       : right;
	width                            : 70px;
}

dl#tag-line dd#tag
{
	float                            : left;
	margin-left                      : 3px;
	width                            : 580px;
}

dl#tag-line dd .text-input
{
	margin                           : -4px 0 5px 0;
	padding                          : 2px;
	width                            : 130px;
}

#tag-line dd ul li
{
	background-image                 : url("./image/comma.gif");
	background-position              : right 10px;
	background-repeat                : no-repeat;
	float                            : left;
	font-weight                      : bold;
	height                           : 14px;
	margin-right                     : 5px;
	padding                          : 0 4px 5px 0;
	white-space                      : pre;
}

#tag-line dd ul li.lastChild
{
	background-image                 : none;
}

dl#tag-line .clear,
dl#location-line .clear
{
	clear                            : both;
	float                            : none !important;
}

/* location */
dl#location-line
{
	clear                            : both;
}

dl#location-line dt
{
	float                            : left;
	font-weight                      : bold;
	margin-top                       : 3px;
	text-align                       : right;
	width                            : 70px;
}

dl#location-line dd#location
{
	float                            : left;
	margin-left                      : 3px;
	margin-top                       : 3px;
	width                            : 580px;
}

dl#location-line dd .text-input
{
	margin                           : -4px 0 5px 0;
	padding                          : 2px;
	width                            : 130px;
}

#location-line dd ul li
{
	background-image                 : url("./image/edit/icon_local_arrow.gif");
	background-position              : right 1px;
	background-repeat                : no-repeat;
	float                            : left;
	font-weight                      : bold;
	height                           : 14px;
	margin-right                     : 3px;
	padding                          : 0 9px 5px 0;
}

#location-line dd ul li.lastChild
{
	background-image                 : none;
}

#location-line dt,
#location-line dd
{
	margin-top                       : 1px;
}

/* upload ---------------------------------------------------------------------------------------*/
#upload-section
{
	background-color                 : #D0E5F1;
	margin                           : 5px 20px;
	padding                          : 5px;
	position                         : relative;
	width                            : 656px;
}

#previewSelected
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #878787;
	float                            : left;
	margin                           : 0 6px 0 8px;
}

#previewSelected span
{
	display                          : block;
	margin                           : 40px auto 0 auto;
	text-align                       : center;
}

#attachManagerSelect
{
	float                            : left;
	height                           : 120px;
	width                            : 415px;
}

#fileList
{
	display                          : block;
	height                           : 120px;
	width                            : 415px;
}

#fileUploadNest
{
	margin-left                      : 138px;
	width                            : 410px;
}

#uploaderNest
{
	display                          : block;
	margin-left                      : 136px;
}

#upload-section .button
{
	border                           : 1px solid #666666;
	background-color                 : #EEEEEE;
	float                            : left;
	margin                           : 8px 3px 0 0;
	padding                          : 6px 10px 3px 10px;
	text-align                       : center;
}

#fileSize
{
	float                            : right;
	margin-top                       : 12px;
}

#body-editor-attachment
{
	background-color                 : #D0E5F1;
}

#body-editor-attachment .file-input
{
	background-color                 : #EEEEEE;
	border                           : 1px solid #666666;
	color                            : #565656;
}

/* insert buttons */
#insert-container
{
	position                         : absolute;
	top                              : 2px;
	right                            : 5px;
	width                            : 100px;
}

#insert-container
{
	float                            : left;
}

#insert-container a
{
	background-repeat                : no-repeat;
	float                            : left;
	height                           : 25px;
	margin                           : 2px;
	width                            : 27px;
}

#insert-container a:link,
#insert-container a:visited
{
	background-position              : left top;
}

#insert-container a:hover,
#insert-container a:active
{
	background-position              : left bottom;
}

#insert-container a span
{
	display                          : none;
}

#insert-container .image-left
{
	background-image                 : url("./image/edit/attachAlignLeft2.gif");
}

#insert-container .image-center
{
	background-image                 : url("./image/edit/attachAlignCenter2.gif");
}

#insert-container .image-right
{
	background-image                 : url("./image/edit/attachAlignRight2.gif");
}

#insert-container .image-2center
{
	background-image                 : url("./image/edit/attachAlign2Center2.gif");
}

#insert-container .image-3center
{
	background-image                 : url("./image/edit/attachAlign3Center2.gif");
}

#insert-container .image-free
{
	background-image                 : url("./image/edit/attachAlignFree2.gif");
}

#insert-container .image-imazing
{
	background-image                 : url("./image/edit/attachAlignImazing2.gif");
}

#insert-container .image-sequence
{
	background-image                 : url("./image/edit/attachAlignSequence2.gif");
}

#insert-container .image-mp3
{
	background-image                 : url("./image/edit/attachMP32.gif");
}

#insert-container .image-podcast
{
	background-image                 : url("./image/edit/attachAlignPodcast2.gif");
}

/* power ----------------------------------------------------------------------------------------*/
#power-section
{
	background-color                 : #D0E5F1;
	line-height                      : 17px;
	margin                           : 5px 20px;
	position                         : relative;
	padding                          : 12px 0 4px 0;
	width                            : 666px;
}

#power-section dl
{
	clear                            : both;
}

#power-section dl dt
{
	text-align                       : right;
	width                            : 120px;
}

#power-section dl dt,
#power-section dl dd
{
	float                            : left;
	padding                          : 0 5px 3px 0;
}

#power-section dl dd.clear
{
	clear                            : both;
	float                            : none;
}

#power-section dl dd .text-input
{
	border                           : 1px solid #92B5E8 !important;
	margin-top                       : -4px;
	padding                          : 2px;
	width                            : 120px;
}

#power-section dl#date-line dd div,
#power-section dl#status-line dd div
{
	display                          : inline;
}

/* button box -----------------------------------------------------------------------------------*/
.one-button-box
{
	margin-left                      : auto;
	margin-right                     : auto;
	width                            : 114px;
}

.two-button-box
{
	margin-left                      : auto;
	margin-right                     : auto;
	width                            : 228px;
}

.three-button-box
{
	margin-left                      : auto;
	margin-right                     : auto;
	width                            : 342px;
}

.button-box .button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button.gif");
	float                            : left;
	height                           : 24px;
	margin                           : 0 2px;
	padding-left                     : 4px;
	width                            : 106px;
}

.button-box .button span
{
	background-image                 : url("./image/button.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 102px;
}