@media all and (min-width: 0px)
{
	/* List ******************************************************************************************/
	
	#part-link-list table.data-inbox .tr-last-body td
	{
		border-bottom                    : 2px solid #00A6ED;
	}
	
	/* Add / Edit ************************************************************************************/
	
	#part-link-add div.data-inbox dt,
	#part-link-edit div.data-inbox dt
	{
		margin-top                       : 4px;
	}
	
	#part-link-add div.data-inbox dd .text-input,
	#part-link-edit div.data-inbox dd .text-input
	{
		padding                          : 3px;
	}
	
	.get-info-button span
	{
		padding-top                      : 4px;
	}
	
	/* button box -----------------------------------------------------------------------------------*/
	.button-box .button span
	{
		padding-top                      : 4px;
	}
}