@charset "utf-8";

/* List ******************************************************************************************/

/* list table body ------------------------------------------------------------------------------*/
#part-link-list table.data-inbox .tr-body td,
#part-link-list table.data-inbox .tr-last-body td
{
	height                           : 15px;
	padding-top                      : 1px;
}

/* Add / Edit ************************************************************************************/

#part-link-add div.data-inbox dl,
#part-link-edit div.data-inbox dl
{
	height                           : 27px !important;
}

#part-link-add div.data-inbox dl dd .text-input,
#part-link-edit div.data-inbox dl dd .text-input
{
	margin-top                       : 2px;
	padding                          : 3px;
	width                            : 300px;
}

/* button box -----------------------------------------------------------------------------------*/
.button-box
{
	height                           : 24px;
	overflow                         : hidden;
	width                            : 230px;
}