@charset "utf-8";

/* Add / Edit ************************************************************************************/

#part-link-add div.data-inbox dl,
#part-link-edit div.data-inbox dl
{
	height                           : 20px;
}

#part-link-add div.data-inbox dl dt,
#part-link-edit div.data-inbox dl dt
{
	display                          : block;
	float                            : left;
	padding-top                      : 5px;
	text-align                       : right;
	width                            : 150px;
}

#part-link-add div.data-inbox dl dd .text-input,
#part-link-edit div.data-inbox dl dd .text-input
{
	float                            : left;
	margin-top                       : 2px;
	width                            : 300px;
}

.get-info-button
{
	width                            : 150px;
}

.get-info-button span
{
	width                            : 146px;
}

/* button box -----------------------------------------------------------------------------------*/
.button-box
{
	height                           : 23px;
	margin                           : 20px auto 0 auto;
	width                            : 226px;
}

.button-box .add-button,
.button-box .edit-button,
.button-box .cancel-button
{
	float                            : left;
	width                            : 106px;
}

.button-box .button span
{
	width                            : 102px;
}