@charset "utf-8";

/* Common ****************************************************************************************/

#sub-menu-add
{
	background-image                 : none !important;
}

/* List ******************************************************************************************/

#part-link-list .caption
{
	margin-bottom                    : 25px;
}

#part-link-list table.data-inbox
{
	margin-bottom                    : 100px;
}

/* table header */
#part-link-list table.data-inbox thead tr th.homepage
{
	padding-left                     : 20px;
	text-align                       : left;
	width                            : 300px;
}

#part-link-list table.data-inbox thead tr th.address
{
	padding-left                     : 20px;
	text-align                       : left;
}

#part-link-list table.data-inbox thead tr th.edit
{
	width                            : 20px;
}

#part-link-list table.data-inbox thead tr th.edit span
{
	display                          : none;
}

#part-link-list table.data-inbox thead tr th.delete
{
	width                            : 20px;
}

#part-link-list table.data-inbox thead tr th.delete span
{
	display                          : none;
}

/* table body */
#part-link-list table.data-inbox tbody tr td.homepage
{
	background-position              : right bottom;
	padding-left                     : 25px;
	text-align                       : left;
	width                            : 300px;
}

#part-link-list table.data-inbox tbody tr td.address
{
	padding-left                     : 25px;
	text-align                       : left;
}

#part-link-list table.data-inbox tbody tr td.edit .edit-button
{
	background-color                 : transparent;
	background-image                 : url("./image/icon_modify.gif");
	background-position              : left top;
	display                          : block;
	height                           : 11px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 11px;
}

#part-link-list table.data-inbox tbody tr td.edit .edit-button span
{
	display                          : none;
}

/* Add *******************************************************************************************/

#part-link-add div.data-inbox,
#part-link-edit div.data-inbox
{
	height                           : 120px;
	margin                           : 25px auto 0 auto;
	width                            : 680px;
}

#part-link-add div.data-inbox dl,
#part-link-edit div.data-inbox dl
{
	border                           : 1px solid #FFFFFF;
}

#part-link-add div.data-inbox dl dt,
#part-link-edit div.data-inbox dl dt
{
	font-weight                      : normal;
	line-height                      : 2em;
	padding                          : 3px 12px 3px 0;
	text-align                       : right;
	width                            : 100px !important;
}

#part-link-add div.data-inbox dl dd,
#part-link-edit div.data-inbox dl dd
{
	margin-left                      : 110px;
	padding                          : 3px 0;
}

#part-link-add div.data-inbox dl dd .input-text,
#part-link-edit div.data-inbox dl dd .input-text
{
	width                            : 350px;
}

#part-link-add .button-box,
#part-link-edit .button-box
{
	background-color                 : #F2F2F2;
	background-image                 : url("./image/bg_link_button_box.png");
	background-position              : left top;
	background-repeat                : repeat-x;
	clear                            : both;
	margin                           : 0 auto 150px auto;
	padding                          : 20px 10px 20px 10px;
	width                            : 680px;
}

#part-link-add .button-box .input-button,
#part-link-edit .button-box .input-button
{
	background-color                 : #FFFFFF;
	background-image                 : none;
	border                           : 1px solid #BBBBBB;
	color                            : #000000;
	font-weight                      : bold;
	height                           : 2.5em;
	line-height                      : 2.5em;
	vertical-align                   : middle;
}