@charset "utf-8";

/* Login *****************************************************************************************/

body
{
	background-color                 : #1E6A96;
	background-image                 : url("./image/bg.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
}

#data-outbox
{
	background-image                 : url("./image/bg_login_box_top.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	margin                           : 150px auto 0 auto !important;
	min-width                        : 0 !important;
	padding-top                      : 7px;
	position                         : relative;
	width                            : 520px !important;
}

#login-box
{
	border-top : 1px solid #FFFFFF;
	background-image                 : url("./image/bg_login_box_bottom.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	padding-bottom                   : 9px;
	width                            : 520px;
}

#logo-box
{
	left                             : 0;
	position                         : absolute;
	text-align                       : center;
	top                              : 45px;
	width                            : 250px;
}

#field-box
{
	margin-left                      : 250px;
	padding                          : 10px 20px 0 0;
	width                            : 250px;
}

dl
{
	height                           : 2em !important;
}

dl dt
{
	font-weight                      : normal !important;
	margin-right                     : 10px !important;
	padding-top                      : 5px !important;
	width                            : 80px !important;
}

dl dd .text-input
{
	padding                          : 3px;
	vertical-align                   : top;
	width                            : 148px;
}

#checkbox-line
{
	height                           : 2.3em !important;
	padding                          : 5px 0 0 15px;
}

#checkbox-line dt
{
	display                          : none;
}

#message-box
{
	background-color                 : #EBF2F8;
	margin-top                       : 10px;
	padding                          : 5px;
	text-align                       : center;
}

.button-box
{
	left                             : 360px;
	position                         : absolute;
	top                              : 79px;
	border-top                       : 1px dotted #CCCCCC;
	margin                           : 0 0 6px 0;
	padding-top                      : 7px;
	width                            : 140px;
}

.button-box .button
{
	margin-left                      : auto !important;
	width                            : 86px;
}

.button-box .button span
{
	width                            : 82px;
}

.button-box .button:link,
.button-box .button:visited
{
	color                            : #000000;
	font-weight                      : bold;
	text-decoration                  : none;
}

.button-box .button:hover,
.button-box .button:active
{
	color                            : #565656;
	text-decoration                  : none;
}