@charset "utf-8";

/* Login *****************************************************************************************/

body
{
	background-color                 : #1E6A96;
	background-image                 : url("./image/bg.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
}

#login-outbox
{
	background-image                 : url("./image/bg_login_box_top.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	margin                           : 150px auto 0 auto;
	padding-top                      : 7px;
	width                            : 520px;
}

#login-inbox
{
	background-image                 : url("./image/bg_login_box_bottom.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	padding-bottom                   : 9px;
	width                            : 520px;
}

#logo-box
{
	float                            : left;
	margin-top                       : 35px;
	text-align                       : center;
	width                            : 250px;
}

#field-box
{
	float                            : right;
	margin-top                       : 10px;
	padding-right                    : 20px;
	position                         : relative;
	width                            : 250px;
}

dl
{
	clear                            : both;
	height                           : 24px;
}

dl dt
{
	float                            : left;
	line-height                      : 26px;
	margin-right                     : 10px;
	text-align                       : right;
	width                            : 80px;
}

dl dd
{
	float                            : left;
}

dl dd .text-input
{
	padding                          : 3px;
	width                            : 148px;
}

#checkbox-line
{
	bottom                           : 0;
	left                             : 0;
	margin-bottom                    : 5px;
	position                         : absolute;
}

#checkbox-line .checkbox
{
	margin-left                      : 10px;
}

#messege-box
{
	background-color                 : #EBF2F8;
	margin-top                       : 10px;
	padding                          : 5px;
	text-align                       : center;
}

.button-box
{
	border-top                       : 1px dotted #CCCCCC;
	margin                           : 5px 0 6px 0;
	padding-top                      : 7px;
}

.button-box .button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button.gif");
	display                          : block;
	float                            : none;
	height                           : 23px;
	margin                           : 0 2px 0 auto;
	padding-left                     : 4px;
	width                            : 106px;
}

.button-box .button span
{
	background-image                 : url("./image/button.gif");
	display                          : block;
	height                           : 18px;
	background-position              : right top;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 102px;
}

.button-box .button:link,
.button-box .button:visited
{
	color                            : #000000;
	font-weight                      : bold;
	text-decoration                  : none;
}

.button-box .button:hover,
.button-box .button:active
{
	color                            : #565656;
	text-decoration                  : none;
}