@media all and (min-width: 0px)
{
	/* Login *****************************************************************************************/
	
	dl dt
	{
		line-height                      : 20px;
	}
	
	dl dd .input-text
	{
		width                            : 155px;
	}

	.button-box .button span
	{
		padding-top                      : 4px;
		padding-bottom                   : 1px
	}
}