@charset "utf-8";

/* Plugin ****************************************************************************************/

/* data subbox */

#part-plugin-list .data-subbox
{
	padding-top                      : 0.4em;
	padding-bottom                   : 0;
}

#part-plugin-list .data-subbox 
{
	border                           : 1px solid #F2F2F2 !important;
}

#activate-status-line
{
	top                              : 1px !important;
}