@charset "utf-8";

/* Basic Tag *************************************************************************************/

body
{
	background-color                 : #FFFFFF;
	font-family                      : 'Lucida Grande', Arial, 굴림, Gulim, Tahoma, Verdana, sans-serif;
	font-size                        : small;
	margin                           : 0;
}

form
{
	font-size                        : 0.95em;
}

kbd
{
	color                            : #FF0000;
	font-family                      : "Courier New", Courier, monospace;
}

samp
{
	color                            : #ABABAB;
	font-family                      : "Courier New", Courier, monospace;
}

select
{
	font-family                      : 'Lucida Grande', Arial, 굴림, Gulim, Tahoma, Verdana, sans-serif;
	font-size                        : 0.95em;
}

/* Layout ****************************************************************************************/

#layout-head
{
	background-image                 : url("./image/bg_plugin_setting_header.png");
	background-position              : left top;
	background-repeat                : repeat-x;
	padding                          : 13px 16px;
}

#layout-body
{
	background-image                 : url("./image/bg_plugin_setting_body.png");
	background-position              : left top;
	background-repeat                : repeat-x;
	padding                          : 10px;
}

#layout-foot
{
	background-color                 : #F2F2F2;
	margin-top                       : 10px;
	padding                          : 12px;
	text-align                       : center;
}

/* Body ******************************************************************************************/

h1
{
	background-image                 : url("./image/img_tattertools_icon.png");
	background-position              : left center;
	background-repeat                : no-repeat;
	color                            : #FFFFFF;
	font-size                        : inherit;
	line-height                      : 1.9em;
	margin                           : 0;
	padding-left                     : 30px;
}

#config_data fieldset
{
	border                           : 1px solid #DDDDDD;
	margin-top                       : 10px;
	overflow                         : hidden;
	padding                          : 0 10px 10px 10px;
}

#config_data fieldset legend
{
	font-weight                      : bold;
}

#config_data fieldset .field
{
	border-top                       : 1px solid #DDDDDD;
	margin-top                       : 5px;
	padding                          : 5px 5px 0 5px;
}

#config_data fieldset .fieldcaption
{
	background-color                 : #EEEEEE;
	margin-top                       : 5px;
	padding                          : 10px;
}

#config_data fieldset .fieldtitle
{
	padding                          : 0 5px;
}

#config_data fieldset .textcontrol
{
	border                           : 1px solid #999999;
	font-family                      : "Courier New", Courier, monospace;
	font-size                        : inherit;
}

.input-button
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #BBBBBB;
	color                            : #000000;
	font-size                        : inherit;
	font-weight                      : bold;
	height                           : auto;
	line-height                      : normal;
	padding                          : 8px 8px 6px 8px !important;
	vertical-align                   : middle;
}

.radiocontrol,
.checkboxcontrol
{
	vertical-align                   : middle;
}