@charset "utf-8";

/* Plugin */

#part-plugin-list fieldset
{
	padding                          : 10px 10px 8px 10px;
}

#sorting-line
{
	margin-bottom: 5px;
}

#scope-line dd
{
	top: 15px;
}

#scope-line ul li
{
	padding: 2px 0 !important;
}

#temp-box
{
	height: 15em;
	margin-left: 231px;
}

/* Plugin List */

#part-plugin-list ul.data-inbox li .summary .plugin-buttons
{
	font-family: Dotum, 'Lucida Grande', Tahoma, sans-serif;
	letter-spacing: -1px;
	margin-top: 3px;
}