@charset "utf-8";

/* Common ****************************************************************************************/

.part .caption
{
	margin-bottom                    : 10px;
}

/* Setting ***************************************************************************************/

#part-plugin-list .main-explain-box
{
	margin-bottom                    : 40px;
}

#part-plugin-list fieldset
{
	background-image                 : none;
	border                           : none;
	position                         : absolute;
	right                            : 20px;
	top                              : 75px;
}

#part-plugin-list fieldset dl
{
	border                           : none;
}

#part-plugin-list fieldset dl dt
{
	font-weight                      : bold;
}

/* table head */
#part-plugin-list table.data-inbox tr .title
{
	width                            : 170px;
}

#part-plugin-list table.data-inbox tr .version
{
	width                            : 60px;
}

#part-plugin-list table.data-inbox tr .scope
{
	width                            : 60px;
}

#part-plugin-list table.data-inbox tr .maker
{
	width                            : 100px;
}

#part-plugin-list table.data-inbox tr .config
{
	width                            : 70px;
}

#part-plugin-list table.data-inbox tr .status
{
	width                            : 70px;
}

/* table body */
#part-plugin-list table.data-inbox tbody tr td.title
{
	background-position              : right bottom;
}

#part-plugin-list table.data-inbox tbody tr td.title,
#part-plugin-list table.data-inbox tbody tr td.version,
#part-plugin-list table.data-inbox tbody tr td.scope,
#part-plugin-list table.data-inbox tbody tr td.explain,
#part-plugin-list table.data-inbox tbody tr td.maker
{
	text-align                       : left;
}

/* plugin icons */
#part-plugin-list table.data-inbox tbody tr td.config a
{
	background-image                 : url("./image/icon_config_on.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	color                            : #5A8FC9;
	cursor                           : pointer;
	margin                           : 0 auto;
	padding                          : 1px 0 1px 22px;
}

#part-plugin-list table.data-inbox tbody tr td.config span
{
	background-image                 : url("./image/icon_config_off.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	margin                           : 0 auto;
	padding                          : 1px 0 1px 22px;
}

#part-plugin-list table.data-inbox tbody tr td.status a
{
	background-position              : left center;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	margin                           : 0 auto;
	padding                          : 1px 0 1px 14px;
}

#part-plugin-list table.data-inbox tbody tr.active-class td.status a
{
	background-image                 : url("./image/icon_plugin_on.gif");
	color                            : #5A8FC9;
}

#part-plugin-list table.data-inbox tbody tr.inactive-class td.status a
{
	background-image                 : url("./image/icon_plugin_off.gif");
}

/* data subbox */
#part-plugin-list .data-subbox
{
	margin-bottom                    : 50px;
	position                         : relative !important;
}

#part-plugin-list .data-subbox dl
{
	border                           : none;
}

#part-plugin-list .data-subbox dl dt
{
	width                            : 50px;
}

#part-plugin-list .data-subbox dl dd
{
	margin-left                      : 50px;
}

#activate-status-line
{
	right                            : 10px;
	top                              : 0.7em;
	position                         : absolute;
}

#part-plugin-more
{
	margin-bottom                    : 100px;
}