@charset "utf-8";

/* Plugin ****************************************************************************************/

#sorting-line
{
	bottom                           : -3px;
	padding-top                      : 5px;
}

#activate-status-line
{
	bottom                           : 3px;
	right                            : 30px;
}