@charset "utf-8";

/* Plugin ****************************************************************************************/

#part-plugin-list table.data-inbox tbody tr td.config
{
	font-family: 돋움, Dotum, sans-serif;
	font-size: 11px;
	padding-top: 18px;
}

#part-plugin-list table.data-inbox tbody tr td.config ul li
{
	margin: 2px 0;
}