@charset "utf-8";

/* Editor ****************************************************************************************/

/* textarea -------------------------------------------------------------------------------------*/
#editWindow
{
	height                           : 450px !important;
}

/* property box --------------------------------------------------------------------------------*/
.entry-editor-property h4
{
	font-family                      : ±¼¸², Gulim, sans-serif;
	font-size                        : 0.9em;
}

.entry-editor-property .title
{
	font-family                      : ±¼¸², Gulim, sans-serif;
	font-size                        : 0.9em;
}

.entry-editor-property dl dt
{
	font-family                      : ±¼¸², Gulim, sans-serif;
	font-size                        : 0.9em;
}

.entry-editor-property dl dd input.text-input
{
	width                            : 103px !important;
}

.entry-editor-property .button-box
{
	width                            : 161px !important;
}

.entry-editor-property .button-box .button span
{
	font-family                      : ±¼¸², Gulim, sans-serif;
	font-size                        : 0.9em;
}

/* tag and location -----------------------------------------------------------------------------*/
#taglocal-section dl
{
	margin                           : 0;
}

#taglocal-section dl dt
{
	z-index                          : 500;
}

#taglocal-section dl dd
{
	margin-left                      :42px;
}

#taglocal-section dl dd ul
{
	width                            : 568px;
}

/* tag */
#tag-line dd ul li
{
	background-position              : right 12px;
}

/* location */
#location-line dd .text-input
{
	margin-top                       : -3px !important;
}

#location-line dd ul li
{
	padding                          : 2px 9px 5px 0 !important;
}

#location-line dd ul li
{
	background-position              : right 3px;
}

/* button box -----------------------------------------------------------------------------------*/
.one-button-box
{
	height                           : 23px;
	margin                           : 20px auto 0 auto;
	width                            : 116px;
}

.two-button-box
{
	height                           : 23px;
	margin                           : 20px auto 0 auto;
	width                            : 229px;
}

.three-button-box
{
	height                           : 23px;
	margin                           : 20px auto 0 auto;
	width                            : 341px;
}

.button-box .button
{
	float                            : left;
	margin                           : 0 1px !important;
}