@media all and (min-width: 0px)
{
	/* Common ****************************************************************************************/
	
	.part table.data-inbox .tr-last-body td
	{
		border-bottom                    : 2px solid #00A6ED;
	}
	
	.part .data-subbox
	{
		margin-top                       : -2px;
	}
	
	.part table.data-inbox .tr-body td
	{
		height                           : 20px !important;
	}

	.part table.data-inbox .tr-last-body td
	{
		height                           : 22px !important;
	}

	/* List ******************************************************************************************/
		
	/* list category --------------------------------------------------------------------------------*/
	#part-post-list .caption .category select
	{
		vertical-align                   : middle;
	}
	
	/* list table body ------------------------------------------------------------------------------*/	
	#part-post-list table.data-inbox .tr-body .status .private-on-icon,
	#part-post-list table.data-inbox .tr-last-body .status .private-on-icon,
	#part-post-list table.data-inbox .tr-body .status .protected-on-icon,
	#part-post-list table.data-inbox .tr-last-body .status .protected-on-icon,
	#part-post-list table.data-inbox .tr-body .status .public-on-icon,
	#part-post-list table.data-inbox .tr-last-body .status .public-on-icon
	{
		margin-top                       : 3px;
	}
	
	#part-post-list table.data-inbox .tr-body .title .temp-icon,
	#part-post-list table.data-inbox .tr-last-body .title .temp-icon
	{
		margin-top                       : 2px;
	}
	
	/* multi-selection deleter in sub-box -----------------------------------------------------------*/
	#part-post-list #change-section select
	{
		vertical-align                   : middle;
	}

	/* lines per page -------------------------------------------------------------------------------*/
	#part-post-list #page-section .page-count select
	{
		vertical-align                   : middle;
	}

	/* page navigation ------------------------------------------------------------------------------*/
	#part-post-list #page-navigation
	{
		border-top                       : 1px dotted #CCCCCC;
		margin-top                       : 7px;
		padding                          : 10px 120px 0 3px;
	}

	#part-post-list #page-navigation #page-list
	{
		padding-left                     : 28px;
	}

	/* search ---------------------------------------------------------------------------------------*/
	#part-post-list #search-section
	{
		right                            : 4px;
	}
	
	#part-post-list #search-section input#search
	{
		padding                          : 3px;
	}
	
	#part-post-list #search-section .search-button span
	{
		padding-top                      : 4px;
	}
	
	/* Comment ***************************************************************************************/
	
	/* list category --------------------------------------------------------------------------------*/
	#part-post-comment .caption .category select
	{
		vertical-align                   : middle;
	}
	
	/* list table body ------------------------------------------------------------------------------*/
	#part-post-comment table.data-inbox .tr-body td
	{
		height                           : 20px;
		padding-top                      : 3px !important;
	}

	#part-post-comment table.data-inbox .tr-last-body td
	{
		height                           : 22px !important;
		padding-top                      : 3px !important;
		padding-bottom                   : 3px !important;
	}
	
	#part-post-comment table.data-inbox .tr-body .name .bullet,
	#part-post-comment table.data-inbox .tr-last-body .name .bullet,
	#part-post-comment table.data-inbox .tr-body .ip .bullet,
	#part-post-comment table.data-inbox .tr-last-body .ip .bullet
	{
		margin-top                       : 4px !important;
	}
	
	/* multi-selection deleter ----------------------------------------------------------------------*/
	#part-post-comment #delete-section .label
	{
		margin-top                       : 0;
		padding-top                      : 0;
	}
	
	#part-post-comment #delete-section .delete-button span
	{
		padding-top                      : 4px;
	}

	/* lines per page -------------------------------------------------------------------------------*/
	#part-post-comment #page-section .page-count select
	{
		vertical-align                   : middle;
		width                            : 40px;
	}

	/* search ---------------------------------------------------------------------------------------*/
	#part-post-comment #search-section
	{
		right                            : 3px;
	}
	
	#part-post-comment #search-section input#search
	{
		float                            : left;
		margin-top                       : 2px;
		padding                          : 3px;
		width                            : 70px;
	}

	#part-post-comment #search-section .search-button span
	{
		padding-top                      : 4px;
	}
	
	/* Notify ****************************************************************************************/
	
	/* list table body ------------------------------------------------------------------------------*/
	#part-post-notify table.data-inbox .tr-body td,
	#part-post-notify table.data-inbox .tr-last-body td
	{
		height                           : 24px !important;
		padding-top                      : 2px !important;
	}
	
	#part-post-notify table.data-inbox .tr-body .name .bullet,
	#part-post-notify table.data-inbox .tr-last-body .name .bullet
	{
		margin-top                       : 4px !important;
	}
	
	#part-post-notify table.data-inbox .tr-body .content,
	#part-post-notify table.data-inbox .tr-last-body .content
	{
		padding-top                       : 4px !important;
	}
	
	/* multi-selection deleter ----------------------------------------------------------------------*/
	#part-post-notify #delete-section .label
	{
		margin-top                       : 0;
		padding-top                      : 0;
	}
	
	#part-post-notify #delete-section .delete-button span
	{
		padding-top                      : 4px;
	}

	/* lines per page -------------------------------------------------------------------------------*/
	#part-post-notify #page-section .page-count select
	{
		vertical-align                   : middle;
		width                            : 40px;
	}

	/* search ---------------------------------------------------------------------------------------*/
	#part-post-notify #search-section
	{
		right                            : 3px;
	}
	
	#part-post-notify #search-section input#search
	{
		float                            : left;
		margin-top                       : 2px;
		padding                          : 3px;
		width                            : 70px;
	}

	#part-post-notify #search-section .search-button span
	{
		padding-top                      : 4px;
	}
	
	/* Trackback *************************************************************************************/
	
	/* list common ----------------------------------------------------------------------------------*/
	#part-post-trackback .data-subbox
	{
		margin-top                       : -2px;
	}
	
	/* list category --------------------------------------------------------------------------------*/
	#part-post-trackback .caption .category select
	{
		vertical-align                   : middle;
	}
	
	/* list table body ------------------------------------------------------------------------------*/
	#part-post-trackback table.data-inbox .tr-body td,
	#part-post-trackback table.data-inbox .tr-last-body td
	{
		height                           : 26px !important;
		padding-top                      : 3px !important;
	}
	
	#part-post-trackback table.data-inbox .tr-body .site .bullet,
	#part-post-trackback table.data-inbox .tr-last-body .site .bullet
	{
		margin-top                       : 5px;
	}
	
	/* multi-selection deleter in sub-box -----------------------------------------------------------*/
	#part-post-trackback #delete-section select
	{
		vertical-align                   : middle;
	}
	
	#part-post-trackback #delete-section .delete-button span
	{
		padding-top                      : 4px;
	}

	/* lines per page -------------------------------------------------------------------------------*/
	#part-post-trackback #page-section .page-count select
	{
		vertical-align                   : middle;
	}

	/* page navigation ------------------------------------------------------------------------------*/
	#part-post-trackback #page-navigation
	{
		border-top                       : 1px dotted #CCCCCC;
		margin-top                       : 7px;
		padding                          : 10px 120px 0 3px;
	}

	#part-post-trackback #page-navigation #page-list
	{
		padding-left                     : 28px;
	}

	/* search ---------------------------------------------------------------------------------------*/
	#part-post-trackback #search-section
	{
		right                            : 4px;
	}
	
	#part-post-trackback #search-section input#search
	{
		padding                          : 3px;
	}
	
	#part-post-trackback #search-section .search-button span
	{
		padding-top                      : 4px;
	}
	
	/* Category **************************************************************************************/
	
	#property-box dl dd .text-input
	{
		padding                          : 3px;
	}
	
	/* Trash *****************************************************************************************/
	
	/* list category --------------------------------------------------------------------------------*/
	#part-post-trash .caption .category select
	{
		vertical-align                   : middle;
	}
	
	/* list table body ------------------------------------------------------------------------------*/
	#part-post-trash table.data-inbox .tr-body td
	{
		height                           : 20px;
		padding-top                      : 3px !important;
	}

	#part-post-trash table.data-inbox .tr-last-body td
	{
		height                           : 22px !important;
		padding-top                      : 3px !important;
		padding-bottom                   : 3px !important;
	}
	
	#part-post-trash table.data-inbox .tr-body .name .bullet,
	#part-post-trash table.data-inbox .tr-last-body .name .bullet,
	#part-post-trash table.data-inbox .tr-body .ip .bullet,
	#part-post-trash table.data-inbox .tr-last-body .ip .bullet
	{
		margin-top                       : 4px !important;
	}
	
	/* multi-selection deleter ----------------------------------------------------------------------*/
	#part-post-trash #delete-section .label
	{
		margin-top                       : 0;
		padding-top                      : 0;
	}
	
	#part-post-trash #delete-section .delete-button span
	{
		padding-top                      : 4px;
	}

	/* lines per page -------------------------------------------------------------------------------*/
	#part-post-trash #page-section .page-count select
	{
		vertical-align                   : middle;
		width                            : 40px;
	}

	/* search ---------------------------------------------------------------------------------------*/
	#part-post-trash #search-section
	{
		right                            : 3px;
	}
	
	#part-post-trash #search-section input#search
	{
		float                            : left;
		margin-top                       : 2px;
		padding                          : 3px;
		width                            : 70px;
	}

	#part-post-trash #search-section .search-button span
	{
		padding-top                      : 4px;
	}
}