@charset "utf-8";

/* Common *****************************************************************************************/

/* table header */

table.data-inbox tr .syndicate
{
	width                            : 12px;
}

/* Comment ****************************************************************************************/

/* table body */
#part-post-comment table.data-inbox tbody tr td.delete
{
	padding                          : 0px 5px;
}

/* data subbox */
#part-post-comment #search-form
{
	top                              : 50px;
}

/* Notify *****************************************************************************************/

/* data subbox */

#part-post-notify .data-subbox
{
	padding-top                      : 8px;
}

#part-post-notify #search-form
{
	top                              : 88px;
}

/* Trackback **************************************************************************************/

/* data subbox */

#part-post-trackback .data-subbox
{
	padding-top                      : 8px;
}

#part-post-trackback #page-section .page-count
{
	bottom                           : 128px;
}

#part-post-trackback #search-form
{
	top                              : 50px;
}

/* Tree ******************************************************************************************/

#property-box dl
{
	border-bottom                    : 1px solid #DDDDDD !important;
}

#property-box dl dt
{
	top                              : 2px !important;
}

#property-box dl dd p
{
	height                           : 1.5em;
	line-height                      : 1.5em;
}

#property-box dl dd .input-button
{
	margin-top                       : 0.5px !important;
}

#label-create-line dd .field-box,
#body-id-line dd .field-box
{
	margin-bottom                    : 5px;
}

#label-move-line dt,
#label-remove-line dt
{
	padding                          : 5px 0 0 0 !important;
}

#label-move-line dd,
#label-remove-line dd
{
	height                           : 2em;
	line-height                      : 3em !important;
}

/* Trash ******************************************************************************************/

/* data subbox */

#part-post-trash .data-subbox
{
	padding-top                      : 8px;
}

#part-post-trash #page-section .page-count
{
	bottom                           : 130px;
}

#part-post-trash #search-form
{
	top                              : 50px;
}