@charset "utf-8";

/* Common *****************************************************************************************/

.part table.data-inbox tbody tr td.delete
{
	width                            : 12px;
}

/* Post *******************************************************************************************/

#part-post-list #search-form
{
	background-color                 : transparent !important;
	border                           : none !important;
	top                              : 58px;
}

#data-description dl
{
	font-family                      : 돋움, Dotum, sans-serif;
	letter-spacing                   : -1px;
}

#data-description dl.eolin-description
{
	background-position              : 8px top;
}

#data-description dl.trackback-description
{
	background-position              : 6px top;
}

#data-description dl.protect-description
{
	background-position              : left 1px;
}

/* Comment *****************************************************************************************/

#part-post-comment #search-form
{
	top                              : 58px;
}

/* Tree ******************************************************************************************/

#tree-preview-box .title
{
	background-position              : left center;
}