@charset "utf-8";

/* Post ******************************************************************************************/

/* post table body ------------------------------------------------------------------------------*/
#part-post-list table.data-inbox tbody tr .status
{
	padding-top                      : 4px;
	padding-bottom                   : 3px;
}

/* post table interlayer for protect password & trackback sender --------------------------------*/
#part-post-list table.data-inbox tbody tr.hidden-layer td .password-box,
#part-post-list table.data-inbox tbody tr.hidden-layer td .trackback-box
{
	padding-right                     : 5px !important;
}

#part-post-list table.data-inbox tbody tr.hidden-layer td .button-box
{
	margin                           : 4px 2px 0 auto !important;
}

/* Category **************************************************************************************/

/* category common ------------------------------------------------------------------------------*/
#part-post-tree .data-inbox
{
	height                           : 308px;
}

/* property -------------------------------------------------------------------------------------*/
#property-box dl
{
	padding                          : 5px 0 0 0 !important;
}

#property-box dl dt
{
	padding-top                      : 7px !important;
}