@charset "utf-8";

/* Reader ****************************************************************************************/

/* common ---------------------------------------------------------------------------------------*/
.button span
{
	background-color                 : transparent !important;
}

/* menu -----------------------------------------------------------------------------------------*/
#search .text-input
{
	margin-top                       : 0 !important;
	padding                          : 1px !important;
}

#search .button
{
	padding-left                     : 5px;
	padding-right                    : 5px;
	width                            : 50px !important;
}

/* pannel ---------------------------------------------------------------------------------------*/

/* group box */
#group-section
{
	float                            : left;
	background-color                 : #FFFFFF;
	margin                           : 0 9px 0 3px;
	width                            : 250px;
	position                         : relative;
}

/* group box */
#group-box
{

}

#groupAdder .button-box .text-input
{
	margin-top                       : 0;
	padding                          : 3px 2px 0 2px !important;
}

#groupEditor .button-box
{
	width                            : 213px;
}

/* feed box */
#feedAdder .button-box .text-input
{
	margin-top                       : 0;
	padding                          : 3px 2px 0 2px !important;
}

ul#feedList li
{
	padding                          : 2px 33px 2px 16px !important;
}

#feedEditor .button-box
{
	width                            : 213px;
}

/* content list ---------------------------------------------------------------------------------*/
#scrollPoint
{
	height                           : 620px;
}

#post-list .button-box .button span
{
	font-family                      : Dotum, sans-serif;
}

/* content in detail ----------------------------------------------------------------------------*/
#entryPermalink
{
	right                            : 10px;
}

#entryFoot .button-box .button
{
	font-family                      : Dotum, sans-serif;
}