@charset "utf-8";

/* Account ***************************************************************************************/

#part-setting-account fieldset
{
	background-image                 : none !important;
	border-top                       : none !important;
	padding                          : 10px 0 20px 0;
}

#part-setting-account dl
{
	border-top                       : 1px solid #FEFEFE !important;
}
	
#part-setting-account dl dt
{
	top                             : 1px !important;
}