@charset "utf-8";

/* Basic *****************************************************************************************/

#part-setting-basic dl dt,
#part-setting-profile dl dt,
#part-setting-rss dl dt
{
	padding-top                      : 0 !important;
}

/* Account ***************************************************************************************/

#part-setting-account fieldset
{
	background-image                 : none !important;
	border-top                       : none !important;
	padding                          : 10px 0 20px 0;
}

#part-setting-account dl
{
	border-top                       : 1px solid #FEFEFE !important;
}
	
#part-setting-account dl dt
{
	top                             : 1px !important;
}

/* Etc *******************************************************************************************/

#part-setting-resample dl dt,
#part-setting-language dl dt,
#part-setting-editor dl dt,
#part-setting-admin dl dt
{
	padding-top                      : 0 !important;
}
