@charset "utf-8";

/* Common *****************************************************************************************/

#sub-menu-list
{
	background-image                 : none !important;
}

/* Select ****************************************************************************************/

#part-skin-list .section,
#part-skin-current .section
{
	clear                            : both;
	margin-bottom                    : 20px;
	position                         : relative;
}

#part-skin-list .section .preview,
#part-skin-current .section .preview
{
	border                           : 1px solid #BBBBBB;
	padding                          : 3px;
	float                            : left;
	/*position                         : absolute;*/
	width                            : 150px;
}

#part-skin-list .section .preview img,
#part-skin-current .section .preview img
{
	vertical-align                   : top;
}

#part-skin-list .section .information,
#part-skin-current .section .information
{
	margin-left                      : 190px;
}

#part-skin-list .section .information table,
#part-skin-current .section .information table
{
	width                            : 750px;
}

#part-skin-list .section .information table tr td,
#part-skin-current .section .information table tr td
{
	background-image                 : url("./image/bg_tbody.gif");
	background-position              : left bottom;
	padding                          : 8px;
}

#part-skin-list .section .information table tr td.name,
#part-skin-current .section .information table tr td.name
{
	background-position              : right bottom;
	font-weight                      : bold;
	text-align                       : right;
	width                            : 100px;
}

#part-skin-list .section .information table tr.explain-line td.name,
#part-skin-current .section .information table tr.explain-line td.name
{
	background-position              : right top;
}

#part-skin-list .section .information table tr.explain-line td.explain,
#part-skin-current .section .information table tr.explain-line td.explain
{
	background-position              : left top;
}

#part-skin-list .section .information .button-box a,
#part-skin-current .section .information .button-box a
{
	background-color                 : #FFFFFF;
	background-image                 : url("./image/bg_button.png");
	background-position              : left top;
	background-repeat                : repeat-x;
	border                           : 1px solid #777777;
	font-size                        : 1em;
	line-height                      : 1.5em;
	padding                          : 3px 5px 1px 5px;
	vertical-align                   : middle;
}

#part-skin-current .section .information .button-box .edit-button
{
	left                             : 42px;
	position                         : absolute;
	top                              : 170px;
	width                            : 60px;
}

#part-skin-list .section .information .button-box .preview-button
{
	left                             : 5px;
	position                         : absolute;
	top                              : 170px;
	width                            : 60px;
}

#part-skin-list .section .information .button-box .apply-button
{
	left                             : 82px;
	position                         : absolute;
	top                              : 170px;
	width                            : 60px;
}

#part-skin-list .caption,
#part-skin-more .caption
{
	margin-bottom                    : 10px;
}

#part-skin-list .main-explain-box
{
	margin-bottom                    : 20px;
}

#part-skin-more
{
	margin-bottom                    : 100px;
}

/* Edit ******************************************************************************************/

#part-skin-edit .section
{
	margin-bottom                    : 20px;
}

#part-skin-edit .section .file-name
{
	background-image                 : url("./image/img_skin_edit_bullet.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #6B90C3;
	font-family                      : Verdana, Arial, Tahoma, "Lucida Grande", sans-serif;
	font-size                        : 1.1em;
	font-weight                      : bold;
	margin-left                      : 9px;
	padding-left                     : 7px;
}

#part-skin-edit .edit-area
{
	background-color                 : #F5F5F5;
	padding                          : 5px;
}

#part-skin-edit .edit-area textarea
{
	height                           : 400px;
	width                            : 927px;
}

#part-skin-edit .section .button-box
{
	background-color                 : #F5F5F5;
	padding                          : 5px 5px 12px 5px;
}

/* Setting ***************************************************************************************/

#part-skin-setting .caption
{
	margin-bottom                    : 20px;
}

#part-skin-setting fieldset
{
	border-top                       : 1px solid #DDDDDD;
	padding-top                      : 1px;
}

#part-skin-setting dl
{
	border-top                       : 1px solid #DDDDDD;
}

#part-skin-setting dl dt
{
	font-weight                      : normal;
	padding                          : 5px 3px 4px 3px;
	text-align                       : right;
	width                            : 170px;
}

#part-skin-setting dl dd
{
	line-height                      : 1.2em;
	margin-left                      : 190px;
	padding                          : 5px 3px 4px 3px;
}

#part-skin-setting .section .button-box
{
	padding-bottom                   : 30px;
}

#part-skin-setting .section .button-box .input-button
{
	background-color                 : #FFFFFF;
	background-image                 : none;
	border                           : 1px solid #BBBBBB;
	color                            : #000000;
	font-weight                      : bold;
	height                           : auto;
	line-height                      : normal;
	padding                          : 9px 8px 5px 8px;
	vertical-align                   : middle;
}

/* Tree -----------------------------------------------------------------------------------------*/

#part-skin-tree div.data-inbox
{
	height                           : 488px;
	position                         : relative;
}

#part-skin-tree div.data-inbox .section
{
	padding                          : 30px 0 0 310px;
}

#tree-preview-box
{
	background-color                 : #EEEEEE;
	height                           : 370px;
	left                             : 0;
	padding                          : 10px 0;
	position                         : absolute;
	top                              : 0;
	width                            : 280px;
}

#tree-preview-box .title
{
	background-image                 : url("./image/img_bullet_tree_preview.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	color                            : #333333;
	margin                           : 0 10px 3px 10px;
	padding-left                     : 11px;
}

#tree-preview-box iframe
{
	border                           : 1px solid #999999;
	display                          : block;
	height                           : 355px;
	margin                           : 0 auto;
	overflow                         : auto;
	width                            : 260px;
}

#property-box
{
	background-image                 : none;
	border-top                       : none;
	width                            : 560px;
}

#property-box dl
{
	border-top                       : 1px solid #DDDDDD;
}

#property-box dl dt
{
	font-weight                      : bold;
	line-height                      : 2em;
	padding                          : 3px 5px;
	text-align                       : right;
	width                            : 150px;
}

#property-box dl dd
{
	border-left                      : 1px solid #EEEEEE;
	margin-left                      : 160px;
	padding                          : 3px 5px;
}

/* tree iframe */
#tree-iframe
{
	font-family                      : 굴림, Gulim, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size                        : 0.75em;
	margin                           : 10px !important;
}

#part-skin-tree .section .button-box
{
	padding-top                      : 30px;
}

#part-skin-tree .section .button-box .input-button
{
	background-color                 : #FFFFFF;
	background-image                 : none;
	border                           : 1px solid #BBBBBB;
	color                            : #000000;
	font-weight                      : bold;
	height                           : auto;
	line-height                      : normal;
	padding                          : 9px 8px 5px 8px;
	vertical-align                   : middle;
}

/* Sidebar ***************************************************************************************/

#sidebar-preview-mode
{
	background-image                 : none;
	border                           : none;
	margin-top                       : 30px;
	text-align                       : center;
}

#sidebar-preview-mode a
{
	border                           : 1px solid #DDDDDD;
	padding                          : 3px 5px;
}

#sidebar-box
{
	float                            : left;
	min-height                       : 656px;
	overflow-x                       : scroll;
	width                            : 660px;
}

#sidebar-box h3
{
	display                          : none;
}

#sidebar-box .section
{
	float                            : left;
	width                            : 250px;
}

#sidebar-box .section h4
{
	font-size                        : 1em;
	margin                           : 7px 0 0 10px;
}

#sidebar-box .section h4 .radio
{
	display                          : none;
}

#sidebar-box .section ul li.sidebar-module
{
	border                           : 1px solid #DDDDDD;
	cursor                           : move;
	padding                          : 10px;
	margin                           : 2px;
	overflow                         : hidden;
	max-height                       : 100px;
}

#sidebar-box .section ul li.sidebar-module *
{
	font-size                        : 1em;
}

#sidebar-box .section ul li.sidebar-module .button-box
{
	display                          : none;
}

#sidebar-element-box
{
	background-image                 : none;
	float                            : left;
	width                            : 250px;
}

#sidebar-element-box h3
{
	display                          : none;
}

#sidebar-element-box fieldset
{
	background-image                 : none;
	border                           : none;
	margin-bottom                    : 5px;
}

#sidebar-element-box fieldset legend
{
	display                          : block;
	font-weight                      : bold;
	padding                          : 8px 0 2px 10px;
}

#sidebar-element-box fieldset>ul
{
	border                           : 1px solid #DDDDDD;
	height                           : 300px;
	overflow-y                       : scroll;
}

#sidebar-element-box fieldset ul li.sidebar-module
{
	/*background-color                 : #C9C9C9;
	background-image                 : url('./image/bg_sidebar_item.png');
	background-position              : 3px 3px;
	background-repeat                : no-repeat;*/
	border                           : 1px solid #DDDDDD;
	cursor                           : move;
	font-size                        : 1em;
	padding                          : 10px;
	margin                           : 2px;
	overflow                         : hidden;
}

#sidebar-element-box fieldset ul li.sidebar-module *
{
	font-size                        : 1em;
}

#sidebar-element-box fieldset ul li.sidebar-module .radio
{
	display                          : none;
}

/* classes for AJAX *******************************************************************************/
.ajax-floating-panel
{
	border                           : 1px solid #DDDDDD;
	cursor                           : move;
	padding                          : 10px;
	margin                           : 2px;
	overflow                         : hidden;



	width                            : 230px;
} /* same as #sidebar-box .section ul li.sidebar-module */ /* plus width of "#sidebar-box .section" */

