@charset "utf-8";

/* List ******************************************************************************************/

#part-skin-current div.data-inbox .section,
#part-skin-list div.data-inbox .section
{
	margin-bottom                    : 20px;
	min-width                        : 850px;
	padding                          : 10px 5px 10px 25px;
	position                         : relative;
}

#part-skin-current div.data-inbox .section .preview,
#part-skin-list div.data-inbox .section .preview
{
	top                              : 10px;
	left                             : 25px;
	width                            : 150px;
	position                         : absolute;
}

#part-skin-current div.data-inbox .section .preview img,
#part-skin-list div.data-inbox .section .preview img
{
	border                           : 1px solid #536576;
	display                          : block;
	margin                           : 0 auto;
}

#part-skin-current div.data-inbox .section .information,
#part-skin-list div.data-inbox .section .information
{
	display                          : block;
	margin-left                      : 180px;
	padding-bottom                   : 22px;
}

#part-skin-current div.data-inbox .section .button-box .button,
#part-skin-list div.data-inbox .section .button-box .button
{
	border                           : 1px solid #666666;
	background-color                 : #EEEEEE;
	background-image                 : none;
	float                            : left;
	margin                           : 7px 3px 0 0;
	padding                          : 6px 10px 3px 10px;
	text-align                       : center;
	width                            : auto;
}

#part-skin-current div.data-inbox .section .button-box .button span,
#part-skin-list div.data-inbox .section .button-box .button span
{
	background-color                 : transparent;
	background-image                 : none;
	padding                          : 0;
	width                            : auto;
}

#part-skin-current div.data-inbox .section table,
#part-skin-list div.data-inbox .section table
{
	margin                           : 5px 10px;
	width                            : 600px;
}

#part-skin-current div.data-inbox .section #customizedTable
{
	height                           : 100px;
	padding-left                     : 130px;
}

#part-skin-current div.data-inbox .section .information .preview-button,
#part-skin-list div.data-inbox .section .information .preview-button
{
	margin-left                      : 130px;
}

#part-skin-current div.data-inbox .section table tr td,
#part-skin-list div.data-inbox .section table tr td
{
	border-bottom                    : 1px solid #BDD4EC !important;
	padding                          : 5px 10px 2px 10px;
}

#part-skin-current div.data-inbox .section table tr td.name,
#part-skin-list div.data-inbox .section table tr td.name
{
	text-align                       : right;
	width                            : 90px;
}

#part-skin-current div.data-inbox .section .version,
#part-skin-list div.data-inbox .section .version
{
	padding-left                     : 10px;
}

/* Edit ******************************************************************************************/

#part-skin-edit div.data-inbox
{
	padding-bottom                   : 0;
}

#part-skin-edit .section
{
	padding                          : 10px 15px 0 15px;
}

#part-skin-edit .section .file-name
{
	font-weight                      : bold;
}

#part-skin-edit .section textarea
{
	display                          : block;
	font-family                      : "Courier New", monospace;
	width                            : 100%;
}

#part-skin-edit .section .button-box
{
	margin                           : 20px 0;
}

#part-skin-edit .section .button-box .button
{
	margin-left                      : auto;
	margin-right                     : auto;
	width                            : 106px;
}

#part-skin-edit .section .button-box .button span
{
	width                            : 102px;
}

/* Setting ***************************************************************************************/

#part-skin-setting div.data-inbox
{
	padding-top                      : 2px;
}

#part-skin-setting div.data-inbox .container
{
	border-top                       : 1px dotted #CCCCCC;
	clear                            : both;
	line-height                      : 15px;
	margin                           : 0 5px;
	padding                          : 15px 10px;
}

#part-skin-setting div.data-inbox .section dl dt
{
	padding-top                      : 3px;
}

#per-page-container
{
	border-top                       : none !important;
}

#click-container
{
	padding                          : 20px 10px 12px 10px !important;
}

#click-container dl
{
	height                           : 2.5em;
}

#click-container dl dt
{
	padding-top                      : 0 !important;
}

#length-container
{
	padding                          : 20px 10px 17px 10px !important;
}

#tag-setting-container
{
	padding                          : 20px 10px 17px 10px !important;
}

#tag-align-line dt
{
	padding-top                      : 0 !important;
}

#tag-align-line dd
{
	height                           : 4.3em;
}

#guestbook-setting-container
{
	border-bottom                    : 1px dotted #CCCCCC;
	padding                          : 23px 10px 20px 10px !important;
}

/* setting button box ---------------------------------------------------------------------------*/
#part-skin-setting .button-box
{
	margin                           : 20px 0 10px 0;
}

#part-skin-setting .button-box .save-button
{
	margin-left                      : auto;
	margin-right                     : auto;
	width                            : 106px;
}

#part-skin-setting .button-box .save-button span
{
	width                            : 102px;
}

/* tree -----------------------------------------------------------------------------------------*/
#part-skin-tree div.data-inbox
{
	min-height                       : 308px;
	position                         : relative;
}

#part-skin-tree div.data-inbox iframe
{
	background-color                 : #FFFFFF;
	border                           : 2px solid #EEEEEE;
	height                           : 280px;
	left                             : 15px;
	margin                           : 0 15px;
	overflow                         : auto;
	position                         : absolute;
	top                              : 15px;
	width                            : 280px;
}

/* tree iframe */
#tree-iframe
{
	font-family                      : ±¼¸², Gulim, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size                        : 0.75em;
	margin                           : 10px !important;
}
	
/* property -------------------------------------------------------------------------------------*/
#property-box
{
	margin                           : 25px 15px 0 330px !important;
}

#property-box dl dt
{
	padding-top                      : 3px;
}

#property-box dl dd
{
	height                           : 2.2em;
}

#property-box dl dd .text-input
{
	text-transform                   : uppercase;
}

#count-display-line dd
{
	padding-top                      : 2px;
}

/* tree button box ------------------------------------------------------------------------------*/
#part-skin-tree .button-box
{
	margin                           : 20px 0 10px 330px;
}

#part-skin-tree .button-box .save-button
{
	margin-left                      : auto;
	margin-right                     : auto;
	width                            : 106px;
}

#part-skin-tree .button-box .save-button span
{
	width                            : 102px;
}