@charset "utf-8";

/* Sidebar ***************************************************************************************/

#sidebar-box
{
	height                           : 656px;
}

#sidebar-element-box fieldset ul
{
	border                           : 1px solid #DDDDDD;
	height                           : 300px;
	overflow-y                       : scroll;
}

#sidebar-element-box fieldset ul ul
{
	border                           : none;
	height                           : auto;
	overflow-y                       : inherit;
}

#sidebar-element-box fieldset ul li.sidebar-module
{
	overflow                         : hidden;
	width                            : 210px;
}