@charset "utf-8";

/* Common ****************************************************************************************/

table.data-inbox tbody tr td .block-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

table.data-inbox tbody tr td .unblock-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left top;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 3px 3px 0 0;
	width                            : 16px;
}

table.data-inbox tbody tr td .block-icon span,
table.data-inbox tbody tr td .unblock-icon span
{
	display                          : none;
}

/* Comment ***************************************************************************************/

/* comment table body ---------------------------------------------------------------------------*/
#part-trash-comment table.data-inbox tbody tr td.content .entry-title
{
	font-weight                      : bold;
}

/* Filter ****************************************************************************************/

#part-trash-filter div.data-inbox .section
{
	float                            : left;
	margin-left                      : 20px;
	width                            : 200px;
}

#part-trash-filter div.data-inbox .section .title
{
	margin-bottom                    : 5px;
}

#part-trash-filter div.data-inbox .section table
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #A0A0C0;
	table-layout                     : fixed;
	width                            : 100%;
}

#part-trash-filter div.data-inbox .section table tbody tr td.content,
#part-trash-filter div.data-inbox .section table tbody tr td.empty
{
	padding                          : 5px 5px 3px 5px;
}

#part-trash-filter div.data-inbox .section table tbody tr td.delete
{
	width                            : 20px;
}

#part-trash-filter div.data-inbox .section table tbody tr td .delete-button
{
	background-color                 : transparent;
	background-image                 : url("./image/delete2.gif");
	background-position              : left top;
	height                           : 11px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 11px;
}

#part-trash-filter div.data-inbox .section table tbody tr td .delete-button span
{
	display                          : none;
}

#part-trash-filter div.data-inbox .section .text-input
{
	margin-top                       : 2px;
	width                            : 194px;
}

#part-trash-filter .button-box
{
	margin                           : 20px 0 10px 0;
}

#part-trash-filter .button-box .add-button
{
	margin                           : 0 auto;
}