@charset "utf-8";
/* 반드시 들어가야 하는 스타일 시작 */

/* 본문 공통 */
body{
		font:0.75em/1.5 Dotum, Verdana, AppleGothic, Sans-serif;
		background-color:#ddd;
		color:#666;
}
a:link          { color:#333;     text-decoration:none;}
a:visited       { color:#333;     text-decoration:none;}
a:hover         { color:#7870ab;  text-decoration:underline;}
a:active        { color:#666;     text-decoration:none;}

/* 페이징 - 현재 페이지 */
    .selected               { font-weight:bold;  color:#f30;}
    .no-more-prev,
	.no-more-next { color:#ccc;}


/* 카테고리 - 이미지 버튼 */
    .ib                     { cursor:pointer;}
/* 카테고리 - 트리 셀 */
    .branch3                { cursor:pointer;}
/* 카테고리 - 카테고리 옆 개수 스타일 */
    .c_cnt                  { font:0.75em Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#f30;}

/* 달력 월 표시 */
    .cal_month              { font:0.95em Verdana, Helvetica, Arial, Gulim, sans-serif;  height:18px; font-weight:bold;}
/* 달력 요일 표시(th 영역) */
    .cal_week1              { font:0.95em Dotum, Arial, sans-serif;  height:18px;  font-weight:normal;}
/* 달력 일요일 표시(th 영역) */
    .cal_week2              { font:0.95em Dotum, Arial, sans-serif;  color:#f30; }

/* 달력 Week(tr 영역)  */
    .cal_week               { background-color:#fff;}
    .cal_current_week       { background-color:#eee;}

/* 달력 Day(td 영역) */
    .cal_day                { font:0.95em Verdana, Helvetica, Arial, Gulim, sans-serif;  color:#999;  text-align:center;}
/* 달력 Day, 일요일 (td 영역)  */
    .cal_day_sunday         { color:#f30 !important;}
    .cal_day_sunday a        { color:#f30 !important;}

/* 달력 지난 달 날짜 표시(td)   */
    .cal_day1               { color:#ccc;}
/* 달력 다음 달 날짜 표시(td)   */
    .cal_day2               { color:#ccc;}
/* 달력 이번 달 날짜 표시(td) */
    .cal_day3               { color:#666;}
/* 달력 오늘 날짜 표시(td) */
    .cal_day4               { color:#000;  text-decoration:underline;}
/* 달력 글쓴 날 링크 스타일 */
    a.cal_click:link        { color:#333;  font-weight:bold;}
    a.cal_click:visited     { color:#333;  font-weight:bold;}
    a.cal_click:hover       { color:#f30;  font-weight:bold;}

/* 종류별 코멘트 [##_rp_rep_class_##] */
    .rp_general             { }
    .rp_admin               { background:url(images/iconAdmin.gif) no-repeat;  padding-left:20px; }
    .rp_secret              { color:#f30;   font-weight:bold;}
/* 종류별 코멘트 [##_guest_rep_class_##] */
    .guest_general          { }
    .guest_admin            { background:url(images/iconAdmin.gif) no-repeat; padding-left:20px;}
/* 비밀 댓글 (로그아웃시 비밀글 표현)    */
    .hiddenComment { background:url(images/iconSecret.gif) no-repeat;  padding-left:20px;  font-weight:normal;}


/* 이미지 아래 캡션 스타일 */
    .cap1                   { color:#999;  text-align:center;}
/* 그림 */
    .imageblock             { border:1px solid #ddd;  padding:5px;  margin:5px 0;}
/* 왼쪽 */
    .left                   { }
/* 가운데 */
    .center                 { }
/* 오른쪽 */
    .right                  { }
/* 그림 2개 배치 */
    .dual                   { background-color:#fff; margin-bottom:5px;}
/* 그림 3개 배치 */
    .triple                 { background-color:#fff; margin-bottom:5px;}

/* 본문 - more / less */
    .moreless_fold          { background:url(images/iconMore.gif) top left no-repeat;  padding-left:20px; color:#000;}
    .moreless_top           { background:url(images/iconLess.gif) top left no-repeat;  padding-left:20px; color:#000;}
    .moreless_body          { }
    .moreless_bottom        { background:url(images/iconLess.gif) top right no-repeat;  padding-right:20px; color:#999; text-align:right;}

/* 키워드 */ 
    .key1 { cursor: pointer; border-bottom: 1px dotted #ccc; }


/* 반드시 들어가야하는 스타일 끝 - 이 아래는 자유롭게 추가, 삭제 가능 */

hr              { display:none;}
img             { border:0;}
h1, h2, h3, h4  { margin:0;  padding:0;}
h1              { font-size:1.8em;}
h2              { font-size:1.4em;}
h3              { font-size:1.2em;}
h4              { font-size:1em;}
input           { border:1px solid #aaa;}
textarea        { border:1px solid #aaa;}

/* 블로그 레이아웃 */
#container {
		width:740px;
		border:1px solid #bbb;
		margin:30px auto; 
		padding:10px;  
		background-color:#fff;
}
#header {
		padding:0 10px 0 20px;
		background-color:#7870ab;
		margin-bottom:8px;
		min-height:90px;
}
#content {
		float:left;
		width:540px;
		overflow:hidden;

}
#sidebar {
		float:right;
		width:190px;
}


#footer {
		clear:both;
		padding:20px 0 0 0;
}

/* ***** Header ***** */
#header a              { color:#fff;  padding:0 3px;}

#header h1             { float: left; padding: 2.9em 0 0.3em 0;}
#header .blogMenu      { text-align:right; padding: 6em 0 0.3em 0;}

#header h1 a           { font-family:batang;  font-weight:bold;  letter-spacing:-3px;}
#header h1 a:hover     { color:#ccf;  text-decoration:none;}

#header .blogMenu ul   { margin:0;  padding:0;  list-style:none;}
#header .blogMenu li   { display:inline;  background:url(images/bullBar.gif) no-repeat;  margin-left:3px;  padding-left:7px;}
#header li.tab_meta { background:none;}


/* ***** content ***** */
#content .localog, 
#content .taglog, 
#content .entryNotice, 
#content .entryProtected, 
#content .entry             { border:5px solid #eee;  padding:10px;  margin-bottom:10px;}
#content .guestbook, 
#content .searchList, 
#content .searchRplist,
#content .searchTblist,
#content .metapage			{ padding:10px;}

#content .localog h3, 
#content .taglog h3, 
#content .guestbook h3, 
#content .searchList h3, 
#content .searchRplist h3,
#content .searchTblist h3   { border-bottom:1px solid #ccc;  margin-bottom:10px;  color:#222;}

.searchList ol, 
.searchRplist ol,
.searchTblist ol            { list-style:none;  padding:5px;  margin:0;}
.searchList li, 
.searchRplist li,
.searchTblist li            { border-bottom:1px solid #eee;  padding-bottom:2px;  margin-bottom:4px;}
.searchList .date, 
.searchRplist .date,
.searchTblist .date         { font:0.95em Verdana, Helvetica, Arial, Gulim, sans-serif;  margin-right:10px; }
.searchList .cnt            { font:0.75em Verdana, Helvetica, Arial, Gulim, sans-serif;  color:#f60;} 
.searchRplist .name,
.searchTblist .subject      { font:0.95em Dotum, Arial, sans-serif;    color:#999;  padding-left:8px;}

.localog .spot              { background:url(images/iconIndentArrow_local.gif) 5px 0 no-repeat;  padding-left:20px;  margin-top:5px;}
.localog .info              { background:url(images/iconIndentArrow_localinfo.gif) 5px 3px no-repeat;  padding-left:15px;  margin-top:2px;}
.localog a:link             { color:#5a5194;}
.localog a:visited          { color:#5a5194;}
.localog a:hover            { color:#7870ab;  text-decoration:underline;}

.taglog ul                  { padding:5px; margin:0; text-align:justify;}
.taglog li                  { display:inline;}
.taglog a:hover             { background-color:#eee;  color:#000;}
.taglog li .cloud1          { background-color:#eee;  color:#a2348f;  font-weight:bold;  font-size:16px;}
.taglog li .cloud2          { background-color:#eee;  color:#5a5194;  font-weight:bold;  font-size:15px;}
.taglog li .cloud3          { background-color:#eee;  color:#7870ab;  font-weight:bold;  font-size:14px;}
.taglog li .cloud4          { background-color:#eee;  color:#666;     font-size:13px;}
.taglog li .cloud5          { font-size:12px;  color:#999; }

.guestbook p                { padding:2px 0; margin:0;}

.guestWrite                 { padding:10px;  background-color:#f5f5f5;  border:1px solid #ddd;}
.guestWrite input           { width:150px;}
.guestWrite textarea        { width:465px;  padding:5px;}
.guestWrite .homepage       { width:300px;}
.guestWrite .submit         { width:477px;  height:22px;  background-color:#ccc;  font:1.1em Dotum, Arial, sans-serif; padding-top:3px;}

.guestList                  { padding:10px 0 0 0;}
.guestList ol,
.guestList ul               { margin:0; padding:0;  list-style:none;}
.guestList li p             { border-top:1px dashed #ccc; margin-top:5px; padding-top:5px;}
.guestList ol li            { border:5px solid #eee;  padding:10px;  margin-bottom:10px;  width:490px; overflow:hidden;}
.guestList li ul li         { margin-left:20px;  background:url("images/iconIndentArrow_local.gif") no-repeat 10px 10px;  background-color:#f5f5f5;  padding-left:25px;  border:none;  width:440px; overflow:hidden;}
.guestList li .name         { color:#666;  font-weight:bold;}
.guestList li .date         { font:0.8em Tahoma, Helvetica, Arial, Gulim, sans-serif;}

.guestList .control a.address       { background:url(images/iconAddress.gif) no-repeat;  padding-left:52px;  padding-bottom:2px;  text-decoration:none;}
.guestList .control a.address span  { display:none;}
.guestList .control a.modify       { background:url(images/iconModify.gif) no-repeat;  padding:0 0 2px 53px;  text-decoration:none;}
.guestList .control a.modify span  { display:none;}
.guestList .control a.write        { background:url(images/iconWrite.gif) no-repeat;  padding:0 5px 2px 53px;  text-decoration:none;}
.guestList .control a.write span   { display:none;}


/* entry */
.entryNotice h2, 
.entryProtected h2, 
.entry h2                { font-size:1.2em;  line-height:1.2em;}
.titleWrap               { border-bottom:1px dashed #ccc;  padding-bottom:5px;  margin-bottom:10px;}
.titleWrap .category a   { font:1em Dotum, Arial, sans-serif;  color:#888;  margin-right:3px;}
.titleWrap .categoryFeed  { font:1em Dotum, Arial, sans-serif;  color:#888;  margin-right:6px;}
.titleWrap .date         { font:0.9em Verdana, Helvetica, Arial, Gulim, sans-serif;  color:#888;}

.entryProtected p.text   { background:url(images/imgProtected.gif) no-repeat ; padding-left:50px;}
.entryProtected input    { width:200px;}
.entryProtected .submit  { width:50px; padding-top:2px; height:20px; background-color:#ccc;}

/* page error*/ 
#page-error 
{ 
	font-weight          : bold; 
	padding              : 200px 0; 
	text-align           : center; 
}

.article                 { width:500px; margin:5px 5px 30px 5px; overflow:hidden;}
.article a:link          { color:#5a5194;  text-decoration:none;}
.article a:visited       { color:#5a5194;  text-decoration:none;}
.article a:hover         { color:#7870ab;  text-decoration:underline;}
.article a:active        { color:#5a5194;  text-decoration:none;}
.article dt              { text-decoration:underline;}
.article dd              { margin-left:20px;  padding-bottom:10px;}
.article blockquote      { background:url(images/iconBlockquote.gif) top left no-repeat;  padding-left:25px;  margin:10px 20px;}

.tagTrail                { padding:5px 5px 5px 40px;  background:url(images/entryTag.gif) center left no-repeat; clear:both;}
.tagText                 { display:none;}

.actionTrail             { border-top:1px dotted #ccc;  padding:7px 5px;  font:11px verdana; clear:both;}
.actionTrail .cnt        { color:#f60;}

.trackback               { border-top:1px solid #ddd;  background-color:#f5f5f5; padding:10px; margin-bottom:4px;  width:490px;  overflow:hidden;}
.trackback a             { color:#000;}
.trackback h3            { font:11px Verdana; color:#333;  border-bottom:1px solid #f5f5f5;  margin:5px 5px 10px 5px;}
.trackback h4            { font:12px Verdana; font-weight:normal;  margin:0;}
.trackback ol            { margin:0;  padding:0;  list-style:none;}
.trackback li            { border-top:1px dotted #ccc;  padding:5px;}
.trackback .date         { font:0.9em Verdana, Helvetica, Arial, Gulim, sans-serif;  color:#777;}
.trackback p             { font:0.95em Dotum, Arial, sans-serif;  color:#999;  margin:3px 0 0 0; padding:0;  letter-spacing:-1px}

.trackback a.delete      { background:url(images/iconDelete.gif) left top no-repeat;  padding-left:8px;  text-decoration:none;}
.trackback a.delete span { display:none;}


.comment                          { border-top:1px solid #ddd;  background-color:#f5f5f5; padding:10px; margin-bottom:4px;  width:490px; overflow:hidden;} 
.comment p                        { margin:3px 0 0 0; padding:0;}

.comment h3                       { display:none;}
.comment ol,
.comment ul                       { margin:0;  padding:0;  list-style:none;}
.comment .date                    { font:0.9em Verdana, Helvetica, Arial, Gulim, sans-serif;  color:#777;}
.comment .name                    { font-weight:bold;}
.comment ol li                    { padding:10px 5px;}
.comment li ul li                 { padding:5px 10px 5px 25px;  background:url("images/iconIndentArrow_local.gif") no-repeat 12px 6px;}
.comment .control a.address       { background:url(images/iconAddress.gif) no-repeat;  padding-left:52px;  padding-bottom:2px;  text-decoration:none;}
.comment .control a.address span  { display:none;}
.comment .control a.modify        { background:url(images/iconModify.gif) no-repeat;  padding-left:52px;  padding-bottom:2px;  text-decoration:none;}
.comment .control a.modify span   { display:none;}
.comment .control a.write         { background:url(images/iconWrite.gif) no-repeat;  padding-left:52px;  padding-bottom:2px;  text-decoration:none;}
.comment .control a.write span    { display:none;}

.commentWrite                     { padding:5px; margin-top:20px;}
.commentWrite input               { width:150px;}
.commentWrite textarea            { width:465px;  padding:5px; position:relative; top:-16px;}
.commentWrite .homepage           { width:300px;}
.commentWrite .submit             { width:477px;  height:22px;  background-color:#ccc;  font:1.1em Dotum, Arial, sans-serif; padding-top:3px; position:relative; top:-18px;}
.commentWrite .secretWrap         { float:right; position:relative; top:-23px; left:-10px;}
.commentWrite .checkbox           {	border:none; padding:0;	margin:0; width:25px;}

.paging           { padding-top:10px;  text-align:center;  font-size:0.95em;}
.paging .numbox   { border-left:1px solid #ccc; padding-left:6px; margin-left:6px;  font:0.95em verdana;}
.paging .num      { border-right:1px solid #ccc; padding-right:8px; margin-right:5px;}


/* ***** sidebar ***** */
#sidebar                       { }
#sidebar ul                    { padding:0;  margin:0;  list-style:none;}
#sidebar li                    { background:url(images/bul.gif) 0 6px no-repeat;  padding-left:7px;}
#sidebar h3                    { font-size:1em;  font-weight:bold; color:#7870ab; padding-top:20px; border-bottom:1px solid #ccc; margin-bottom:5px;}
#sidebar .cnt                  { font:0.85em Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#f60;}
#sidebar .date                 { font:0.9em Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#888;}
#sidebar .name                 { font:0.9em Dotum, Arial, sans-serif;  color:#888;}

#sidebar .blogImage img        { width:190px; padding-bottom:6px;}
#sidebar .blogDesc             { color:#888;  font-size:0.9em;  line-height:1.2em;  letter-spacing:-1px;}
#sidebar .userID               { color:#888;  background:url(images/iconBy.gif) 3px 0 no-repeat;  padding-left:22px;  letter-spacing:-1px;}

#sidebar .notice               { margin:10px 0;  padding:0;}
#sidebar .notice li            { border-bottom:1px dotted #ddd;  margin:0 0 2px 0; padding:0 0 1px 0; background:none;}
#sidebar .notice a:link,
#sidebar .notice a:visited     { background:url(images/iconNotice.gif) 0 0 no-repeat; padding:1px 0 5px 27px;}
#sidebar .notice a:hover       { background:url(images/iconNotice_on.gif) 0 0 no-repeat;  padding:0 0 5px 27px; text-decoration:none; color:#f60;}

#sidebar .adminMenu            { padding:8px 5px 6px 5px;  background-color:#eee; margin:5px 0 10px 0;}
#sidebar .adminMenu li         { background:none;  display:inline; width:100px;}
#sidebar .adminMenu a          { padding:3px 20px 1px 20px;  border:1px solid #999;  color:#666;  text-decoration:none;  background-color:#fff;}

#sidebar .search               { text-align:center;}
#sidebar .search input         { width:130px;  height:16px;}
#sidebar .search .submit       { width:50px;  height:20px;  background-color:#ccc;  padding-top:2px;}


#sidebar .category li          { background:none;}
#sidebar .category li ul li    { background:url(images/bul.gif) 0 6px no-repeat;  padding-left:10px;}
#sidebar .category li ul li ul li { background:none; border-left:1px dotted #ccc; padding-left:6px; margin-left:2px;}
#sidebar .category li ul li ul li a{ color:#999;}

#sidebar .tagbox ul            { padding:5px 2px;	text-align:justify;}
#sidebar .tagbox li            { background:none;  display:inline;}
#sidebar .tagbox a             { letter-spacing:-1px;}	
#sidebar .tagbox li .cloud1    { background-color:#eee;  font-weight:bold;  font-size:16px;  color:#a2348f;}
#sidebar .tagbox li .cloud2    { background-color:#eee;  font-weight:bold;  font-size:15px;  color:#5a5194;}
#sidebar .tagbox li .cloud3    { background-color:#eee;  font-weight:bold;  font-size:14px;  color:#7870ab;}
#sidebar .tagbox li .cloud4    { background-color:#eee;  font-size:13px;  color:#666;}
#sidebar .tagbox li .cloud5    { font-size:12px;  color:#888;}	
#sidebar .tagbox a:hover       { background-color:#eee;  text-decoration:none;  color:#000;}

#sidebar .recentComment        {width:190px; overflow:hidden;}
#sidebar .recentTrackback      {width:190px; overflow:hidden;}


#sidebar .archive              { font-family:verdana;}
#sidebar .calendar             { font-family:verdana;}

#sidebar .counter              { font:0.85em Verdana, Helvetica, Arial, Gulim, sans-serif;  padding:5px 0;  margin:10px 0;  text-align:center;  background-color:#eee;  letter-spacing:0;}
#sidebar .counter li           { background:none;  display:inline;  padding:0 5px;}
#sidebar .counter li.total     { display:block;  color:#000;}

#sidebar .botton          { text-align:center;  padding:5px;}

/* ***** footer ***** */
#footer          { text-align:center;  padding:40px 10px 10px 10px;  font:11px Verdana, dotum;	color:#666;}
#footer a        { color:#666;}
#footer a:hover  { color:#333;}
