@charset "utf-8";

label {
	position:absolute;
	line-height:2em;
}

input {
	margin-left:100px;
}

select {
	margin-left:100px !important;

}
.center {
	text-align:center;
}
.comment p{
	font-size:1em !important;
}

.comment p.ui-li-aside {
	margin-right:50px;
}

.comment p.body {
	margin-top:25px;
}

.comment_button {
	position:absolute;
	top:0;
	right:5px;
}

