@charset "utf-8";
.center {
	text-align:center;
}

.blog_info {
	height:85px;
	padding:0 !important;
}

.blog_info .logo {
	float:left;
	padding-right:15px;
}
.blog_info .blog_container {
	padding-top:10px;
}

.blog_info .description {
	display:block;
	margin-top:5px;
	padding-top:5px;
}

/*** Post lists ***/
li.post_item .image {
	display:block;
	float:left;
}

/*li.post_item .image img{
	border:1px solid #ccc;
	margin:6px;
}
*/
li.post_item .post .title {
	display:block;
}

li.post_item .post .description {
	font-size:0.8em;
}

/*** Entry ***/
.entry_info {
	padding-left:15px;
	border-left:10px solid #ccc;
}

.entry_info h3 {
	font-size:1em;
}

.entry_tags h3 {
	border-left:10px solid #ccc;
	font-size:1em;
	padding-left:15px;
}

.comment p{
	font-size:1em !important;
}

.comment p.ui-li-aside {
	padding-right:50px;
}

.comment p.body {
	margin-top:25px;
}
.comment li.groupSub {
	border-left:20px solid #ccc;
}

.comment_button {
	position:absolute;
	top:0;
	right:5px;
}
/*** Comment Form ***/
.commentForm h3 {
	padding-left:15px;
	border-left:10px solid #ccc;
}

.commentForm label {
	position:absolute;
	right:5px;
	padding-top:10px;
	line-height:2em;
	color:#aaa !important;
}
