Textcube 1.5 Requirements
-------------------------

1. For Linux Systems :

 Minimum requirements :
  * Apache 1.3 or above
    * with mod_rewrite module
  * PHP 4.3 or above
  * MySQL 3.23 or above
    * with UTF-8 emulation routine in Textcube
 
 Suggested environment :
  * Apache 2.2 or above
    * with mode_rewrite module
  * PHP 5.1 or above
    * with iconv / gd module
  * MySQL 5.0 or above
    * with UTF-8 character set and collation settings
 
 For massive service or heavy load :
  * APC (Alternative PHP Cache) pecl package with PHP PEAR
  * FastCGI module with Apache2
    (Need to modify config.php. referer 'config' in DOC directory.)
  * InnoDB with Entries / Tags / TagRelations table.

 WARNING: From Textcube 1.8 and 2.0, PHP 5.2 will be the MINIMUM requirement.

2. For Microsoft Windows :

 Currently supports IIS7 only :
  * Windows Vista / Windows Server 2008
  * IIS 7.0 or above
    * with URL Rewrite module
  * PHP 5.2 or above
    * with iconv / gd module
  * MySQL 5.0 or above
    * with UTF-8 character set and collation settings

  Refer INSTALL to know how to set up on this environment.
