@charset "utf-8";

* {} /* for Opera */

*
{
	font-family                : "Lucida Grande", Arial, Helvetica, Verdana, Gulim, sans-serif;
	line-height                : 1.5em;
}

body
{
	background-color           : #666666;
	background-image           : url("./image/bg.gif");
	background-position        : left top;
	background-repeat          : repeat-x;
	font-size                  : small;
	margin                     : 0;
	padding                    : 0 0 120px 0;
}

h1
{
	margin                     : 0;
	padding                    : 0;
}

h2
{
	font-size                  : 1em;
	font-weight                : normal;
}

h3
{
	margin                     : 0;
	padding                    : 0;
	font-size                  : 1em;
}

img
{
	border                     : none;
}

a
{
	text-decoration            : none;
	color                      : #0F0F9F;
}

a:hover
{
	text-decoration            : underline;
}

em
{
	font-style                 : normal;
}

input
{
	font-family                : Verdana, Arial, "Lucida Grande", Helvetica, Gulim, sans-serif;
}

ol
{
	margin-left                : 15px;
	padding                    : 10px;
}  

ul
{
	margin                     : 0 0 0 15px;
	padding                    : 10px;
}

samp,
samp strong
{
	color                      :#666666;
	font-family                : "Courier New", FreeMono, "Lucida Console", Typewriter, Gulim, monospace;
}

samp strong
{
	color                      :#000000;
}

/* Common Layout ****************************************************************************************/

#container
{
	background-color           : #6F6F6F;
	background-image           : url("./image/shadow.gif");
	background-position        : right top;
	background-repeat          : no-repeat;
	font-size                  : 0.9em;
	height                     : 400px;
	margin                     : 120px auto 0 auto;
	padding                    : 0 20px 0 0;
	width                      : 572px;
}

#layoutHead
{
	background-color           : #EFEFEF;
	background-image           : url("./image/paper.gif");
	background-position        : right top;
	background-repeat          : no-repeat;
	height                     : 74px;
	padding                    : 0 0 0 20px;
	border-bottom              : 1px solid #CFCFCF;
}

#layoutHead h1
{
	background-image           : url("./image/logo.gif");
	background-position        : right top;
	background-repeat          : no-repeat;
	height                     : 74px;
	text-indent                : -5000px;
}

#layoutBody
{
	padding                    : 20px;
	background-color           : #FFFFFF;
	min-height                 : 300px;
}

#layoutBody h2 .step
{
	color                      : #408FBD;
	font-weight                : bold;
	font-size                  : 1.3em;	
}

#layoutFoot
{
	background-color           : #EFEFEF;
	height                     : 34px;
	padding                    : 10px 10px 0 10px;
	text-align                 : center;
}

/* content-box -----------------------------------------------------------------------------------------*/
.content-box
{
	border                     : 1px solid #DDDDDD;
	background-color           : #F3F3F3;
	padding                    : 15px;
}

.content-box table
{
	margin                     : 0 auto;
	width                      : 100%;
}

.content-box table td.head
{
	font-weight                : normal;
	padding-right              : 5px;
	text-align                 : right;
	width                      : 40%;
}

.content-box table td
{
	padding                    : 2px;
	text-align                 : left;
	width                      : 60%;
}

.content-box .group
{
	padding-left               : 110px;
}

.content-box .group dd
{
	margin-left                : 40px;
}

.content-box .group dd ul
{
	margin                     : 0;
	padding                    : 0;
}

/* input field -----------------------------------------------------------------------------------------*/
.input-text
{
	background-color           : #FFFFFF;
	border                     : 1px solid #CCCCCC;
	color                      : #666666;
	height                     : 20px;
	padding                    : 2px 2px 0 4px;
	width                      : 200px;
}

.input-text:focus
{
	border                     : 1px solid #0F0F9F;
}

.readonly-input
{
	background-color           : #EFEFEF;
	border                     : 1px solid #CCCCCC;
	color                      : #666666;
	height                     : 20px;
	padding                    : 2px 2px 0 4px;
	width                      : 200px;
}

.input-error
{
	border-color               : #FF0000;
}

.input-email,
.input-password
{
	background-color           : #FFFFFF;
	border                     : 1px solid #CCCCCC;
	color                      : #666666;
	height                     : 20px;
	padding                    : 2px 2px 0 4px;
	width                      : 250px;
}

.radio-input
{
	margin-top                 : 0;
	margin-bottom              : 0;
}

/* error list ------------------------------------------------------------------------------------------*/
ul#errorList
{
	border-top                 : 1px solid #DDDDDD;
	list-style-type            : none;
	margin                     : 0;
	padding                    : 0;
}

ul#errorList li
{
	border-bottom              : 1px solid #DDDDDD;
	list-style-type            : none;
	margin                     : 0;
	padding                    : 9px 10px 5px 40px;
}

ul#errorList li.warning
{
	background-color           : #FFDDDD;
	background-image           : url("./image/icon_warning.gif");
	background-position        : 6px 3px;
	background-repeat          : no-repeat;
}

ul#errorList li.attention
{
	background-image           : url("./image/icon_attention.gif");
	background-position        : 6px 3px;
	background-repeat          : no-repeat;
}

ul#errorList li .title
{
	font-weight                : bold;
}

ul#errorList li.warning
{
	color                      : #FF0000;
}

ul#errorList li.warning .title
{
	color                      : #FF0000;
}

ul#errorList li.attention .title
{
	color                      : #000000;
}

ul#errorList li .message
{
	color                      : #454545;
	line-height                : 1.2em;
	margin                     : 0;
	padding                    : 5px 0 0 0;
}

ul#errorList li .manual
{
	text-align                 : right;
}

/* help ------------------------------------------------------------------------------------------------*/
#helpBox
{
	margin                     : 3px 3px 0 0;
	padding                    : 0;
	text-align                 : right;
}

#help
{
	background-image           : url("./image/link_bullet.gif");
	background-position        : left 1px;
	background-repeat          : no-repeat;
	padding-left               : 16px;
}

/* etc -------------------------------------------------------------------------------------------------*/
#messageBox
{
	margin                     : 8px;
	/*text-align                 : center;*/
}

.warning-message-box
{
	color                      : #FF0000;
}

.attention-message-box
{
	/*color                      : navy;*/
}

.hidden
{
	display                    : none;
}

.align-center
{
	text-align                 : center;
}

/* 1 Step Layout ****************************************************************************************/

#languageSelect
{ 
	padding                    : 20px 20px 20px 10px; 
}

#info
{
	background-color           : #F5F5F5;
	border                     : 4px solid #DDDDDD;
	padding                    : 8px;
}

/* 1 Step Layout ****************************************************************************************/

#formGroup
{
	height                     : 370px;
	width                      : 100%;
}

#formGroup form
{
	border                     : 3px solid #DDDDDD;
	margin                     : 10px 0;
	padding                    : 12px 10px 10px 10px;
}

#formGroup form .input-button
{
	background-color           : #CDCDCD;
	border-width               : 1px;
	display                    : block;
	font-size                  : 1.2em;
	font-weight                : bold;
	height                     : 49px;
	margin                     : 0 auto;
	width                      : 327px;
}

#formGroup form p
{
	font-size                  : 0.95em;
	line-height                : 1.2em;
	margin                     : 10px 0 0 0;
	padding                    : 0 20px;
	text-align                 : center;
}

/* Setup Dialog *****************************************************************************************/

.dialog-box
{
	border                     : 3px solid #DDDDDD;
	margin                     : 20px auto 0 auto;
	padding                    : 9px 15px 10px 50px;
	width                      : 400px;
}

.dialog-box .message
{
	text-align                 : left;
}

.dialog-box .buttons
{
	margin-top                 : 10px;
	text-align                 : right;
}

#warningDialogBox
{
	background-image           : url("./image/icon_warning.gif");
	background-position        : 10px 5px;
	background-repeat          : no-repeat;
}

#attentionDialogBox
{
	background-image           : url("./image/icon_attention.gif");
	background-position        : 10px 5px;
	background-repeat          : no-repeat;
}
