@charset "utf-8";

/* Layout Header **********************************************************************************/

#action-helper
{
	right                            : 0 !important;
}
/* main menu */
#main-menu-box
{
	height                           : 40px;
	line-height                      : 3.5em;
}

#main-menu li,
#main-menu li.selected
{
	height                           : 40px;
}

#menu-center 
{
	margin-left                      : 100px !important;
}

#main-menu table
{
	position                         : absolute;
	top                              : 0;
	left                             : 0;
	border-collapse                  : collapse;
	z-index: 9999;
}

#main-menu #menu-textcube
{
	background-image                 : url("./image/img_header_textcube.gif") !important;
	top                              : -50px !important;
	height                           : 90px;
}

/* Layout Body ***********************************************************************************/
#layout-header
{
	z-index:2;
}

#layout-body
{
	padding-top                      : 10px !important;
}

#pseudo-box
{
	z-index: -100;
}

/* data subbox */
#page-section .page-count
{
	right                            : 30px;
}

.data-subbox .input-button,
#search-form .input-button
{
	line-height                      : 1.6em !important;
}

/* Layout Footer *********************************************************************************/

#version
{
	padding-left                     : 3px;
}

/* Etc *******************************************************************************************/

.attention
{
	height                           : 20px;
	line-height                      : 25px;
	overflow                         : hidden;
}

.attention span
{
	background-position              : left top;
}

.input-button
{
	height                           : 1.75em;
	/*line-height                      : 2.4em !important;*/ /* Removed by coolengineer */
	padding                          : 0 1px !important;
}

input.checkbox,
input.radio
{
	margin                           : -3px 0 0 0;
}

input.input-text
{
	width                            : 80% !important;
}
