@charset "utf-8";

/* Common *****************************************************************************************/

#sub-menu-etc
{
	background-image                 : none !important;
}

.part .button-box
{
	clear                            : both;
	margin-bottom                    : 30px;
}

.part .button-box .input-button
{
	background-color                 : #FFFFFF;
	background-image                 : none !important;
	display                          : block;
	font-weight                      : bold;
	height                           : 30px !important;
	margin                           : 0 auto;
	width                            : 74px;
}

/* Basic *****************************************************************************************/

#part-setting-basic .section dl dd .input-text
{
	width                            : 300px;
}

#part-setting-basic .section dl dd textarea
{
	margin-top                       : 8px;
	width                            : 300px;
}

#part-setting-profile .section dl dd img
{
	display                          : block;
	margin-top                       : 8px;
}

#multi-form dl dd .input-text
{
	width                            : 100px !important;
}

#open-type-line dd,
#post-address-line dd
{
	padding-bottom                   : 3px;
	padding-top                      : 5px;
	line-height                      : 1.5em;
}

/* Etc *******************************************************************************************/

#part-setting-thumbnail .section dl dd img
{
	display                          : block;
	margin-top                       : 8px;
}

#watermark-resize-line dd,
#blog-language-line dd p
{
	padding-bottom                   : 3px;
	padding-top                      : 5px;
	line-height                      : 1.5em;
}

#watermark-position-line dd,
#padding-line dd
{
	padding-bottom                   : 3px;
	padding-top                      : 5px;
	line-height                      : 2.1em;
}

#watermark-position-line dd .input-text,
#topPaddingManual,
#rightPaddingManual,
#bottomPaddingManual,
#leftPaddingManual
{
	margin-right                     : 3px;
	width                            : 30px !important;
}

#padding-line dd .input-text
{
	width                            : 50px;
}

/* Filter ****************************************************************************************/

#part-setting-filter div.data-inbox
{
	margin-top                       : 20px;
}

#part-setting-filter div.data-inbox .section
{
	float                            : left;
	margin-left                      : 20px;
	width                            : 200px;
}

#part-setting-filter div.data-inbox .section .title
{
	font-weight                      : bold;
	margin-bottom                    : 5px;
}

#part-setting-filter div.data-inbox .section table
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #A0A0C0;
	table-layout                     : fixed;
	width                            : 100%;
}

#part-setting-filter div.data-inbox .section table tbody tr td.content,
#part-setting-filter div.data-inbox .section table tbody tr td.empty
{
	padding                          : 5px 5px 3px 5px;
}

#part-setting-filter div.data-inbox .section table tbody tr td.delete
{
	width                            : 20px;
}

#part-setting-filter div.data-inbox .section table tbody tr td .delete-button
{
	background-color                 : transparent;
	background-image                 : url("./image/icon_trash.gif");
	background-position              : left top;
	display                          : block;
	height                           : 11px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 11px;
}

#part-setting-filter div.data-inbox .section table tbody tr td .delete-button span
{
	display                          : none;
}

#part-setting-filter div.data-inbox .section .input-text
{
	margin-top                       : 2px;
	width                            : 197px;
}

#part-setting-filter .button-box
{
	clear                            : both;
	margin                           : 20px 0 10px 0;
}

#part-setting-filter .button-box .add-button
{
	margin                           : 0 auto;
}