@charset "utf-8";

/* Select ****************************************************************************************/

#part-skin-list .section .information table,
#part-skin-current .section .information table
{
	margin-top                       : -160px;
	width                            : 750px;
}

#part-skin-current .section .information .button-box .edit-button
{
	left                             : -114px;
	position                         : absolute;
	top                              : 325px;
	width                            : 60px;
}

#part-skin-list .section .information .button-box .preview-button
{
	left                             : -152px;
	position                         : absolute;
	top                              : 325px;
	width                            : 60px;
}

#part-skin-list .section .information .button-box .apply-button
{
	left                             : -77px;
	position                         : absolute;
	top                              : 325px;
	width                            : 60px;
}

#part-skin-list .caption,
#part-skin-more .caption
{
	margin-top                       : 20px;
}

/* Tree -----------------------------------------------------------------------------------------*/

#property-box
{
	border-top                       : none;
}

/* plugin ****************************************************************************************/

#part-skin-plugins .data-subbox
{
	padding-top                      : 0.4em;
	padding-bottom                   : 0;
}

#activate-status-line
{
	bottom                           : 0.3em;
}