@charset "utf-8";
/* 반드시 들어가야 하는 스타일 시작 */
/* 1. 본문 전체  */
body, td, input, textarea {
	font: 12px/1.5 Dotum, 돋움, AppleGothic, 애플고딕, Verdana, Sans-serif;
	color : #666;
}
/* 2. 기본 링크 */
	a:link {
		text-decoration: none;
		color : #369;
	}
	a:visited {
		text-decoration: none;	
		color : #369;
	}
	a:hover {
		text-decoration: underline;	
		color : #666;
	}
	a:active {
		text-decoration: none;	
		color : #666;
	}	
/* 3. 이미지 */
	img { border-width: 0; }
/* 4. 이미지 버튼 */
	.ib { cursor: pointer; }
/* 5. 입력 텍스트 */
	.text {	border:1px solid #999; }
/* 6. 트리 테이블 */
	.branch2 {
	}
/* 7. 트리 셀 */
	.branch3 {
		cursor: pointer;
		height: 10px;
	}
/* 8. 달력 월 표시 */
	.cal_month {
		font-size : 11px;
		height: 18px;
	}
/* 9. 달력 요일 표시 */
	.cal_week1 {
		font-size : 11px;
		height:18px;
	}
/* 10. 달력 일요일 표시 */
	.cal_week2 {
		color: #f30;
		font-size:12px;
		text-align: center;
	}
/* 11. 달력 지난 달 날짜 표시 */
	.cal_day1 {
		color: #000;
		font-size:12px;
		text-align:center;
	}
/* 12. 달력 다음 달 날짜 표시 */
	.cal_day2 {
		color: #000;
		font-size : 11px;
		text-align: center;
	}
/* 13. 달력 이번 달 날짜 표시 */
	.cal_day3 {
		font-size : 11px;
		text-align: center;
	}
/* 14. 달력 오늘 날짜 표시 */
	.cal_day4 {
		text-align: center;
		font-size : 11px;
		background-color:#ccc;
		font-weight:bold;
	}
/* 15. 달력 글쓴 날 링크 스타일 */
	a.cal_click:link {
		font-weight: bold;
		color : #333;
	}
	a.cal_click:visited {
		font-weight: bold;
		color : #333;
	}
	a.cal_click:hover {
		font-weight: bold;
		color : #369;
	}
/* 16. 이미지 아래 캡션 스타일 */
	.cap1 {
		color: #876;
		text-align: center;
	}
/* 16. 키워드 스타일 */
	.key1 {
		cursor: pointer;
		border-bottom: 1px dotted #ccc;
	}
/* 16. 카테고리 옆 개수 스타일 */
	.c_cnt {
		font:9px Tahoma, Arial, sans-serif;
		color : #999;
	}
/* 17. 최신글 옆 개수 스타일 */
	.ps_cnt {
		font:10px Tahoma, Arial, sans-serif;
		color : #999;
	}

/* 반드시 들어가야하는 스타일 끝 - 이 아래는 자유롭게 추가, 삭제 가능 */
body {
	background-color:#ddd;
	padding:20px 0;
	}
hr {
display:none;
}	
/* Structured */
#container {
	width:740px;
	background:url(images/bg_footer.gif) repeat-x bottom #fff;	
	border:1px solid #ccc;
	border-bottom:6px solid #ccc;	
	margin:0 auto; 
	padding:20px;  
	background-color:#fff;
}
#content {
	float:left;
	width:500px;
	overflow:hidden;
}
#sidebar {
	width:200px;
	margin-left:517px;
	margin-top:10px;
	border:5px solid #eee;
	padding:5px;	
}
#footer {
	clear:both;
}
/* header */
#header {
	padding:30px 0 15px 60px;
	background:url(images/bg_header.gif) no-repeat;
}

body#page #header {
	background:url(images/bg_header.gif) no-repeat;
}

body#tag #header {
	background:url(images/bg_header01.gif) no-repeat;
}

body#category #header, body#archive #header {
	background:url(images/bg_header02.gif) no-repeat;
}

body#notice #header {
	background:url(images/bg_header03.gif) no-repeat;
}

#header h1{
	margin:0;
	font-size:20px;
	float:left;
}
#header a{
	color:#fff;
}
#header .sidemenu {
  padding:10px 35px 0 0;
	margin-left:460px;
	text-align:right;
}
#header .sidemenu a{
	padding-left:10px;
}

/* sidebar common*/
#sidebar ul{
	margin:0;
	padding:0;
	list-style:none;	
	}
#sidebar .name {
	font:11px dotum, 돋움, Arial, sans-serif;
	color:#999;
}
#sidebar .date {
	font-size:12px;
	color:#999;	
}	
#sidebar .cnt {
	font :10px Tahoma, Arial, sans-serif;
	color:#333;
}
#sidebar h3 {
	font:12px Tahoma, Arial, sans-serif;
	font-weight:bold;
	background:#eee;
	border-top:1px solid #ccc;
	padding:3px 5px;
	margin:0;
}	
#sidebar a {
	color:#369;
}	
#sidebar .box {
	padding:8px;
}
/*tt-admin-comment menu */
#sidebar .owner {
	font-size:12px;
	text-align:center;
}
/* blog info (desc, image) */

#sidebar .blogimg {
	width:200px;
	overflow:hidden;
	text-align:center;
}
#sidebar .bloginfo {
	text-align:center;
}
#sidebar .bloginfo img{
	padding:5px;
}
/* notice list */
#sidebar .notice {
	padding:5px 10px;
	background-color:#EEE;
	margin:5px 0;
}
#sidebar .notice li {
background:url(images/iconNotice.gif) no-repeat 0 50%;
padding-left:38px;
}
#sidebar .notice li a{
	font-size:12px;
	letter-spacing:-1px;
	color:#333;
}
/* search */
#sidebar .search {
	text-align:center;
	padding:5px 0;
}
#sidebar .search input{
	width:130px;
}
#sidebar .search .submit{
	border:1px solid #999;
	background-color:#ddd;
	font:11px Verdana, Arial, sans-serif;
	color:#222;
	width:50px;	
}
/* category, category_list*/
#sidebar .category .box li ul li ul li{
	list-style-image:none;
	padding-left:10px;
	margin-left:7px;
	border-left:1px dotted #999;
}
#sidebar .category .box a{
	font-size:12px;
	color:#333;
}
/* tag cloud*/
#sidebar .tagbox ul {
	padding:5px;
	text-align: justify;		
  }
#sidebar .tagbox a {
	letter-spacing:-1px;
	}	
#sidebar .tagbox li .cloud1 {
	background-color:#eee;
	font-weight:bold;
  font-size : 16px;
  color : #f30;
  }
#sidebar .tagbox li .cloud2 {
	background-color:#eee;
	font-weight:bold;	
  font-size : 15px;
  color : #f60;
  }
#sidebar .tagbox li .cloud3 {
	background-color:#eee;
	font-weight:bold;	
  font-size : 14px;
  color : #369;
  }
#sidebar .tagbox li .cloud4 {
	background-color:#eee;
  font-size : 13px;
  color : #690;
  }
#sidebar .tagbox li .cloud5 {
  font-size : 12px;
  color : #999;
  }	
#sidebar .tagbox a:hover{
	background-color:#cce5ff;
  color:#000;
  }	
/* recent posts, recent comment, recent trackback, archive, link */
#sidebar .listbox {
	padding:5px 0;
}
#sidebar .listbox ul {
	padding:5px 0;
	margin-left:3px;
}
#sidebar .listbox li {
	background:url(images/bul.gif) no-repeat 0 5px;
	line-height:16px;
	padding-left:8px;
}	
/* counter */
#sidebar .counter {
	background-color:#eee;
	padding:5px 0;
	text-align:center;
	font:10px verdana;
}
#sidebar .ad{
	text-align:center;
	padding:5px 0;
}

/* content common */
#content h2 {    /* post title */
	font-size:18px;
	padding-top:10px;
	margin:0;
}
#content h2 a:hover{    /* post title mouseover*/
	text-decoration:none;
	color:#222;
	background:url(images/iconTitleLink.gif) no-repeat top right;
	padding-right:15px;
}
#content h3 {    /* tag, search, location, guestbook title */
	font-size:14px;
	color:#333;
	margin:10px 0;
	border-bottom:1px solid #ddd;	
	padding-bottom:5px;
}
#content ol, #content ul {
	list-style:none;
	padding:0;		
	margin:0;
}
#content .name {
	font-size:12px;
	color:#666;
	letter-spacing:-1px;
}
#content .cnt {
	font:10px Verdana, Arial, sans-serif;
	color:#666;
}
#content .date {
	font:10px Verdana, Arial, sans-serif;
	letter-spacing:-1px;	
	color:#666;	
}
#content cite {
	font-size:12px;
	font-style:normal;
	color:#666;
}
/* tag  */
#content .tagcloud ul {
	padding:5px;
	text-align:justify;		
  }
#content .tagcloud li {
	display:inline;
	}		
#content .tagcloud a:hover{
	background-color:#cce5ff;
  color:#000;
  }		
#content .tagcloud li .cloud1 {
	background-color:#eee;
	font-weight:bold;
  font-size : 16px;
  color : #f30;
  }
#content .tagcloud li .cloud2 {
	background-color:#eee;
	font-weight:bold;	
  font-size : 15px;
  color : #f60;
  }
#content .tagcloud li .cloud3 {
	background-color:#eee;
	font-weight:bold;	
  font-size : 14px;
  color : #369;
  }
#content .tagcloud li .cloud4 {
	background-color:#eee;
  font-size : 13px;
  color : #690;
  }
#content .tagcloud li .cloud5 {
  font-size : 12px;
  color : #999;
  }	

/* search list, rplist */	
#content .list, .rplist{
	margin-bottom:50px;
}
#content .list .date, .rplist .date{
	padding-right:8px;
}
/* location */
.location .spot {
	padding-left:30px;
	background:url("images/iconIndentArrow_local.gif") no-repeat 10px 2px;
	margin-bottom:3px;
	}	
.location .info {
	padding-left:15px;
	background:url("images/iconIndentArrow_localinfo.gif") no-repeat 0 50%;
	margin-bottom:3px;
	}	
/* guestbook > write */
.guestbook .write {
	margin-bottom:20px;
}
.guestbook .write p{
	padding:2px;
	margin:0;
}
.guestbook .write input{
	border:1px solid #999;
	height:18px;
	width:200px;
}
.guestbook .write .homepage{
	height:18px;
	width:400px;
}
.guestbook .write .submit{
	border:1px solid #aaa;
	background-color:#ddd;
	height:25px;
	width:98%;
	color:#333;
}
.guestbook .write label{
	font:10px Verdana, Arial, sans-serif;
}
.guestbook .write textarea{
	width:98%;
	height:150px;
	border:1px solid #aaa;	
	overflow:visible;
}
/* guestbook > list */
.guestbook p{
	padding:5px 0;
	margin:0;
}
.guestbook .list ol li{
	padding:10px 10px 10px 25px;
	background:url(images/iconGuestbook.gif) no-repeat 0 12px;	
}
.guestbook .list li ul li{
	padding-left:30px;
	margin-left:20px;
	background:url(images/iconIndentArrow_local.gif) no-repeat 10px 12px;
	background-color:#f5f5f5;
}
.guestbook .list .name a{
	font-size:12px;
	font-weight:bold;
	color:#666;
	padding-right:12px;
	background:url(images/icon_homepage.gif) no-repeat 0px right;
}
.guestbook .list .tt-admin-comment span,
.guestbook .list .tt-admin-comment a,
.guestbook .list .tt-admin-comment p{
	color:#5D93D4 !important;
}
.guestbook .list .tt-secret-comment p{
	color:#FF7F7F !important;
}
.guestbook .control a{
	font:9px tahoma;
	background:url(images/iconControl.gif) no-repeat center right;	
	padding-right:10px;
	color:#999;
	margin-right:5px;
}
.guestbook .control a:hover{
	background-color:#ddd;
	color:#333;
}
/* entry > notice */
.entry_notice {
	margin-bottom:30px;
	}
.entry_notice .article {
	padding:10px 0;
}	
/* entry > protected  */
.entry_protected {
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
	}
.entry_protected h2 {
	color:#369;
}
.entry_protected input {
	border:1px solid #999;
	font:10px Tahoma;
}
.entry_protected .submit {
	border:1px solid #bbb;
	background-color:#ddd;
}

/* page error*/
#page-error
{
	font-weight:bold;
	padding:200px 0;
	text-align:center;
}

/* entry article*/
.entry .article {
	padding:10px 0;
}
.entry .article blockquote {
	border-left: 7px double #ccc;
	margin: 10px 10px 10px 20px;
	padding-left: 10px;
}	
.entry .article a{
	color:#369;
	border-bottom:1px dotted #999;
}	
#content .entry .article ul{
	padding:10px 30px;
	list-style-type:disc;
}	
#content .entry .article ol{
	padding:10px 30px;
	list-style-type:decimal;
}		
.entry .article a:hover{
	color:#369;
	text-decoration:none;
}	
/* entry top button*/
.entry .btn_top{
	text-align:right;
	float:right;
	clear: both;
	margin-top:3px;
}
/* entry tag */
.entry .tagbox{
	padding:5px;
}
.entry .tagtext{
	font:9px Verdana, Arial, sans-serif;
	font-weight:bold;
	background-color:#369;
	color:#fff;
	padding:1px 3px;
	margin-right:8px;
}
/* entry trackback, comment  */
.entry .tbrp_box {
	border-top:1px dotted #ccc;
	border-bottom:1px solid #999;
	padding:7px 8px;
	font:11px verdana;
}
.entry .tbrp_box .cnt{
	font:10px Verdana, Arial, sans-serif;
	color:#666;
}
/* entry trackback */
.entry .trackback {
	font-family: Verdana, Arial, sans-serif;
	background-color:#f5f5f5;
	padding:10px;
	margin-bottom:4px;
}	
.entry .trackback .add {
	margin:5px;
	font:11px Verdana, Arial, sans-serif;
	color:#333;
}	
.entry  .trackback li{
	border-top:1px dotted #ccc;
	padding:10px 0;
}
.entry .trackback h4{
	font:12px Verdana, Arial, sans-serif;
	font-weight:normal;
	margin:0;
}
/* entry comment */
.entry .comment {
	background-color:#f5f5f5;
	padding:10px;
}	
.entry .comment p{
	margin:0;
}	
.entry .comment ol li{
	padding:15px 10px 0 25px;
	background:url(images/iconGuestbook.gif) no-repeat 0 15px;		
}
.entry .comment li ul li{
	padding:15px 10px 0 25px;
	background:url(images/iconIndentArrow_local.gif) no-repeat 10px 12px;
	background-color:#f5f5f5;
}
.entry .commentlist .tt-admin-comment span,
.entry .commentlist .tt-admin-comment a,
.entry .commentlist .tt-admin-comment p{
	color:#5D93D4 !important;
}
.entry .commentlist .tt-secret-comment p{
	color:#FF7F7F !important;
}
.entry .control a{
	font:9px tahoma;
	background:url(images/iconControl.gif) no-repeat center right;	
	padding-right:8px;
	color:#999;
	margin-left:5px;
}
.entry .control a:hover{
	background-color:#ddd;
	color:#333;
}
.comment .write {
	margin-bottom:20px;
}
.comment .write p{
	padding:2px;
	margin:0;
}
.comment .write input{
	border:1px solid #999;
	width:150px;
}
.comment .write .homepage{
	width:260px;
}
.comment .write .submit{
	border:1px solid #aaa;
	background-color:#ddd;
	height:25px;
	width:98%;
	color:#333;
}
.comment .write label{
	font:10px Verdana, Arial, sans-serif;
}
.comment .write textarea{
	width:98%;
	height:150px;
	border:1px solid #aaa;	
	overflow:visible;
}
.comment .write .checkbox{
	border:none;
	padding:0;
	margin:0;
	width:25px;
	}

/* paging */
.paging{
	padding-top:10px;
	text-align:center;
	font:10px Tahoma, Arial, sans-serif;
}

/* footer */
#footer {
	text-align:center;
	padding:50px 10px 10px 10px;
	font:11px Verdana, Arial, sans-serif;
}
