@charset "utf-8";

/* Editor ****************************************************************************************/
.part
{
	position                         : relative;
	z-index                          : 1;
}

/* title ----------------------------------------------------------------------------------------*/
#title-section
{
	margin                           : 0;
}

#title-line dt,
#title-line dd
{
	float                            : none;
}

#title-line label
{
	display                          : none;
}

#title-line input.text-input
{
	vertical-align                   : middle;
	width                            : 642px;
}

#title-section #category-line
{
	display                          : none;
}

#category-line
{
	background-image                 : url("./image/edit/bg_box_foot.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	height                           : auto;
	margin                           : 0;
	padding-bottom                   : 10px;
	width                            : 188px;
}

#category-line dt
{
	background-image                 : url("./image/edit/bg_box_head.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #FFFFFF;
	display                          : block;
	float                            : none;
	font-weight                      : normal;
	line-height                      : 1em;
	padding                          : 8.5px 10px 4.5px 10px;
	text-align                       : left;
	width                            : 168px;
}

#category-line dt label,
#category-line dt span
{
	font-weight                      : normal;
}

#category-line dd
{
	background-image                 : url("./image/edit/bg_box_body.gif");
	background-position              : left top;
	background-repeat                : repeat-y;
	color                            : #000000;
	display                          : block;
	float                            : none;
	font-family                      : µ¸¿ò, Dotum, "Lucida Grande", Arial, Tahoma, Verdana, ±¼¸², Gulim, sans-serif;
	font-size                        : 90%;
	line-height                      : 1.3em;
	padding                          : 10px 6px 4px 8px;
	text-align                       : left;
	width                            : 172px;
}

#category-line dd select
{
	display                          : block;
	float                            : none;
	margin-top                       : 5px;
	width                            : 169px;
}

/* sidebar --------------------------------------------------------------------------------------*/
#temp-sidebar
{
	float                            : right;
	margin-top                       : 24px;
}

#temp-sidebar h3
{
	display                          : none;
}

/* command buttons ------------------------------------------------------------------------------*/
#editor-palette
{
	border                           : 1px solid #CCCCCC;
	background-color                 : #F0F0EE;
	height                           : 24px;
	padding                          : 0;
	position                         : relative;
	width                            : 650px;
}

#editor-palette dl
{
	height                           : 24px;
	margin                           : 0;
	padding                          : 2px 0 0 2px;
}

#editor-palette dl,
#editor-palette dl dd
{
	display                          : inline;
	line-height                      : 1em;
}

#editor-palette .class,
#editor-palette dl dt
{
	display                          : none;
}

#editor-palette a
{
	background-color                 : transparent;
	background-position              : center center;
	background-repeat                : no-repeat;
	border                           : 1px solid #F0F0EE;
	float                            : left;
	height                           : 20px;
	padding                          : 0;
	width                            : 20px;
}

#editor-palette a.inactive-class:link,
#editor-palette a.inactive-class:visited
{
	background-color                 : transparent;
	background-position              : center center;
	background-repeat                : no-repeat;
	border                           : 1px solid #F0F0EE;
	float                            : left;
	height                           : 20px;
	padding                          : 0;
	width                            : 20px;
}

#editor-palette a.inactive-class:hover,
#editor-palette a.inactive-class:active
{
	background-color                 : #B6BDD2;
	border                           : 1px solid #0A246A;
	background-position              : center center;
	background-repeat                : no-repeat;
	float                            : left;
	height                           : 20px;
	padding                          : 0;
	width                            : 20px;
}

#editor-palette a.active-class
{
	background-color                 : #B6BDD2;
	border                           : 1px solid #0A246A;
	background-position              : center center;
	background-repeat                : no-repeat;
	float                            : left;
	height                           : 20px;
	padding                          : 0;
	width                            : 20px;
}

#editor-palette a span
{
	display                          : none;
}

#editor-palette dl.font-relatives
{
	display                          : none;
	position                         : absolute;
	left                             : 1px;
	top                              : 1px;
}

#fontFamilyChanger
{
	display                          : none;
}

#fontSizeChanger
{
	height                           : 1.4em !important;
	padding                          : 0;
	width                            : 86px;
}

#editor-palette dl.font-style
{
	left                             : 0;
	position                         : absolute;
	top                              : -1px;
}

#indicatorBold
{
	background-image                 : url("./image/edit/bold.gif");
}

#indicatorItalic
{
	background-image                 : url("./image/edit/italic.gif");
}

#indicatorUnderline
{
	background-image                 : url("./image/edit/setUnderLine.gif");
}

#indicatorStrike
{
	background-image                 : url("./image/edit/strikethrough.gif");
}

#indicatorColorPalette
{
	background-image                 : url("./image/edit/setColor.gif");
}

#indicatorMarkPalette
{
	background-image                 : url("./image/edit/setMark.gif");
}

#indicatorTextBox
{
	background-image                 : url("./image/edit/textBox.gif");
}

#indicatorRemoveFormat
{
	background-image                 : url("./image/edit/undo.gif");
}

#editor-palette dl.paragraph
{
	background-image                 : url("./image/edit/img_divider.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	left                             : 177px;
	margin-left                      : 4px;
	padding-left                     : 4px;
	position                         : absolute;
	top                              : -1px;
}

#indicatorJustifyLeft
{
	background-image                 : url("./image/edit/left.gif");
}

#indicatorJustifyCenter
{
	background-image                 : url("./image/edit/center.gif");
}

#indicatorJustifyRight
{
	background-image                 : url("./image/edit/right.gif");
}

#indicatorUnorderedList
{
	background-image                 : url("./image/edit/bullist.gif");
}

#indicatorOrderedList
{
	background-image                 : url("./image/edit/numlist.gif");
}

#indicatorOutdent
{
	background-image                 : url("./image/edit/outdent.gif");
}

#indicatorIndent
{
	background-image                 : url("./image/edit/indent.gif");
}

#indicatorBlockquote
{
	background-image                 : url("./image/edit/set_blockquote.gif");
}

#editor-palette dl.special
{
	background-image                 : url("./image/edit/img_divider.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	left                             : 360px;
	margin-left                      : 4px;
	padding-left                     : 4px;
	position                         : absolute;
	top                              : -1px;
}

#indicatorCodeBlock
{
	background-image                 : url("./image/edit/setCode.gif");
	display                          : none;
}

#indicatorHtmlBlock
{
	background-image                 : url("./image/edit/setHtml.gif");
	display                          : none;
}

#indicatorCreateLink
{
	background-image                 : url("./image/edit/link.gif");
}

#indicatorMediaBlock
{
	background-image                 : url("./image/edit/setEmbed.gif");
}

#indicatorFlashBlock
{
	background-image                 : url("./image/edit/setFlash.gif");
}

#indicatorMoreLessBlock
{
	background-image                 : url("./image/edit/more.gif");
}

#editor-palette dl.mode
{
	background-image                 : url("./image/edit/img_divider.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	margin-left                      : 4px;
	padding-left                     : 4px;
	position                         : absolute;
	left                             : 433px;
	top                              : -1px;
}

#indicatorMode
{
	background-image                 : url("./image/edit/code.gif");
}

/* command buttons' sub box ---------------------------------------------------------------------*/
#colorPalette
{
	background-color                 : #FFFFFF;
	position                         : absolute;
	padding                          : 2px;
	top                              : 24px;
	left                             : 80px;
	z-index                          : 10;
	border                           : 1px solid #CCCCCC;
	width                            : 336px;
}

#markPalette
{
	background-color                 : #FFFFFF;
	position                         : absolute;
	padding                          : 2px;
	top                              : 24px;
	left                             : 100px;
	z-index                          : 10;
	border                           : 1px solid #CCCCCC;
	width                            : 336px;
}

#textBox
{
	background-color                 : #FFFFFF;
	position                         : absolute;
	padding                          : 2px;
	top                              : 24px;
	left                             : 120px;
	z-index                          : 10;
	border                           : 1px solid #CCCCCC;
	width                            : 80px;
}

#colorPalette table,
#markPalette table,
#textBox table
{
	border-collapse                  : collapse;
	border-spacing                   : 0;
	background-color                 : #FFFFFF;
	margin                           : 0;
	width                            : auto;
}

#colorPalette table tr td,
#markPalette table tr td,
#textBox table tr td
{
	border                           : none !important;
	cursor                           : pointer;
	height                           : 16px;
	padding                          : 0 !important;
	text-indent                      : -5000px;
	width                            : 16px;
}

/* colors */
.color-000000
{
	background-color                 : #000000;
}

.color-0000FF
{
	background-color                 : #0000FF;
}

.color-003366
{
	background-color                 : #003366;
}

.color-006699
{
	background-color                 : #006699;
}

.color-008000
{
	background-color                 : #008000;
}

.color-009966
{
	background-color                 : #009966;
}

.color-177FCD
{
	background-color                 : #177FCD;
}

.color-333333
{
	background-color                 : #333333;
}

.color-666699
{
	background-color                 : #666699;
}

.color-670787
{
	background-color                 : #670787;
}

.color-8E8E8E
{
	background-color                 : #8E8E8E;
}

.color-993366
{
	background-color                 : #993366;
}

.color-999966
{
	background-color                 : #999966;
}

.color-99CC66
{
	background-color                 : #99CC66;
}

.color-9B18C1
{
	background-color                 : #9B18C1;
}

.color-C1C1C1
{
	background-color                 : #C1C1C1;
}

.color-C9EDFF
{
	background-color                 : #C9EDFF;
}

.color-CC9900
{
	background-color                 : #CC9900;
}

.color-D0FF9D
{
	background-color                 : #D0FF9D;
}

.color-D41A01
{
	background-color                 : #D41A01;
}

.color-E4E4E4
{
	background-color                 : #E4E4E4;
}

.color-FAFFA9
{
	background-color                 : #FAFFA9;
}

.color-FF0000
{
	background-color                 : #FF0000;
}

.color-FF3399
{
	background-color                 : #FF3399;
}

.color-FF7635
{
	background-color                 : #FF7635;
}

.color-FF9900
{
	background-color                 : #FF9900;
}

.color-FFDAED
{
	background-color                 : #FFDAED;
}

/* textarea -------------------------------------------------------------------------------------*/
#textarea-section
{
	margin-top                       : 10px;
}

#editor-textbox
{
	background-color                 : #F0F0EE;
	border-right                     : 1px solid #CCCCCC;
	border-left                      : 1px solid #CCCCCC;
	border-bottom                    : 1px solid #CCCCCC;
	text-align                       : center;
	width                            : 650px;
}

#editWindow
{
	background-color                 : #FFFFFF;
	border-top                       : none;
	border-right                     : none;
	border-bottom                    : 1px solid #CCCCCC;
	border-left                      : none;
	height                           : 452px !important;
	padding                          : 0 !important;
	width                            : 650px !important;
}

#editor-textbox iframe
{
	background-color                 : #FFFFFF;
	margin                           : 0 auto;
}

#status-container
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/edit/statusbar_resize.gif");
	background-position              : right bottom;
	background-repeat                : no-repeat;
	cursor                           : n-resize;
	height                           : 15px;
	width                            : 652px;
}

#status-container span
{
	display                          : none;
}

#toolbox-container
{
	border                           : 1px solid #FFFFFF;
	background-color                 : #CCCCCC;
	line-height                      : 0.5em;
	margin-top                       : 1px;
	padding                          : 3px 5px;
	width                            : 642px;
}

/* property box --------------------------------------------------------------------------------*/
#property-section
{
	display                          : none;
}

.entry-editor-property
{
	background-image                 : url("./image/edit/bg_box_foot.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	overflow                         : hidden;
	padding-bottom                   : 10px;
	width                            : 188px;
}

.entry-editor-property h4
{
	background-image                 : url("./image/edit/bg_box_head.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #FFFFFF;
	display                          : block;
	font-weight                      : normal !important;
	line-height                      : 1em;
	padding                          : 8.5px 10px 4.5px 10px;
	text-align                       : left;
	width                            : 168px;
}

.entry-editor-property dl
{
	background-image                 : url("./image/edit/bg_box_body.gif");
	background-position              : left top;
	background-repeat                : repeat-y;
	color                            : #000000;
	display                          : block;
	height                           : auto;
	margin                           : 0;
	padding                          : 3px 8px;
	width                            : 172px;
}

.entry-editor-property dl dt
{
	color                            : #666666;
	float                            : none;
	font-family                      : "Lucida Grande", Arial, Tahoma, Verdana, µ¸¿ò, Dotum, ±¼¸², Gulim, sans-serif;
	font-size                        : 90%;
	font-weight                      : normal;
	line-height                      : 1.5em;
	text-align                       : left;
	width                            : 172px;
}

.entry-editor-property dl dt label,
.entry-editor-property dl dt span
{
	font-weight                      : normal;
}

.entry-editor-property dl dd
{
	float                            : none;
	line-height                      : 1.5em;
	width                            : 172px;
}

.entry-editor-property dl dd input.text-input
{
	display                          : block;
	width                            : 160px !important;
}

.entry-editor-property dl dd select
{
	display                          : block;
	width                            : 169px !important;
}

.entry-editor-property dl dd select.file-list
{
	height                           : 220px;
	width                            : 169px !important;
}

.entry-editor-property dl dd textarea
{
	width                            : 160px !important;
}

.entry-editor-property div.button-box
{
	background-image                 : url("./image/edit/bg_box_body.gif");
	background-position              : left top;
	background-repeat                : repeat-y;
	clear                            : both;
	float                            : none;
	margin                           : 0;
	padding                          : 5px 0 10px 0;
	width                            : 188px !important;
}

.entry-editor-property .button-box .button
{
	background-color                 : #F1F1F1;
	border                           : 1px solid #CCCCCC;
	cursor                           : pointer;
	line-height                      : 1em;
	padding                          : 3px;
}

.entry-editor-property .preview-box img
{
	border                           : 1px solid #000000;
	margin-top                       : 5px;
}

/* tag and location -----------------------------------------------------------------------------*/
#taglocal-section
{
	display                          : none;
}

#tag-line,
#location-line
{
	background-image                 : url("./image/edit/bg_box_foot.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	height                           : auto;
	margin                           : 0;
	padding-bottom                   : 10px;
	width                            : 188px;
}

#tag-line dt,
#location-line dt
{
	background-image                 : url("./image/edit/bg_box_head.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #FFFFFF;
	display                          : block;
	float                            : none;
	font-weight                      : normal;
	line-height                      : 1em;
	padding                          : 8.5px 10px 4.5px 10px;
	text-align                       : left;
	width                            : 168px !important;
}

#tag-line dt label,
#tag-line dt span,
#location-line dt label,
#location-line dt span
{
	font-weight                      : normal;
}

#tag-line dd,
#location-line dd
{
	background-image                 : url("./image/edit/bg_box_body.gif");
	background-position              : left top;
	background-repeat                : repeat-y;
	color                            : #000000;
	display                          : block;
	float                            : none;
	font-family                      : µ¸¿ò, Dotum, "Lucida Grande", Arial, Tahoma, Verdana, ±¼¸², Gulim, sans-serif;
	font-size                        : 90%;
	line-height                      : 1.3em;
	padding                          : 10px 8px 4px 8px;
	width                            : 172px;
}

#tag-line dd ul li input.text-input,
#location-line dd ul li input.text-input
{
	width                            : 160px !important;
}

/* upload ---------------------------------------------------------------------------------------*/
#upload-section
{
	background-color                 : #DFE8F1;
	border-top                       : 1px solid #448ABD;
	margin-top                       : 30px;
	padding                          : 10px;
	position                         : relative;
	width                            : 632px;
}

#upload-section h3
{
	background-color                 : #DFE8F1;
	border-right                     : 2px solid #448ABD;
	margin                           : -30px 0 0 10px;
	padding                          : 5px 0 2px 0;
	text-align                       : center;
	width                            : 80px;
}

#upload-section #previewSelected
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #878787;
	float                            : left;
	margin                           : 0 6px 0 0;
}

#previewSelected span
{
	display                          : block;
	margin                           : 40px auto 0 auto;
	text-align                       : center;
}

#attachment-container
{
	margin-top                       : 33px;
}

#fileList
{
	float                            : left;
	height                           : 96px;
	margin-bottom                    : 10px;
	width                            : 504px !important;
}

#insert-container
{
	height                           : 25px;
	position                         : absolute;
	right                            : 10px;
	top                              : 7px;
	width                            : 300px;
}

#insert-container a
{
	background-repeat                : no-repeat;
	border                           : none;
	display                          : block;
	float                            : left;
	height                           : 25px;
	margin-left                      : 3px;
	width                            : 27px;
}

#insert-container a:link,
#insert-container a:visited
{
	background-position              : left top;
}

#insert-container a:hover,
#insert-container a:active
{
	background-position              : left bottom;
}

#insert-container a span
{
	display                          : none !important;
}

#insert-container .image-left
{
	background-image                 : url("./image/edit/attachAlignLeft2.gif");
}

#insert-container .image-center
{
	background-image                 : url("./image/edit/attachAlignCenter2.gif");
}

#insert-container .image-right
{
	background-image                 : url("./image/edit/attachAlignRight2.gif");
}

#insert-container .image-2center
{
	background-image                 : url("./image/edit/attachAlign2Center2.gif");
}

#insert-container .image-3center
{
	background-image                 : url("./image/edit/attachAlign3Center2.gif");
}

#insert-container .image-free
{
	background-image                 : url("./image/edit/attachAlignFree2.gif");
}

#insert-container .image-imazing
{
	background-image                 : url("./image/edit/attachAlignImazing2.gif");
}

#insert-container .image-sequence
{
	background-image                 : url("./image/edit/attachAlignSequence2.gif");
}

#insert-container .image-mp3
{
	background-image                 : url("./image/edit/attachMP32.gif");
}

#insert-container .image-podcast
{
	background-image                 : url("./image/edit/attachAlignPodcast2.gif");
}

#uploaderNest
{
	display                          : block;
	position                         : absolute;
	bottom                           : 6px;
	left                             : 10px;
}

#fileUploadNest
{
	padding-top                      : 12px;
	text-align                       : right;
}

#fileSize
{
	display                          : none;
}

#upload-section .button-box
{
	clear                            : left !important;
}

/* power ----------------------------------------------------------------------------------------*/
#power-section
{
	width                            : 652px;
}

#permalink-line
{
	height                           : 55px;
	margin                           : 15px 0;
}

#permalink-line dt
{
	background-color                 : #2685AF;
	color                            : #FFFFFF;
	float                            : none;
	margin-right                     : 0;
	padding                          : 1px 0 1px 10px;
	text-align                       : left;
	width                            : 642px;
}

#permalink-line dt label
{
	font-weight                      : normal;
}

#permalink-line dd
{
	float                            : none;
	padding                          : 5px 0;
}

#permalink-line dd .text-input
{
	width                            : 200px;
}

#date-line,
#status-line,
#power-line,
#entrytype-line
{
	background-image                 : url("./image/edit/bg_box_foot.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	height                           : auto;
	margin                           : 0;
	padding-bottom                   : 10px;
	width                            : 188px;
}

#date-line dt,
#status-line dt,
#power-line dt,
#entrytype-line dt
{
	background-image                 : url("./image/edit/bg_box_head.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	color                            : #FFFFFF;
	display                          : block;
	float                            : none;
	font-weight                      : normal;
	line-height                      : 1em;
	padding                          : 8.5px 10px 4.5px 10px;
	text-align                       : left;
	width                            : 168px;
}

#date-line dt label,
#date-line dt span,
#status-line dt label,
#status-line dt span,
#power-line dt label,
#power-line dt span,
#entrytype-line dt label,
#entrytype-line dt span
{
	font-weight                      : normal;
}

#date-line dd,
#status-line dd,
#power-line dd,
#entrytype-line dd
{
	background-image                 : url("./image/edit/bg_box_body.gif");
	background-position              : left top;
	background-repeat                : repeat-y;
	color                            : #000000;
	display                          : block;
	float                            : none;
	font-family                      : µ¸¿ò, Dotum, "Lucida Grande", Arial, Tahoma, Verdana, ±¼¸², Gulim, sans-serif;
	font-size                        : 90%;
	line-height                      : 1.3em;
	padding                          : 10px 8px 4px 8px;
	width                            : 172px;
}

#date-line dd input.text-input
{
	display                          : block;
	width                            : 160px !important;
}

/* button box -----------------------------------------------------------------------------------*/
.button-box
{
	padding                          : 30px 0;
	width                            : 650px !important;
}