@charset "utf-8";

/* List ******************************************************************************************/

#part-link-list table.data-inbox
{
	margin-bottom                    : 10px;
}

/* Add/Edit **************************************************************************************/

#part-link-add div.data-inbox dl dt,
#part-link-edit div.data-inbox dl dt
{
	padding-top                      : 2px;
}

#part-link-add div.data-inbox dl dd .text-input,
#part-link-edit div.data-inbox dl dd .text-input
{
	width                            : 350px;
}

#part-link-add .button-box,
#part-link-edit .button-box
{
	margin                           : 30px 0 25px 0;
} 