@charset "utf-8";

/* List ******************************************************************************************/

#part-link-list
{
	padding-bottom                   : 20px;
}

#part-link-list table tbody tr td.delete
{
	padding-top                      : 3px;
}

/* Add/Edit **************************************************************************************/

#part-link-add,
#part-link-edit
{
	padding-bottom                   : 15px;
}

.data-inbox dl dd .button
{
	vertical-align                   : middle;
}

.data-inbox dl dd .input.text-input
{
	vertical-align                   : middle;
}