@charset "utf-8";

/* Plugins ***************************************************************************************/

#part-plugin-list
{
	padding-bottom                   : 20px;
}

#part-plugin-list table.data-inbox
{
	margin-bottom                    : 0;
}

/* sorting setting ------------------------------------------------------------------------------*/
#plugin-display-box
{
	border-bottom                    : 1px dotted #CCCCCC;
	margin                           : 25px 0 5px auto;
	
	text-align                       : right;
	width                            : 450px;
}

#scope-line dt,
#sorting-line dt,
#activate-status-line dt
{
	display                          : none;
}

#scope-line dd,
#sorting-line dd,
#activate-status-line dd
{
	display                          : inline !important;
	float                            : none !important;
}

#descend-sorting
{
	margin-left                      : 5px;
}

#activated-plugin
{
	margin-left                      : 40px;
}

#deactivated-plugin
{
	margin-left                      : 5px;
}

/* list table head ------------------------------------------------------------------------------*/
#part-plugin-list table.data-inbox thead tr .title
{
	width                            : 25%;
}

#part-plugin-list table.data-inbox thead tr .version
{
	width                            : 50px;
}

#part-plugin-list table.data-inbox thead tr .maker
{
	width                            : 150px;
}

#part-plugin-list table.data-inbox thead tr .status
{
	width                            : 80px;
}

#part-plugin-list table.data-inbox tbody tr td.explain
{
	text-align                       : left;
}

#part-plugin-list table.data-inbox tbody tr td.version,
#part-plugin-list table.data-inbox tbody tr td.status
{
	text-align                       : center;
}

#part-plugin-list table.data-inbox tbody tr.active-class td.title
{
	background-color                 : #88BB88;
}

#part-plugin-list table.data-inbox tbody tr td.scope
{
	text-align                       : center;
}

#part-plugin-list table.data-inbox tbody tr td.config
{
	text-align                       : center;
}

#part-plugin-list table.data-inbox tbody tr td.status a
{
	border-bottom                    : none;
	display                          : block;
	padding                          : 5px 0;
	text-align                       : center;
}

#part-plugin-list table.data-inbox tbody tr.inactive-class td.status a:hover
{
	background                       : #CFCFCF;
	color                            : #0F3F6F;
}

#part-plugin-list table.data-inbox tbody tr.active-class td.status a:hover
{
	background                       : #CF0F0F;
	color                            : #FFFFFF;
}

#part-setting-more
{
	padding-bottom                    : 6px;
}