/* Post ******************************************************************************************/

#data-outbox table tbody tr td.selection,
#data-outbox table tbody tr td.date,
#data-outbox table tbody tr td.status,
#data-outbox table tbody tr td.syndicate,
#data-outbox table tbody tr td.ip
{
	text-align                       : center;
}

#data-outbox table tbody .reply-line td.content
{
	background-image                 : url("./image/icon_reply_arrow.gif");
	background-position              : 3px center;
	background-repeat                : no-repeat;
	padding-left                     : 18px;
}

/* Tree ******************************************************************************************/

#part-post-tree .data-inbox
{
	height                           : 320px;
}

#treePreview
{
	border                           : 2px solid #CCCCCC;
	height                           : 280px;
	float                            : right;
	overflow                         : auto;
	padding                          : 10px;
	width                            : 280px;
}

#treePreview table
{
	margin                           : 0;
}

#treePreview table tr td
{
	border                           : 0 !important;
	height                           : 9px !important;
	line-height                      : 9px !important;
	padding                          : 0 !important;
}

#treePreview table tr td a
{
	border                           : 0;
}

#treePreview table tr td img
{
	vertical-align                   : middle;
}

#text_0
{
	padding-top                      : 3px;
}

#treePreview table#category_0 tr td.ib
{
	width                            : 20px;
}

#treePreview table#category_0 tr td.branch3
{
	height                           : 9px !important;
}

#property-box
{
	float                            : left;
	margin-left                      : 50px;
}

#property-box dl dt
{
	width                            : 120px;
}

#property-box dl .button,
#property-box dl .text-input
{
	vertical-align                   : middle;
}

#body-id-line p
{
	line-height                      : 1.5em;
	margin                           : 5px 0;
	width                            : 350px;
}