/* Tree ******************************************************************************************/

#treePreview table tr td.branch3
{
	line-height                           : 15px !important;
	padding-top                           : 2px !important;
}

#treePreview table#category_0 tr td.branch3
{
	line-height                           : 14px !important;
	padding-top                           : 0 !important;
}

#property-box dl dt
{
	padding-top                           : 1px;
}

#property-box dl .up-button,
#property-box dl .down-button,
#property-box dl .remove-button
{
	vertical-align                   : baseline;
}

/* Trash *****************************************************************************************/

#part-post-trash table tbody tr td.selection,
#part-post-trash table tbody tr td.date,
#part-post-trash table tbody tr td.ip
{
	text-align                       : center;
}

/* data-subbox */
#part-post-trash .data-subbox
{
	height                           : 62px;
}

#part-post-trash .data-subbox #delete-section
{
	padding-top                      : 4px !important;
}

#part-post-trash .data-subbox #search-section
{
	margin-bottom                    : 10px;
}