@charset "utf-8";

/* Reader ****************************************************************************************/

/* pannel ---------------------------------------------------------------------------------------*/
/* group box */
#group-section
{
	position                         : relative;
	z-index                          : 10;
}

#groupBox ul#groupList li div
{
	display                          : inline;
}

/* feed box */
#feedBox
{
	background-color                 : #FFFFFF;
	margin-left                      : 285px;
	overflow                         : auto;
	position                         : relative;
	right                            : 6px;
	top                              : 0;
}

/* configure ------------------------------------------------------------------------------------*/
#configure .data-inbox #reader-section #image-line dd .image-get-no,
#configure .data-inbox #reader-section #javascript-line dd .javascript-no,
#configure .data-inbox #reader-section #link-line dd .window-blank
{
	padding-left                     : 8px;
}

/* toggle bar -----------------------------------------------------------------------------------*/
#toggleBar a
{
	right                            : 7%;
}

/* post list ------------------------------------------------------------------------------------*/
#post-list
{
	left                             : 0;
	top                              : 67px;
	width                            : 230px !important;
}

#post-list .button-box
{
	width                            : 240px !important;
}

#post-list .button-box .button
{
	font-family                      : Dotum, sans-serif;
	font-size                        : 95%;
	line-height                      : 2.5em;
}

#shortcuts
{
	width                            : 240px;
}

/* content in detail ----------------------------------------------------------------------------*/
#content-information
{
	height                           : 643px;
}

#post-content .title .divider
{
	padding-left                     : 4px;
}

#post-content .title .move .divider
{
	padding-left                     : 0;
}

#entryFoot .button-box a
{
	font-family                      : Dotum, sans-serif;
	font-size                        : 95%;
}

