@charset "utf-8";

/* Blog ******************************************************************************************/

/* basic ----------------------------------------------------------------------------------------*/
#part-setting-basic #common-section .input-text
{
	width                            : 200px;
}

#part-setting-basic .button-box
{
	padding-top                      : 10px;
}

#part-setting-basic #multi-section dl dt
{
	padding-top                      : 5px;
}

/* profile --------------------------------------------------------------------------------------*/
#part-setting-profile dl dd
{
	padding-bottom                   : 1px;
}

/* rss ------------------------------------------------------------------------------------------*/
#part-setting-rss #post-count dt,
#part-setting-rss #open-range dt
{
	padding-top                      : 3px;
}

/* Account ***************************************************************************************/

/* edit -----------------------------------------------------------------------------------------*/
#part-setting-account dl dt
{
	padding-top                      : 3px;
}

/* invite ---------------------------------------------------------------------------------------*/
#part-setting-invite dl dt
{
	padding-top                      : 5px;
}

#part-setting-invite #invitation_receiver,
#part-setting-invite #invitation_sender
{
	width                            : 474px !important;
}

#part-setting-invite #invitation_identify
{
	vertical-align                   : middle;
	width                            : 342px !important;
}

#part-setting-invite .button-box
{
	height                           : 38px;
	padding-top                      : 12px;
}

/* Data ******************************************************************************************/

/* dialog ---------------------------------------------------------------------------------------*/
.part .dialog .message-body
{
	border-bottom                    : none;
}

.part .dialog .button-box
{
	border                           : 1px solid #CCCCCC;
	padding                          : 30px 0 10px 0 !important;
}