@charset "utf-8";

/* Common ****************************************************************************************/

#data-outbox div.data-inbox dl dt
{
	width                            : 140px;
}

/* Blog ******************************************************************************************/

#part-setting-basic,
#part-setting-profile,
#part-setting-rss,
#part-setting-language
{
	padding-bottom                   : 16px;
}

/* basic ----------------------------------------------------------------------------------------*/
#part-setting-basic #common-form
{
	float                            : left;
	margin                           : 0 20px 0 10px;
	width                            : 370px;
}

#part-setting-basic #common-form .text-input
{
	width                            : 197px;
}

#part-setting-basic #common-form textarea
{
	width                            : 200px;
}

#part-setting-basic #common-form .button-box
{
	padding                          : 20px 0 0 0;
	width                            : 400px;
}

#part-setting-basic #multi-form
{
	float                            : left;
	width                            : 450px;
}

#part-setting-basic #multi-form dl dt
{
	margin-top                       : -2px;
}

input#primaryDomain,
input#secondaryDomain
{
	margin                           : 0 2px 2px 2px;
	vertical-align                   : middle;
	width                            : 140px;
}

input#pathDomain
{
	margin                           : 0 2px 2px 2px;
	vertical-align                   : middle;
	width                            : 100px;
}

#part-setting-basic #multi-form .button-box
{
	margin-top                       : 60px;
}

/* profile --------------------------------------------------------------------------------------*/
#part-setting-profile img
{
	background-color                 : #F4F4F4;
	border                           : 1px solid #000000;
	vertical-align                   : middle;
}

#part-setting-profile dl dt
{
	line-height                      : 26px;
	width                            : 150px !important;
}

#part-setting-profile dl dd
{
	line-height                      : 26px;
}

#part-setting-profile .file-input
{
	font-size                        : 1em;
}

/* thumbnail ------------------------------------------------------------------------------------*/
#part-setting-thumbnail img
{
	display                          : block;
	margin-bottom                    : 5px;
}

#part-setting-thumbnail #thumbnail-form dl
{
	padding-top                     : 5px;
}

#part-setting-thumbnail .text-input
{
	margin-right                     : 3px;
	vertical-align                   : middle;
	width                            : 30px;
}

#part-setting-thumbnail dl dt
{
	width                            : 150px !important;
}

#part-setting-thumbnail dl dd
{
	line-height                      : 2.2em;
}

#padding-color .text-input
{
	width                            : 60px;
}

#part-setting-thumbnail .button-box
{
	margin                           : 25px 0;
}

#watermark-resize-line dd
{
	line-height                      : 1.5em !important;
}

/* rss ------------------------------------------------------------------------------------------*/
#post-address-line dt,
#post-address-line dd,
#open-type-line dt,
#open-type-line dd
{
	line-height                      : 1.5em;
}

#part-setting-rss #rss-section dl
{
	margin-bottom                    : 5px;
}

#part-setting-rss dl dt
{
	width                            : 150px !important;
}

#post-address-line,
#open-type-line
{
	height                           : 3em;
}

#etc-section
{
	margin-top                       : 5px;
}

/* language & timezone --------------------------------------------------------------------------*/
#part-setting-language #language-section dl dt
{
	width                            : 150px !important;
}

#blog-language-line dd p
{
	line-height                      : 1.5em;
	padding                          : 5px 0 10px 0;
}

/* editor setting -------------------------------------------------------------------------------*/
#part-setting-editor dl dt
{
	width                            : 150px !important;
}

#part-setting-editor .button-box
{
	margin                           : 25px 0;
}

/* admin skin -----------------------------------------------------------------------------------*/
#part-setting-admin dl dt
{
	width                            : 150px !important;
}

#part-setting-admin .button-box
{
	margin                           : 25px 0;
}

/* Account ***************************************************************************************/

/* edit -----------------------------------------------------------------------------------------*/
#part-setting-account
{
	padding-bottom                   : 16px;
}

#part-setting-account dl
{
	width                            : 700px;
}

#part-setting-account dl dt
{
	width                            : 170px;
}

#part-setting-account #info-section .button-box
{
	margin                           : 30px 0;
}

#part-setting-account #account-section .button-box
{
	margin                           : 30px 0 15px 0;
}

#part-setting-account #info-section .text-input,
#part-setting-account #account-section .text-input
{
	width                            : 200px;
}

/* invite ---------------------------------------------------------------------------------------*/
#part-setting-invite dl
{
	line-height                      : 2.2em;
}

#letter-section
{
	position                         : relative;
}

#letter-section .title
{
	display                          : none;
}

#letter
{
	color                            : #000000;
	margin                           : 0 auto;
}

#letter dl dt
{
	float                            : left;
	line-height                      : 1.8em;
}

#letter dl dd
{
	float                            : left;
	line-height                      : 1.5em;
}

#letter-head
{
	margin                           : 0;
}

#letter-head .line
{
	clear                            : both;
	height                           : 2.2em;
}

#letter-head label
{
	display                          : block;
	float                            : left;
	font-weight                      : bold;
	padding-right                    : 10px;
	text-align                       : right;
	width                            : 140px;
}

#letter-head .inter-word
{
	display                          : block;
	float                            : left;
}

#letter-head .text-input
{
	display                          : block;
	float                            : left;
	margin-top                       : -3px;
}

#letter-body
{
	clear                            : both;
	margin                           : 0;
}

#invitation_receiver,
#invitation_sender
{
	width                            : 473px !important;
}

#invitation_identify
{
	margin-left                      : 2px;
	width                            : 310px;
}

#letter-body textarea
{
	display                          : block;
	height                           : 300px;
	line-height                      : 17px;
	margin-left                      : 150px;
	width                            : 476px;
}

#letter-foot
{
	background-image                 : url("./image/letterFooter.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	padding                          : 0 0 30px 0;
}

#letter-foot .line
{
	clear                            : both;
	height                           : 1em;
	margin-top                       : 10px;
}

#letter-foot label
{
	display                          : block;
	float                            : left;
	font-weight                      : bold;
	padding-right                    : 10px;
	text-align                       : right;
	width                            : 140px;
}

#letter-foot .text-input
{
	display                          : block;
	float                            : left;
	margin-top                       : -3px;
}

#part-setting-invite .button-box
{
	padding                          : 10px 0 20px 0;
}

/* list -----------------------------------------------------------------------------------------*/
#list-section
{
	overflow                         : hidden;
}

#list-section .title
{
	width                            : 137px !important;
}

#list-section dl
{
	height                           : auto !important;
}

#list-section dt
{
	float                            : none !important;
	position                         : absolute;
}

#list-section dd
{
	float                            : none !important;
	margin                           : 0 10px 0 150px;
}

/* list table common ----------------------------------------------------------------------------*/
#list-section table
{
	margin                           : 0;
}

#list-section table thead tr th
{
	background-color                 : #EFEFEF;
	font-weight                      : bold;
	overflow                         : hidden;
}

/* Plugins ***************************************************************************************/

#part-setting-plugins
{
	padding-bottom                   : 20px;
}

#part-setting-plugins table.data-inbox
{
	margin-bottom                    : 0;
}

/* sorting setting ------------------------------------------------------------------------------*/
#plugin-display-box
{
	border-bottom                    : 1px dotted #CCCCCC;
	margin                           : 25px 0 5px auto;
	
	text-align                       : right;
	width                            : 450px;
}

#sorting-line,
#activate-status-line
{
	display                          : inline;
}

#sorting-line dt,
#activate-status-line dt
{
	display                          : none;
}

#sorting-line dd,
#activate-status-line dd
{
	display                          : inline !important;
	float                            : none !important;
}

#descend-sorting
{
	margin-left                      : 5px;
}

#activated-plugin
{
	margin-left                      : 40px;
}

#deactivated-plugin
{
	margin-left                      : 5px;
}

/* list table head ------------------------------------------------------------------------------*/
#part-setting-plugins table.data-inbox thead tr .title
{
	width                            : 25%;
}

#part-setting-plugins table.data-inbox thead tr .version
{
	width                            : 50px;
}

#part-setting-plugins table.data-inbox thead tr .maker
{
	width                            : 150px;
}

#part-setting-plugins table.data-inbox thead tr .status
{
	width                            : 80px;
}

#part-setting-plugins table.data-inbox tbody tr td.explain
{
	text-align                       : left;
}

#part-setting-plugins table.data-inbox tbody tr td.version,
#part-setting-plugins table.data-inbox tbody tr td.status
{
	text-align                       : center;
}

#part-setting-plugins table.data-inbox tbody tr.active-class td.title
{
	background-color                 : #88BB88;
}

#part-setting-plugins table.data-inbox tbody tr td.scope
{
	text-align                       : center;
}

#part-setting-plugins table.data-inbox tbody tr td.config
{
	text-align                       : center;
}

#part-setting-plugins table.data-inbox tbody tr td.status a
{
	border-bottom                    : none;
	display                          : block;
	padding                          : 5px 0;
	text-align                       : center;
}

#part-setting-plugins table.data-inbox tbody tr.inactive-class td.status a:hover
{
	background                       : #CFCFCF;
	color                            : #0F3F6F;
}

#part-setting-plugins table.data-inbox tbody tr.active-class td.status a:hover
{
	background                       : #CF0F0F;
	color                            : #FFFFFF;
}

#part-setting-more
{
	padding-bottom                    : 6px;
}

/* Data ******************************************************************************************/

/* common ---------------------------------------------------------------------------------------*/
#part-data-correct,
#part-data-optimize,
#part-data-backup,
#part-data-restore,
#part-data-remove
{
	position                         : static !important;
}

#part-data-correct .image,
#part-data-optimize .image,
#part-data-backup .image,
#part-data-restore .image,
#part-data-remove .image
{
	display                          : none;
}

#part-data-correct .explain,
#part-data-backup .explain,
#part-data-restore .explain,
#part-data-remove .explain
{
	line-height                      : 1.5em;
}

/* dialog ---------------------------------------------------------------------------------------*/
.part .dialog
{
	background-color                 : #FFFFFF;
	border-right                     : 5px solid #000000;
	border-bottom                    : 5px solid #000000;
	border-left                      : 5px solid #000000;
	width                            : 550px;
}

.part .dialog h3
{
	background-color                 : #000000;	
	color                            : #FFFFFF;
	display                          : block;
	height                           : 1.6em;
	padding                          : 3px 5px 0 5px;
}

.part .dialog .message-body
{
	border-left                      : 1px solid #CCCCCC;
	border-right                     : 1px solid #CCCCCC;
	border-bottom                    : 1px solid #CCCCCC;
	padding                          : 0 0 4px 0;
}

.part .dialog .message-body .explain
{
	border-bottom                    : 1px solid #CCCCCC;
	font-family                      : µ¸¿ò, Dotum, ±¼¸², Gulim, sans-serif;
	font-size                        : 90%;
	margin                           : 0;
	padding                          : 5px 5px 3px 5px;
}

.part .dialog .message-body .explain em,
.part .dialog .message-body .explain strong
{
	color                            : #FF0000;
	font-weight                      : normal;
}

.part .dialog .message-body .explain .asterisk
{
	display                          : none;
}

.part .dialog .message
{
	padding                          : 20px 10px;
	text-align                       : center;
}

.part .dialog .message-body .selection
{
	background-color                 : #EEEEEE;
	margin                           : 0 4px;
	padding                          : 10px 10px 6px 10px;
	text-align                       : center;
}

.part .dialog .button-box
{
	border-left                      : 1px solid #CCCCCC;
	border-right                     : 1px solid #CCCCCC;
	border-bottom                    : 1px solid #CCCCCC;
	margin                           : 0;
	padding                          : 20px 0;
}

.part .dialog .message-body .selection .select-yes,
.part .dialog .message-body .selection .select-no,
#part-data-restore .dialog .selection #select-server,
#part-data-restore .dialog .selection #select-upload,
#part-data-restore .dialog .selection #select-web
{
	display                          : inline;
}

#part-data-restore .dialog .selection #select-correct
{
	margin-top                       : 5px;
	text-align                       : center;
}

.part .dialog #uploadBackup,
.part .dialog #remoteBackup,
.part .dialog #admin-password
{
	margin-top                       : 5px;
	padding                          : 5px;
	text-align                       : center;
}

.part .dialog #remoteBackup input.text-input
{
	margin-bottom                    : 2px;
	padding                          : 2px;
	width                            : 350px;
}

.part .dialog #admin-password input.text-input
{
	margin-bottom                    : 2px;
	padding                          : 2px;
}

/* system dialog --------------------------------------------------------------------------------*/
.part .system-dialog
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #CCCCCC;
	padding                          : 10px;
	width                            : 550px;
}

.part .system-dialog .message-sub
{
	border                           : 1px solid #EEEEEE;
	margin-top                       : 10px;
	padding                          : 10px;
}

.part .system-dialog .progressBar
{
	background-color                 : #000000 !important;
}

/* buttons --------------------------------------------------------------------------------------*/
#part-data-backup .button-box .button,
#part-data-restore .button-box .button,
#part-data-remove .button-box .button
{
	background-color                 : #CCCCCC;
	background-image                 : none;
	border                           : none;
	padding                          : 10px 20px 7px 20px;
}

#part-data-backup .button-box .close-button,
#part-data-restore .button-box .close-button,
#part-data-remove .button-box .close-button
{
	background-color                 : transparent;
	background-image                 : url("./image/buttonClose.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	border                           : none;
	display                          : block;
	height                           : 13px;
	padding                          : 0;
	position                         : absolute;
	right                            : 4px;
	top                              : 5px;
	width                            : 13px;
}

#part-data-backup .button-box .close-button span,
#part-data-restore .button-box .close-button span,
#part-data-remove .button-box .close-button span
{
	display                          : none !important;
}