@charset "utf-8";

/* Visitor ***************************************************************************************/

.part
{
	padding-bottom                   : 20px;
}

#data-outbox
{
	padding-top                      : 15px;
}

.data-inbox
{
	margin-top                       : 15px;
}

#statistics-counter-inbox
{
	background-color                 : #EFEFEF;
	float                            : left;
	margin                           : 15px 30px 0 30px !important;
	padding-bottom                   : 25px;
	text-align                       : center;
	width                            : 210px;
}

#statistics-counter-inbox .label
{
	display                          : block;
	font-weight                      : bold;
	margin-top                       : 18px;
	text-align                       : center;
}

#statistics-counter-inbox .divider
{
	display                          : none;
}

#total
{
	display                          : block;
	font-family                      : Georgia, "Times New Roman", Arial, Tahoma, Verdana, sans-serif;
	font-size                        : 500%;
	font-weight                      : bold;
	margin-bottom                    : 20px;
	text-align                       : center;
}

/* month ----------------------------------------------------------------------------------------*/
#statistics-month-inbox
{
	float                            : left;
	margin                           : 15px 30px 0 0 !important;
	width                            : 210px !important;
}

#statistics-month-inbox thead tr th
{
	border                           : none !important;
	text-align                       : center;
}

#statistics-month-inbox tbody tr td
{
	cursor                           : pointer;
	text-align                       : center !important;
}

#statistics-month-inbox tbody tr .date
{
	width                            : 100px;
}

/* daily ----------------------------------------------------------------------------------------*/
#statistics-day-inbox
{
	float                            : left;
	margin                           : 15px 30px 0 0 !important;
	width                            : 210px !important;
}

#statistics-day-inbox thead tr th,
#statistics-day-inbox tbody tr td
{
	border                           : none !important;
	text-align                       : center !important;
}

#statistics-day-inbox tr .date
{
	width                            : 100px;
}

/* Referer ***************************************************************************************/

/* rank -----------------------------------------------------------------------------------------*/
#part-statistics-rank table.data-inbox thead tr th
{
	border                           : none;
}

#part-statistics-rank table.data-inbox tr .number
{
	text-align                       : center;
	width                            : 50px;
}

#part-statistics-rank table.data-inbox tr .site
{
	overflow                         : hidden;
}

#part-statistics-rank table.data-inbox tbody tr td.rank
{
	text-align                       : center;
}

/* log ------------------------------------------------------------------------------------------*/
#part-statistics-log table.data-inbox thead tr th
{
	border                           : none;
}

#part-statistics-log table.data-inbox tr .date
{
	text-align                       : center;
	width                            : 100px;
}