@charset "utf-8";

/* Setting ***************************************************************************************/

#sorting-line
{
	bottom                           : -1px;
	padding-top                      : 5px;
}

#activate-status-line
{
	bottom                           : 4px;
}

/* data description */
#data-description
{
	bottom                           : -22px;
	right                            : 0;
}
