@charset "utf-8";

/* Add / Edit ************************************************************************************/

#part-link-add div.data-inbox dl dt,
#part-link-edit div.data-inbox dl dt
{
	padding-top                      : 5px;
}

#part-link-add div.data-inbox dl dd,
#part-link-edit div.data-inbox dl dd
{
	height                           : 2em;
}

/* button box -----------------------------------------------------------------------------------*/
.button-box
{
	width                            : 232px;
}
