@charset "utf-8";

/* Plugins ***************************************************************************************/

/* sorting setting ------------------------------------------------------------------------------*/
#plugin-display-box
{
	padding                          : 15px 10px 5px 10px;
	text-align                       : right;
}

#scope-line,
#sorting-line,
#activate-status-line
{
	display                          : inline;
}

#scope-line dt,
#sorting-line dt,
#activate-status-line dt
{
	display                          : none;
}

#scope-line dd,
#sorting-line dd,
#activate-status-line dd
{
	display                          : inline !important;
	float                            : none !important;
}

#ascend-sorting,
#activated-plugin
{
	margin-left                      : 40px;
}

/* list table head ------------------------------------------------------------------------------*/
#part-plugin-list table.data-inbox
{
	table-layout                     : fixed;
	width                            : 100%;
}

#part-plugin-list table.data-inbox thead tr .title
{
	width                            : 20%;
}

#part-plugin-list table.data-inbox thead tr .version
{
	width                            : 50px;
}

#part-plugin-list table.data-inbox thead tr .scope
{
	width                            : 65px;
}

#part-plugin-list table.data-inbox thead tr .maker
{
	width                            : 120px;
}

#part-plugin-list table.data-inbox thead tr .config
{
	width                            : 60px;
}

#part-plugin-list table.data-inbox thead tr .status
{
	width                            : 60px;
}

/* list table body ------------------------------------------------------------------------------*/
#part-plugin-list table.data-inbox tbody tr .config
{
	text-align                       : center;
}

#part-plugin-list table.data-inbox tbody tr td.status .active-class
{
	background-image                 : url("./image/icon_plugin.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	display                          : block;
	padding-left                     : 16px;
}

#part-plugin-list table.data-inbox tbody tr td.status .inactive-class
{
	background-image                 : url("./image/icon_plugin.gif");
	background-position              : left -1px;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	display                          : block;
	padding-left                     : 16px;
}
