@charset "utf-8";

/* Common *****************************************************************************************/

.part table.data-inbox tbody tr td.delete
{
	width                            : 12px;
}

/* Post *******************************************************************************************/

#part-post-list #search-form
{
	background-color                 : transparent !important;
	border                           : none !important;
	top                              : 58px;
}

/* Comment *****************************************************************************************/

#part-post-comment #search-form
{
	top                              : 58px;
}

/* Tree ******************************************************************************************/

#tree-preview-box .title
{
	background-position              : left center;
}
