@charset "utf-8";

/* Post ******************************************************************************************/

/* post table head ------------------------------------------------------------------------------*/
#part-post-list table.data-inbox thead tr .date
{
	width                            : 62px;
}

#part-post-list table.data-inbox thead tr .status
{
	width                            : 58px;
}

#part-post-list table.data-inbox thead tr .syndicate
{
	width                            : 18px;
}

/* post table interlayer for protect password & trackback sender --------------------------------*/
#part-post-list table.data-inbox tbody tr.hidden-layer td .password-box,
#part-post-list table.data-inbox tbody tr.hidden-layer td .trackback-box
{
	padding-right                     : 5px !important;
}

#part-post-list table.data-inbox tbody tr.hidden-layer td .button-box
{
	margin                           : 4px 2px 0 auto !important;
}

/* Comment ***************************************************************************************/

/* comment table head ---------------------------------------------------------------------------*/
#part-post-comment table.data-inbox thead tr .date
{
	width                            : 62px;
}

#part-post-comment table.data-inbox thead tr .name
{
	width                            : 145px;
}

/* Notify ****************************************************************************************/

/* notify table head ---------------------------------------------------------------------------*/
#part-post-notify table.data-inbox thead tr .date
{
	width                            : 62px;
}

#part-post-notify table.data-inbox thead tr .site
{
	width                            : 175px;
}

#part-post-notify table.data-inbox thead tr .name
{
	width                            : 145px;
}

/* Trackback *************************************************************************************/

/* trackback table head ---------------------------------------------------------------------------*/
#part-post-trackback table.data-inbox thead tr .date
{
	width                            : 62px;
}

#part-post-trackback table.data-inbox thead tr .site
{
	width                            : 175px;
}

/* Category **************************************************************************************/

/* category common ------------------------------------------------------------------------------*/
#part-post-tree .data-inbox
{
	height                           : 308px;
}

/* property -------------------------------------------------------------------------------------*/
#property-box dl
{
	padding                          : 5px 0 0 0 !important;
}

#property-box dl dt
{
	padding-top                      : 7px !important;
}

/* Trash *****************************************************************************************/

/* trash table head ---------------------------------------------------------------------------*/
#part-post-trash table.data-inbox thead tr .date
{
	width                            : 62px;
}

#part-post-trash table.data-inbox thead tr .site
{
	width                            : 175px;
}

#part-post-trash table.data-inbox thead tr .name
{
	width                            : 145px;
}
