@charset "utf-8";

/* Common ****************************************************************************************/

table.data-inbox tbody tr td .block-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

table.data-inbox tbody tr td .unblock-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left top;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 3px 3px 0 0;
	width                            : 16px;
}

table.data-inbox tbody tr td .block-icon span,
table.data-inbox tbody tr td .unblock-icon span
{
	display                          : none;
}

table.data-inbox tbody tr td .temp-icon
{
	background-image                 : url("./image/hasTemp.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 11px;
	margin                           : 1px 2px 0 0;
	width                            : 33px;
}

table.data-inbox tbody tr td .temp-icon span
{
	display                          : none;
}

table.data-inbox tbody tr td .reply-icon
{
	background-image                 : url("./image/icon_arrow_guest2.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 12px;
	margin                           : -1px 3px 0 0;
	width                            : 13px;
}

table.data-inbox tbody tr td .reply-icon span
{
	display                          : none;
}

table.data-inbox tbody tr td .new-icon
{
	background-image                 : url("./image/iconNew.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 11px;
	margin                           : 1px 2px 0 0;
	width                            : 33px;
}

table.data-inbox tbody tr td .new-icon span
{
	display                          : none;
}

/* Post ******************************************************************************************/

/* post table head ------------------------------------------------------------------------------*/
#part-post-list table.data-inbox thead tr .date
{
	width                            : 52px;
}

#part-post-list table.data-inbox thead tr .status
{
	width                            : 52px;
}

#part-post-list table.data-inbox thead tr .syndicate
{
	width                            : 18px;
}

#part-post-list table.data-inbox thead tr .syndicate span
{
	display                          : none;
}

#part-post-list table.data-inbox thead tr .protect
{
	width                            : 28px;
}

#part-post-list table.data-inbox thead tr .protect span
{
	display                          : none;
}

#part-post-list table.data-inbox thead tr .trackback
{
	width                            : 19px;
}

#part-post-list table.data-inbox thead tr .trackback span
{
	display                          : none;
}

/* post table body ------------------------------------------------------------------------------*/
#part-post-list table.data-inbox tbody tr .status
{
	padding-top                      : 2px;
}

#part-post-list table.data-inbox tbody tr .status .private-on-icon
{
	background-image                 : url("./image/icon_private.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .private-off-icon
{
	background-image                 : url("./image/icon_private.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .private-off-icon a
{
	background-image                 : url("./image/icon_private.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .private-on-icon span,
#part-post-list table.data-inbox tbody tr .status .private-off-icon span
{
	display                          : none;
}

#part-post-list table.data-inbox tbody tr .status .protected-on-icon
{
	background-image                 : url("./image/icon_protected.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .protected-off-icon
{
	background-image                 : url("./image/icon_protected.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .protected-off-icon a
{
	background-image                 : url("./image/icon_protected.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .protected-on-icon span,
#part-post-list table.data-inbox tbody tr .status .protected-off-icon span
{
	display                          : none;
}

#part-post-list table.data-inbox tbody tr .status .public-on-icon
{
	background-image                 : url("./image/icon_public.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .public-off-icon
{
	background-image                 : url("./image/icon_public.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .public-off-icon a
{
	background-image                 : url("./image/icon_public.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 15px;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .status .public-on-icon span,
#part-post-list table.data-inbox tbody tr .status .public-off-icon span
{
	display                          : none;
}

#part-post-list table.data-inbox tbody tr .syndicate
{
	padding-top                      : 2px;
	text-align                       : center;
}

#part-post-list table.data-inbox tbody tr .syndicate .syndicated-off-icon
{
	background-image                 : url("./image/icon_syndicated.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 16px;
	width                            : 16px;
}

#part-post-list table.data-inbox tbody tr .syndicate .syndicated-on-icon
{
	background-image                 : url("./image/icon_syndicated.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 16px;
	width                            : 16px;
}

#part-post-list table.data-inbox tbody tr .syndicate .syndicated-off-icon a,
#part-post-list table.data-inbox tbody tr .syndicate .syndicated-on-icon a
{
	display                          : block;
	height                           : 16px;
	width                            : 16px;
}

#part-post-list table.data-inbox tbody tr .syndicate .syndicated-off-icon span,
#part-post-list table.data-inbox tbody tr .syndicate .syndicated-on-icon span
{
	display                          : none;
}

#part-post-list table.data-inbox tbody tr .protect
{
	padding-top                      : 3px;
}

#part-post-list table.data-inbox tbody tr .protect-on-button
{
	background-color                 : transparent;
	background-image                 : url("./image/protectedInvite2.gif");
	background-position              : left bottom;
	display                          : block;
	height                           : 13px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 26px;
}

#part-post-list table.data-inbox tbody tr .protect-on-button span
{
	display                          : none;
}

#part-post-list table.data-inbox tbody tr .protect-off-button
{
	background-color                 : transparent;
	background-image                 : url("./image/protectedInvite2.gif");
	background-position              : left top;
	display                          : block;
	height                           : 13px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 26px;
}

#part-post-list table.data-inbox tbody tr .protect-off-button span
{
	display                          : none;
}

#part-post-list table.data-inbox tbody tr .trackback
{
	padding-top                      : 3px;
}

#part-post-list table.data-inbox tbody tr .trackback-on-button
{
	background-image                 : url("./image/trackback2.gif");
	background-position              : left bottom;
	display                          : block;
	height                           : 15px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .trackback-on-button span
{
	display                          : none;
}

#part-post-list table.data-inbox tbody tr .trackback-off-button
{
	background-image                 : url("./image/trackback2.gif");
	background-position              : left top;
	display                          : block;
	height                           : 15px;
	margin                           : 0 auto;
	padding                          : 0;
	width                            : 15px;
}

#part-post-list table.data-inbox tbody tr .trackback-off-button span
{
	display                          : none;
}

/* post table interlayer for protect password & trackback sender --------------------------------*/
#part-post-list table.data-inbox tbody tr.hidden-layer td
{
	border-bottom                    : 1px dotted #CCCCCC;
	padding                          : 0;
}

#part-post-list table.data-inbox tbody tr.hidden-layer td .layer-section
{
	background-color                 : #EFEFEF !important;
	margin                           : 4px;
	padding                          : 4px;
	text-align                       : right;
}

#part-post-list table.data-inbox tbody tr.hidden-layer td .password-input
{
	width                            : 67px;
}

#part-post-list table.data-inbox tbody tr.hidden-layer td .input-text
{
	width                            : 400px !important;
}

#part-post-list table.data-inbox tbody tr.hidden-layer td .button
{
	float                            : none;
	margin                           : 3px 0 0 auto;
	width                            : 66px;
}

#part-post-list table.data-inbox tbody tr.hidden-layer td .button span
{
	width                            : 62px;
}

#part-post-list table.data-inbox tbody tr.hidden-layer .trackback-log-box
{
	font-family                      : 'Courier New', monospace;
	margin                           : 5px 5px 0 0;
}

#part-post-list table.data-inbox tbody tr.hidden-layer .trackback-log-box table
{
	border-top                       : 1px dotted #CCCCCC !important;
	margin                           : 0 0 0 auto;
}

#part-post-list table.data-inbox tbody tr.hidden-layer .trackback-log-box table tr td
{
	border-bottom                    : 1px dotted #CCCCCC !important;
	border-top                       : none !important;
	padding                          : 0 7px;
}

#part-post-list table.data-inbox tbody tr.hidden-layer .trackback-log-box .remove-button
{
	background-color                 : transparent;
	background-image                 : url("./image/deleteX.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	height                           : 10px;
	margin-top                       : 2px;
	vertical-align                   : middle;
	width                            : 10px;
}

#part-post-list table.data-inbox tbody tr.hidden-layer .trackback-log-box .remove-button span
{
	display                          : none;
}

#part-post-list div.data-subbox select .delete option
{
	color                            : #FF0000;
}

/* Comment ***************************************************************************************/

/* comment table head ---------------------------------------------------------------------------*/
#part-post-comment table.data-inbox thead tr .date
{
	width                            : 52px;
}

#part-post-comment table.data-inbox thead tr .name
{
	width                            : 140px;
}

#part-post-comment table.data-inbox thead tr .ip
{
	width                            : 120px;
}

/* comment table body ---------------------------------------------------------------------------*/
#part-post-comment table.data-inbox tbody tr td.content .entry-title
{
	font-weight                      : bold;
}

/* Notify ****************************************************************************************/

/* notify table head ---------------------------------------------------------------------------*/
#part-post-notify table.data-inbox thead tr .date
{
	width                            : 52px;
}

#part-post-notify table.data-inbox thead tr .site
{
	width                            : 170px;
}

#part-post-notify table.data-inbox thead tr .name
{
	width                            : 140px;
}

/* notify table body ----------------------------------------------------------------------------*/
#part-post-notify table.data-inbox tbody tr td.content .entry-title
{
	font-weight                      : bold;
}

/* Trackback *************************************************************************************/

/* trackback table head -------------------------------------------------------------------------*/
#part-post-trackback table.data-inbox thead tr .date
{
	width                            : 52px;
}

#part-post-trackback table.data-inbox thead tr .site
{
	width                            : 170px;
}

#part-post-trackback table.data-inbox thead tr .ip
{
	width                            : 120px;
}

/* trackback table body -----------------------------------------------------------------------*/
#part-post-trackback table.data-inbox tbody tr td
{
	padding-bottom                   : 5px;
	padding-top                      : 5px;
}

#part-post-trackback table.data-inbox tbody tr td.content .entry-title
{
	font-weight                      : bold;
}

/* Category **************************************************************************************/

/* category common ------------------------------------------------------------------------------*/
#part-post-tree .data-inbox
{
	min-height                       : 308px;
	position                         : relative;
}

/* tree -----------------------------------------------------------------------------------------*/
#tree-preview-box .title
{
	display                          : none;
}

#treePreview
{
	left                             : 15px;
	position                         : absolute;
	top                              : 15px;
	background-color                 : #FFFFFF;
	border                           : 1px solid #CCCCCC;
	height                           : 280px;
	overflow                         : auto;
	padding                          : 10px;
	width                            : 280px;
}

/* property -------------------------------------------------------------------------------------*/
#property-box
{
	margin                           : 5px 0 0 330px;
	padding-right                    : 15px !important;
}

#property-box dl
{
	border-top                       : 1px dotted #CCCCCC;
	padding                          : 5px 0 6px 0;
}

#label-create-line
{
	border-top                       : none !important;
}

#property-box dl dt
{
	padding-top                      : 6px;
}

#property-box dl dd .field-box
{
	height                           : 2.1em;
	padding-top                      : 1px;
}

#property-box dl dd .input-text
{
	vertical-align                   : middle;
	width                            : 150px;
}

#property-box dl dd p
{
	padding                          : 5px 0;
}

#property-box dl dd .add-button,
#property-box dl dd .save-button,
#property-box dl dd .remove-button
{
	vertical-align                   : middle;
	width                            : 85px;
}

#property-box dl dd .up-button,
#property-box dl dd .down-button
{
	margin-right                     : 4px;
	vertical-align                   : middle;
}

#property-box dl dd .divider
{
	display                          : none;
}
#body-id-line p
{
	line-height                      : 1.5em;
	margin                           : 5px 0;
	width                            : 330px;
}

/* Trash *****************************************************************************************/

/* sorting setting ------------------------------------------------------------------------------*/
#trash-form
{
	margin                           : -27px 0 12px auto;
}

#trash-form fieldset
{
	text-align                       : right;
}

#trash-type-line dt
{
	display                          : none;
}

#trash-type-line dd
{
	float                            : none !important;
}

#trash-type-line dd div
{
	display                          : inline;
}

#track-radio-trackback
{
	margin-left                      : 20px;
}

/* trash table head ---------------------------------------------------------------------------*/
#part-post-trash table.data-inbox thead tr .date
{
	width                            : 52px;
}

#part-post-trash table.data-inbox thead tr .site
{
	width                            : 170px;
}

#part-post-trash table.data-inbox thead tr .name
{
	width                            : 140px;
}

#part-post-trash table.data-inbox thead tr .ip
{
	width                            : 95px;
}

/* trash table body -----------------------------------------------------------------------------*/

#part-post-trash table.data-inbox tbody tr td
{
	padding-bottom                   : 5px;
	padding-top                      : 5px;
}

#part-post-trash table.data-inbox tbody tr td .block-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

#part-post-trash table.data-inbox tbody tr td .unblock-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left top;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 3px 3px 0 0;
	width                            : 16px;
}

#part-post-trash table.data-inbox tbody tr td .block-icon span,
#part-post-trash table.data-inbox tbody tr td .unblock-icon span
{
	display                          : none;
}

#part-post-trash table.data-inbox tbody tr td.content .entry-title
{
	font-weight                      : bold;
}

/* data description */
#data-description
{
	text-align                       : right;
}

#data-description dl
{
	display                          : none;
}
