@namespace url(http://www.w3.org/1999/xhtml) !important; /* set default namespace to HTML */

/* blocks */

#entryBody div,
#entryBody map,
#entryBody dt,
#entryBody isindex,
#entryBody form
{
	display: block !important;
}

#entryBody p,
#entryBody dl
{
	display: block !important;
	margin: 1em 0 !important;
}

#entryBody dd
{
	display: block !important;
	margin-left: 40px !important;
}

#entryBody blockquote
{
	display: block !important;
	margin: 1em 40px !important;
}

#entryBody address
{
	display: block !important;
	font-style: italic !important;
}

#entryBody center
{
	display: block !important;
	text-align: center !important;
}

#entryBody blockquote
{
	display: block !important;
	margin: 1em 0px !important;
	padding-left: 1em !important;
	border-left: solid !important;
	border-color: blue !important;
	border-width: thin !important;
}

#entryBody h1
{
	display: block !important;
	font-size: 2em !important;
	font-weight: bold !important;
	margin: .67em 0 !important;
}

#entryBody h2
{
	display: block !important;
	font-size: 1.5em !important;
	font-weight: bold !important;
	margin: .83em 0 !important;
}

#entryBody h3
{
	display: block !important;
	font-size: 1.17em !important;
	font-weight: bold !important;
	margin: 1em 0 !important;
}

#entryBody h4
{
	display: block !important;
	font-weight: bold !important;
	margin: 1.33em 0 !important;
}

#entryBody h5
{
	display: block !important;
	font-size: 0.83em !important;
	font-weight: bold !important;
	margin: 1.67em 0 !important;
}

#entryBody h6
{
	display: block !important;
	font-size: 0.67em !important;
	font-weight: bold !important;
	margin: 2.33em 0 !important;
}

#entryBody xmp,
#entryBody pre,
#entryBody plaintext
{
	display: block !important;
	white-space: pre !important;
	margin: 1em 1.5em !important;
}

/* tables */

#entryBody table
{
	display: table !important;
	border-spacing: 2px !important;
	border-collapse: separate !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	text-indent: 0 !important;
}

#entryBody table[align="left"]
{
	float: left !important;
}

#entryBody table[align="right"]
{
	float: right !important;
}

#entryBody table[rules]:not([rules="none"])
{
	border-collapse: collapse !important;
}
	 
/* caption inherits from table not table-outer */  
#entryBody caption
{
	display: table-caption !important;
	text-align: center !important;
}

#entryBody table[align="center"] > caption
{
	margin-left: auto !important;
	margin-right: auto !important;
}

#entryBody table[align="center"] > caption[align="left"]
{
	margin-right: 0 !important;
}

#entryBody table[align="center"] > caption[align="right"]
{
	margin-left: 0 !important;
}

#entryBody tr
{
	display: table-row !important;
	vertical-align: inherit !important;
}

#entryBody col
{
	display: table-column !important;
}

#entryBody colgroup
{
	display: table-column-group !important;
}

#entryBody tbody
{
	display: table-row-group !important;
	vertical-align: middle !important;
}

#entryBody thead
{
	display: table-header-group !important;
	vertical-align: middle !important;
}

#entryBody tfoot
{
	display: table-footer-group !important;
	vertical-align: middle !important;
}

/* for XHTML tables without tbody */
#entryBody table > tr
{
	vertical-align: middle !important;
}

#entryBody td
{ 
	display: table-cell !important;
	vertical-align: inherit !important;
	text-align: inherit !important; 
	padding: 1px !important;
}

#entryBody th
{
	display: table-cell !important;
	vertical-align: inherit !important;
	font-weight: bold !important;
	padding: 1px !important;
}

/* inlines */

#entryBody q:before
{
	content: open-quote !important;
}

#entryBody q:after
{
	content: close-quote !important;
}

#entryBody b,
#entryBody strong
{
	font-weight: bolder !important;
}

#entryBody i,
#entryBody cite,
#entryBody em,
#entryBody var,
#entryBody dfn
{
	font-style: italic !important;
}

#entryBody u,
#entryBody ins
{
	text-decoration: underline !important;
}

#entryBody s,
#entryBody strike,
#entryBody del
{
	text-decoration: line-through !important;
}

#entryBody blink
{
	text-decoration: blink !important;
}

#entryBody big
{
	font-size: larger !important;
}

#entryBody small
{
	font-size: smaller !important;
}

#entryBody sub
{
	vertical-align: sub !important;
	font-size: smaller !important;
	line-height: normal !important;
}

#entryBody sup
{
	vertical-align: super !important;
	font-size: smaller !important;
	line-height: normal !important;
}

#entryBody nobr
{
	white-space: nowrap !important;
}

/* titles */
#entryBody abbr[title],
#entryBody acronym[title]
{
	border-bottom: dotted 1px !important;
}

/* lists */

#entryBody ul,
#entryBody dir
{
	display: block !important;
	list-style-type: disc !important;
	margin: 1em 0 !important;
}

#entryBody ol
{
	display: block !important;
	list-style-type: decimal !important;
	margin: 1em 0 !important;
}

#entryBody li
{
	display: list-item !important;
	list-style-type: disc !important;
	margin-left: 20px;
}

/* nested lists have no top/bottom margins */
#entryBody dir dir,
#entryBody dir dl,
#entryBody dir ol,
#entryBody dir ul,
#entryBody dl dir,
#entryBody dl dl,
#entryBody dl ol,
#entryBody dl ul,
#entryBody ol dir,
#entryBody ol dl,
#entryBody ol ol,
#entryBody ol ul,
#entryBody ul dir,
#entryBody ul dl,
#entryBody ul ol,
#entryBody ul ul
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/* 2 deep unordered lists use a circle */
#entryBody dir dir,
#entryBody dir ul,
#entryBody ol dir,
#entryBody ol ul,
#entryBody ul dir,
#entryBody ul ul
{
	list-style-type: circle !important;
}

/* 3 deep (or more) unordered lists use a square */
#entryBody dir dir dir,
#entryBody dir dir ul,
#entryBody dir ol dir,
#entryBody dir ol ul,
#entryBody dir ul dir,
#entryBody dir ul ul,
#entryBody ol dir dir,
#entryBody ol dir ul,
#entryBody ol ol dir,
#entryBody ol ol ul,
#entryBody ol ul dir,
#entryBody ol ul ul,
#entryBody ul dir dir,
#entryBody ul dir ul,
#entryBody ul ol dir,
#entryBody ul ol ul,
#entryBody ul ul dir,
#entryBody ul ul ul
{
	list-style-type: square !important;
}


/* leafs */

/* <hr> noshade and color attributes are handled completely by
 * the nsHTMLHRElement attribute mapping code
 */
#entryBody hr
{
	display: block !important;
	height: 2px !important;
	margin: 0.5em auto 0.5em auto !important;
}

#entryBody img[usemap],
#entryBody object[usemap]
{
	border: 2px solid !important;
}

#entryBody img[usemap],
#entryBody object[usemap]
{
	cursor: pointer !important;
	color: blue !important;
}

#entryBody frameset
{
	display: block !important;
	position: static !important;
	float: none !important;
	border: none !important;
}

#entryBody frame
{
	border: none !important;
}

#entryBody iframe
{
	border: 2px inset !important;
}

#entryBody noframes
{
	display: none !important;
}

#entryBody spacer
{
	position: static !important;
	float: none !important;
}

/* focusable content: anything w/ tabindex >=0 is focusable */
#entryBody abbr:focus,
#entryBody acronym:focus,
#entryBody address:focus,
#entryBody applet:focus,
#entryBody b:focus,

#entryBody base:focus,
#entryBody big:focus,
#entryBody blockquote:focus,
#entryBody br:focus,
#entryBody canvas:focus,
#entryBody caption:focus,
#entryBody center:focus,
#entryBody cite:focus,
#entryBody code:focus,
#entryBody col:focus,
#entryBody colgroup:focus,
#entryBody dd:focus,
#entryBody del:focus,
#entryBody dfn:focus,
#entryBody dir:focus,
#entryBody div:focus,
#entryBody dl:focus,
#entryBody dt:focus,
#entryBody em:focus,
#entryBody fieldset:focus,
#entryBody font:focus,
#entryBody form:focus,
#entryBody h1:focus,
#entryBody h2:focus,
#entryBody h3:focus,
#entryBody h4:focus,
#entryBody h5:focus,
#entryBody h6:focus,
#entryBody hr:focus,
#entryBody i:focus,
#entryBody img:focus,
#entryBody ins:focus,

#entryBody kbd:focus,
#entryBody label:focus,
#entryBody legend:focus,
#entryBody li:focus,
#entryBody link:focus,
#entryBody menu:focus,

#entryBody object:focus,
#entryBody ol:focus,
#entryBody p:focus,
#entryBody pre:focus,
#entryBody q:focus,
#entryBody s:focus,
#entryBody samp:focus,

#entryBody small:focus,
#entryBody span:focus,
#entryBody strike:focus,
#entryBody strong:focus,
#entryBody sub:focus,
#entryBody sup:focus,

#entryBody table:focus,
#entryBody tbody:focus,
#entryBody td:focus,
#entryBody tfoot:focus,
#entryBody th:focus,
#entryBody thead:focus,

#entryBody tr:focus,
#entryBody tt:focus,
#entryBody u:focus,
#entryBody ul:focus,
#entryBody var:focus
{
	 outline: 1px dotted invert !important;
}

/* hidden elements */
#entryBody area,
#entryBody param
{
	 display: none !important;
}

/* emulation of non-standard HTML <marquee> tag */
#entryBody marquee
{
	display: block !important;
}
