@charset "utf-8";

/* Login *****************************************************************************************/

dt
{
	padding-bottom                   : 0;
}

.login-button
{
	height                           : 3em;
	line-height                      : 3em;
	right                            : 10px;
}