@charset "utf-8";

/* common ---------------------------------------------------------------------------------------*/


.part .caption
{
	margin-bottom                    : 10px;
}

/* Dashboard *************************************************************************************/

#part-center-dashboard
{
	height                           : 480px;
	position                         : relative;
}

#part-center-dashboard .section h3
{
	background-color                 : #009DEA;
	background-image                 : url("./image/table-head.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	color                            : #FFFFFF;
	display                          : block !important;
	font-size                        : 1em;
	margin-bottom                    : 10px;
	height                           : 32px;
	line-height                      : 34px;
	padding-left                     : 25px;
}

/* shortcut */
#shortcut-collection
{
	position                         : absolute;
	left                             : 10px;
	top                              : 40px;
	width                            : 300px;
}

#shortcut-collection h3
{
	background-image                 : url("./image/bg_dashboard_header.png");
	height                           : 32px;
}

#shortcut-collection ul li
{
	background-image                 : url("./image/icon_newPost.gif");
	background-position              : 15px center;
	background-repeat                : no-repeat;
	border-bottom                    : 1px solid #EEEEEE;
	padding                          : 6px 10px 5px 32px;
	text-align                       : left;
}

/* total information */
#total-information
{
	position                         : absolute;
	left                             : 10px;
	top                              : 300px;
	width                            : 300px;
}

#total-information h3
{
	background-image                 : url("./image/bg_dashboard_header.png");
	height                           : 32px;
}

#total-information table
{
	width                            : 300px;
}

#total-information table tbody tr th
{
	border-bottom                    : 1px solid #EEEEEE;
	font-weight                      : normal;
	height                           : 30px;
	text-align                       : center;
	width                            : 50%;
}

#total-information table tbody tr td
{
	border-bottom                    : 1px solid #EEEEEE;
	border-left                      : 1px solid #EEEEEE;
	height                           : 24px;
	padding-right                    : 10px;
	text-align                       : right;
}

/* notice */
#textcube-notice
{
	margin-left                      : 330px;
	width                            : 620px;
}

#textcube-notice h3
{
	background-image                 : url("./image/bg_dashboard_header2.png");
	height                           : 32px;
}

#textcube-notice table
{
	margin                           : 0 0 25px 0;
	width                            : 620px;
}

#textcube-notice table tbody tr td
{
	border-bottom                    : 1px solid #EEEEEE;
	height                           : 28px;
	padding-left                     : 10px;
	text-align                       : left;
}

#textcube-notice table tbody tr td.date
{
	font-family                      : Verdana, Tahoma, Arial, "Lucida Grande", sans-serif;
	font-size                        : 0.8em;
	padding-right                    : 10px;
	text-align                       : right;
}

#cite
{
	font-size                        : 0.93em;
	text-align                       : right;
	padding-right                    : 10px;
}

#cite a
{
	font-weight                      : bold;
}

/* quilt */
#part-center-quilt .panel,
#part-center-quilt-edit .panel
{
	float                            : left;
	margin-left                      : 10px;
	min-height                       : 100px;
	width                            : 300px;
}

#part-center-quilt .button-box,
#part-center-quilt-edit .button-box
{
	border-top                       : 1px solid #DDDDDD;
	clear                            : both;
	padding                          : 15px 0;
}

#part-center-quilt .button-box .input-button,
#part-center-quilt-edit .button-box .input-button
{
	background-color                 : #FFFFFF;
	background-image                 : none !important;
	font-weight                      : bold;
	height                           : 30px;
}

#dojo_boardbar1,
#dojo_boardbar2
{
	margin-left                      : 20px !important;
}

#part-center-quilt .section,
#part-center-quilt-edit .section,
.ajax-floating-panel
{
	font-size                        : 12px;
	margin-bottom                    : 15px;
}

#part-center-quilt-edit .section,
.ajax-floating-panel
{
	cursor                           : pointer;
}

#part-center-quilt .section h3,
#part-center-quilt-edit .section h3,
.ajax-floating-panel h3
{
	background-color                 : #009DEA;
	background-image                 : url("./image/table-head.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	color                            : #FFFFFF;
	display                          : block !important;
	font-size                        : 1em;
	margin-bottom                    : 10px;
	padding                          : 5px;
}

#part-center-quilt .section h4,
#part-center-quilt .section h5,
#part-center-quilt .section h6,
#part-center-quilt-edit .section h4,
#part-center-quilt-edit .section h5,
#part-center-quilt-edit .section h6,
.ajax-floating-panel h4,
.ajax-floating-panel h5,
.ajax-floating-panel h6
{
	font-size                        : 1em;
}

#part-center-quilt .section ol,
#part-center-quilt .section ul,
#part-center-quilt-edit .section ol,
#part-center-quilt-edit .section ul,
.ajax-floating-panel ol,
.ajax-floating-panel ul
{
	width                            : 300px;
}

#part-center-quilt .section ol li,
#part-center-quilt .section ul li,
#part-center-quilt-edit .section ol li,
#part-center-quilt-edit .section ul li,
.ajax-floating-panel ol li,
.ajax-floating-panel ul li
{
	border-bottom                    : 1px solid #EEEEEE;
	padding                          : 7px 10px 5px 15px;
	text-align                       : left;
}

#part-center-quilt .section table,
#part-center-quilt-edit .section table,
.ajax-floating-panel table
{
	margin                           : 0 12px 25px 0;
	width                            : 300px;
}

#part-center-quilt .section table tbody tr td,
#part-center-quilt-edit .section table tbody tr td,
.ajax-floating-panel table tbody tr td
{
	border-bottom                    : 1px solid #EEEEEE;
	border-top                       : 1px solid #EEEEEE;
	height                           : 28px;
	padding-left                     : 10px;
	text-align                       : left;
}


/* Setting ****************************************************************************************/

#part-center-plugins
{
	padding-bottom                   : 35px;
	position                         : relative;
}

#part-center-plugins .main-explain-box
{
	margin-bottom                    : 30px;
}

#part-center-plugins fieldset
{
	background-image                 : none;
	border                           : none;
	margin-bottom                    : 0;
	padding-right                    : 10px;
}

#part-center-plugins fieldset .checkbox,
#part-center-plugins fieldset .radio
{
	margin-left                      : 5px;
}


#independent-notice-line dd
{
	text-align                       : right;
}

#sorting-line
{
	background-color                 : #EEEEEE;
	border-top                       : 1px solid #BBBBBB;
	bottom                           : 0;
	left                             : 0;
	padding                          : 5px 0;
	position                         : absolute;
	width                            : 100%;
}

#activate-status-line
{
	bottom                           : 5px;
	position                         : absolute;
	right                            : 20px;
	z-index                          : 100;
}

#part-center-plugins fieldset dl dt
{
	display                          : none;
}

#part-center-plugins fieldset dl dd
{
	margin-left                      : 0;
}


/* table head */
#part-center-plugins table.data-inbox tbody tr .title
{
	width                            : 170px;
}

#part-center-plugins table.data-inbox tbody tr .version
{
	border                           : 1px solid #E3E3DE;
	width                            : 60px;
}

#part-center-plugins table.data-inbox tbody tr .explain
{
	border                           : 1px solid #E3E3DE;
}

#part-center-plugins table.data-inbox tbody tr .maker
{
	border                           : 1px solid #E3E3DE;
	width                            : 100px;
}

#part-center-plugins table.data-inbox tbody tr .config
{
	border                           : 1px solid #E3E3DE;
	width                            : 100px;
}

#part-center-plugins table.data-inbox tbody tr .status
{
	border                           : 1px solid #E3E3DE;
	width                            : 70px;
}

/* table body */
#part-center-plugins table.data-inbox tbody tr td.title
{
	background-position              : right bottom;
}

#part-center-plugins table.data-inbox tbody tr td.title,
#part-center-plugins table.data-inbox tbody tr td.version,
#part-center-plugins table.data-inbox tbody tr td.scope,
#part-center-plugins table.data-inbox tbody tr td.explain,
#part-center-plugins table.data-inbox tbody tr td.maker
{
	text-align                       : left;
}


/* plugin icons */
#part-center-plugins table.data-inbox tbody tr td.config a
{
	background-image                 : url("./image/icon_config_on.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	color                            : #5A8FC9;
	cursor                           : pointer;
	margin                           : 0 auto;
	padding                          : 1px 0 1px 22px;
}

#part-center-plugins table.data-inbox tbody tr td.config span
{
	background-image                 : url("./image/icon_config_off.gif");
	background-position              : left center;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	margin                           : 0 auto;
	padding                          : 1px 0 1px 22px;
}

#part-center-plugins table.data-inbox tbody tr td.status a
{
	background-position              : left center;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	margin                           : 0 auto;
	padding                          : 1px 0 1px 14px;
}

#part-center-plugins table.data-inbox tbody tr.active-class td.status a
{
	background-image                 : url("./image/icon_plugin_on.gif");
	color                            : #5A8FC9;
}

#part-center-plugins table.data-inbox tbody tr.inactive-class td.status a
{
	background-image                 : url("./image/icon_plugin_off.gif");
}

/* data description */
#data-description
{
	bottom                           : -23px;
	right                            : 5px;
	position                         : absolute;
}

#data-description dl
{
	background-repeat                : no-repeat;
	display                          : inline;
	font-family                      : µ¸¿ò, Dotum, sans-serif;
	font-size                        : 0.93em;
	font-weight                      : normal;
	letter-spacing                   : -1px;
	padding                          : 3px 0 1px 17px;
}

#data-description dl dt
{
	display                          : none;
}

#data-description dl dd
{
	display                          : inline;

	margin                           : 0;
	padding-right                    : 10px;
	position                         : static;
}

#data-description dl.title-description,
#data-description dl.version-description,
#data-description dl.kind-description,
#data-description dl.explain-description,
#data-description dl.author-description,
#data-description dl.setting-description,
#data-description dl.status-description
{
	display                          : none;
}

#part-plugin-more
{
	margin                           : 40px 0 100px 0;
}

/* About****************************************************************************************/

#part-center-about p
{
	padding-left                     : 15px;
}

#part-center-about .section
{
	margin-bottom                    : 5px;
	padding                          : 15px;
}

#part-center-about .section h3
{
	display                          : block;
}

#part-center-about .section .container
{
	margin                           : 5px 10px;
}

#part-center-about .section .container h4
{
	margin-bottom                    : 5px;
}

#part-center-about .section .container table thead
{
	display                          : none;
}

#part-center-about .section .container table colgroup col.name
{
	width                            : 100px;
}

/* Credit ****************************************************************************************/

#part-center-about
{
	position                         : relative;
}

#part-center-about h3
{
	background-image                 : url("./image/img_textcube_dashboard.png");
	background-position              : -8px top;
	background-repeat                : no-repeat;
	font-family                      : Tahoma, "Lucida Grande", Verdana, sans-serif;
	padding-top                      : 55px;
	margin                           : 30px 0 5px 30px;
}

#part-center-about .main-explain-box {
	background-color                 : #FFFFFF;
}

#part-center-about .main-explain-box p
{
	margin-left                      : 10px;
	background-color                 : #FFFFFF;
}

#part-center-about .main-explain-box p em
{
	border                           : 1px solid #DDDDDD;
	color                            : #646464;     
	display                          : block;
	margin-top                       : 20px;
	padding                          : 5px;
	text-align                       : center;
	width                            : 350px;
}

#developer-description
{
	margin-left                      : 10px;
}

#part-center-about .section h3
{
	display                          : none;
}

#part-center-about table
{
	border-top                       : 1px solid #D2D2CC;
}

#part-center-about table thead tr
{
	background-color                 : #F3F3F1;
	background-image                 : url("./image/bg_thead.png");
	background-position              : left bottom;
	background-repeat                : repeat-x;
}

#part-center-about table thead tr th
{
	color                            : #333333;
	font-weight                      : normal;
	padding                          : 8px;
	text-align                       : center;
}

#part-center-about table tbody tr td
{
	background-image                 : url("./image/bg_tbody.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	padding                          : 8px;
	text-align                       : center;
	/*vertical-align                   : top;*/
}

#part-center-about table tbody tr td.selection
{
	background-position              : right bottom;
}

#part-center-about .section .container table tbody tr td.name,
#part-center-about .section .container table tbody tr td.id
{
	width                            : 100px;
}

#maintainer-container
{
	position                         : absolute;
	right                            : 5px;
	top                              : 0;
}

#internationalization-container
{
	position                         : absolute;
	right                            : 5px;
	top                              : 219px;
}

#support-container
{
	position                         : absolute;
	right                            : 5px;
	top                              : 465px;
}

#maintainer-container table,
#internationalization-container table,
#support-container table
{
	width                            : 320px;
}

#maintainer-container table tr td.id a,
#developer-container table tr td.id a,
#internationalization-container table tr td.id a,
#support-container table tr td.id a
{
	font-weight                      : bold;

}

#developer-container table tr td.id span,
#internationalization-container table tr td.id span
{
	font-weight                      : bold;
}

#developer-description .container h4
{
	color                            : #000000;
	font-family                      : Arial, Tahoma, "Lucida Grande", Verdana, sans-serif;
	font-size                        : 1.2em;
	font-weight                      : normal;
	margin                           : 50px 0 3px 15px;
}

#developer-description .container table tbody tr td
{
	background-position              : right bottom;
	padding-left                     : 20px;
	text-align                       : left;
}

#developer-container table
{
	width                            : 610px;
}

#supporter-description h3
{
	background-color                 : #009DEA;
	background-image                 : url("./image/table-head.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	clear                            : both;
	color                            : #FFFFFF;
	display                          : block !important;
	height                           : 2.5em;
	font-size                        : 1em;
	font-weight                      : normal;
	line-height                      : 2.8em;
	margin                           : 30px 0 10px 0;
	overflow                         : hidden;
	padding                          : 0 0 0 35px;
}

#supporter-description h3 span
{
	background-color                 : #009DEA;
	background-image                 : url("./image/table-head.gif");
	background-position              : right top;
	background-repeat                : repeat-x;
	display                          : block;
	height                           : 2.5em;
	line-height                      : 2.7em;
}

#supporter-description .container
{
	margin-left                      : 10px;
}

#supporter-description .container h4
{
	color                            : #000000;
	font-family                      : Arial, Tahoma, "Lucida Grande", Verdana, sans-serif;
	font-size                        : 1.2em;
	font-weight                      : normal;
	margin                           : 20px 0 3px 10px;
}

#supporter-description .container p
{
	margin                           : 10px 0 10px 10px;
}