@charset "utf-8";

/* Notice ****************************************************************************************/

/* notice table head ----------------------------------------------------------------------------*/
#part-notice-list table.data-inbox thead tr .status
{
	width                            : 34px;
}

/* notice table body ----------------------------------------------------------------------------*/
#part-notice-list table.data-inbox tbody tr .status
{
	padding-top                      : 2px;
}

#part-notice-list table.data-inbox tbody tr .status .private-on-icon
{
	background-image                 : url("./image/icon_private.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-notice-list table.data-inbox tbody tr .status .private-off-icon
{
	background-image                 : url("./image/icon_private.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-notice-list table.data-inbox tbody tr .status .private-off-icon a
{
	background-image                 : url("./image/icon_private.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	width                            : 15px;
}

#part-notice-list table.data-inbox tbody tr .status .private-on-icon span,
#part-notice-list table.data-inbox tbody tr .status .private-off-icon span
{
	display                          : none;
}

#part-notice-list table.data-inbox tbody tr .status .public-on-icon
{
	background-image                 : url("./image/icon_public.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-notice-list table.data-inbox tbody tr .status .public-off-icon
{
	background-image                 : url("./image/icon_public.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 15px;
	margin-right                     : 2px;
	width                            : 15px;
}

#part-notice-list table.data-inbox tbody tr .status .public-off-icon a
{
	background-image                 : url("./image/icon_public.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 15px;
	width                            : 15px;
}

#part-notice-list table.data-inbox tbody tr .status .public-on-icon span,
#part-notice-list table.data-inbox tbody tr .status .public-off-icon span
{
	display                          : none;
}

#part-notice-list table.data-inbox tbody tr .syndicate
{
	padding-top                      : 2px;
	text-align                       : center;
}

#part-notice-list table.data-inbox tbody tr .title .temp-icon
{
	background-image                 : url("./image/hasTemp.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	float                            : left;
	height                           : 11px;
	margin-right                     : 2px;
	width                            : 33px;
}

#part-notice-list table.data-inbox tbody tr .title .temp-icon span
{
	display                          : none;
}