@charset "utf-8";

/* Select ****************************************************************************************/

#part-skin-list .section,
#part-skin-current .section
{
	border                           : 1px solid #FFFFFF;
}

#skin-search-form .input-button
{
    line-height                      : 1.6em !important;
}

/* Edit ******************************************************************************************/

#part-skin-edit .section ul
{
	height                           : 401px;
	width                            : 120px;
}

#part-skin-edit textarea
{
	font-family                      : 'courier new', courier, monospace;
}

#part-skin-edit .section .button-box .input-button
{
	font-size                        : 0.9em;
	line-height                      : 1.6em !important;
}

/* Setting ***************************************************************************************/

#part-skin-setting fieldset
{
	padding-top                      : 2px;
}

#part-skin-setting .button-box .input-button
{
	padding                          : 2px 0 0 0 !important;
}

/* Tree -----------------------------------------------------------------------------------------*/

#part-skin-tree .section .button-box .input-button
{
	padding                          : 2px 0 0 0 !important;
}

#count-display-line dd
{
	padding-top                      : 7px !important;
}

/* Sidebar ***************************************************************************************/

#part-sidebar-order
{
	background-position              : 308px 135px;	
}

#sidebar-preview-mode
{
	margin                           : 30px 10px 13px 10px;
}

#sidebar-box
{
	margin-right                     : 3px !important;
	width                            : 603px;
}

#sidebar-box .section ul.sidebar
{
	height                       : 200px;
}

#sidebar-element-box
{
	margin-left                      : 5px;
}

#sidebar-element-box fieldset ul.module-list
{
	height                           : 418px;
	overflow-y                       : scroll;
}

#sidebar-element-box fieldset ul li.sidebar-module
{
	width                            : auto;
}

#sidebar-description
{
	padding-top                      : 0 !important;
}

/* classes for AJAX *******************************************************************************/

.ajax-popup-window .button-box .input-button
{
	padding-top                      : 2px !important;
}
