@charset "utf-8";

/* Center ****************************************************************************************/

/* common ---------------------------------------------------------------------------------------*/

#pseudo-box
{
	position                         : static;
}

#part-center-dashboard .section
{
	border                           : 2px solid #CDCDCD;
	float                            : left;
	margin-right                     : 15px;
	padding                          : 5px;
	width                            : 250px;
}

#part-center-dashboard .section h3
{
	background-color                 : #009DEA;
	background-image                 : url("./image/table-head.gif");
	background-position              : left top;
	background-repeat                : repeat-x;
	color                            : #FFFFFF;
	display                          : block !important;
	font-size                        : 1em;
	margin-bottom                    : 10px;
	padding                          : 5px;
}

#part-center-dashboard .section ul,
#part-center-dashboard .section ul li
{
	list-style-type                  : disc;
}

#part-center-dashboard .section ul li
{
	margin-left                      : 20px;
	text-align                       : left;
}

#part-center-dashboard .section ul li a:link,
#part-center-dashboard .section ul li a:visited
{
	color                            : #5A8FC9;
	text-decoration                  : none;
}

#part-center-dashboard .section ul li a:hover,
#part-center-dashboard .section ul li a:active
{
	text-decoration                  : underline;
}

#part-center-dashboard .section ul li .name,
#part-center-dashboard .section ul li .date
{
	font-size                        : 0.95em;
}

/* Plugin ****************************************************************************************/

/* sorting setting ------------------------------------------------------------------------------*/
#plugin-display-box
{
	padding                          : 15px 10px 5px 10px;
	text-align                       : right;
}

#scope-line,
#sorting-line,
#activate-status-line
{
	display                          : inline;
}

#scope-line dt,
#sorting-line dt,
#activate-status-line dt
{
	display                          : none;
}

#scope-line dd,
#sorting-line dd,
#activate-status-line dd
{
	display                          : inline !important;
	float                            : none !important;
}

#activated-plugin
{
	margin-left                      : 40px;
}

/* list table body ------------------------------------------------------------------------------*/
#part-center-plugins table.data-inbox tbody tr td.status .active-class
{
	background-image                 : url("./image/icon_plugin.gif");
	background-position              : left bottom;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	display                          : block;
	padding-left                     : 16px;
}

#part-center-plugins table.data-inbox tbody tr td.status .inactive-class
{
	background-image                 : url("./image/icon_plugin.gif");
	background-position              : left -1px;
	background-repeat                : no-repeat;
	cursor                           : pointer;
	display                          : block;
	padding-left                     : 16px;
}

/* About****************************************************************************************/

#part-center-about p
{
	padding-left                     : 15px;
}

#part-center-about .section
{
	border                           : 2px solid #CDCDCD;
	margin-bottom                    : 5px;
	padding                          : 15px;
}

#part-center-about .section h3
{
	display                          : block;
}

#part-center-about .section .container
{
	margin                           : 5px 10px;
}

#part-center-about .section .container h4
{
	margin-bottom                    : 5px;
}

#part-center-about .section .container table thead
{
	display                          : none;
}

#part-center-about .section .container table colgroup col.name
{
	width                            : 100px;
}