@charset "utf-8";

/* Basic */
*
{
	margin                           : 0;
	padding                          : 0;
}

/* Layout */
#temp-wrap
{
	width                            : 100%;
}

#all-wrap
{
	font-size                        : 0.925em;
	text-align                       : justify;
}

/* Layout Header **********************************************************************************/

#layout-header
{
	width:200px;
	float:left;
}


/* main menu */
#main-menu-box
{
	width                            : 200px;
}

#main-menu
{
	width: 100%;
}

#main-menu li
{
}
#main-menu li ul.sub-menu
{
	display:none;	
}

#main-menu li.selected ul.sub-menu
{
	display:block !important;
}


/* Layout Body ***********************************************************************************/

#sub-menu-box
{
	display:none;
}

#layout-body
{
	padding-left:210px;
}