@charset "utf-8";

/* Login *****************************************************************************************/

.input-button
{
	height                           : 3em;
	line-height                      : 3em;
}

.input-text
{
	background-color: #f8f8f8;
}
