@charset "utf-8";

/* Common ****************************************************************************************/

body
{
	background-color                 : #FFFFFF;
	font-family                      : 'courier new', 'courier', monospace;
	font-size                        : 12px;
}
