@charset "utf-8";

/* Plugin */

#sorting-line-align
{
	right                            : 20px;
	text-align: right;
	width: 300px;
}

#temp-box
{
	height: 15em;
}

/* Plugin List */

#part-plugin-list ul.data-inbox li .summary .plugin-buttons
{
	font-family: Dotum, 'Lucida Grande', Tahoma, sans-serif;
	letter-spacing: -1px;
	margin-top: 3px;
}
#plugin-search-form
{
	top                              : 18px;
}

#plugin-search-form .input-text
{
	width                            : 150px !important;
}

#viewmode-line-align
{
	top                              : 10px;
}

#plugin-search-form .input-button
{
    line-height                      : 1.6em !important;
}
