@charset "utf-8";

/* Layout Header **********************************************************************************/

#description-blog
{
	padding-right                    : 7px;
}

/* main menu */
#main-menu-box
{
	height                           : 2.7em;
	line-height                      : 2.7em;
}

#main-menu li
{
	height                           : 2.7em;
}

#menu-center
{
	margin-left                     : 200px !important;
}


/* Layout Body ***********************************************************************************/

#main-menu li.selected
{
	height                           : 37px;
}

#page-section .page-count
{
	top                              : 8px;
}

/* Layout Footer *********************************************************************************/

#version
{
	padding-left                     : 3px;
}

/* Etc *******************************************************************************************/

.input-button
{
	height                           : 1.75em;
	line-height                      : 1.75em;
	padding                          : 0 !important;
}

input.checkbox,
input.radio
{
	margin                           : 0;
}
