@charset "utf-8";

/* Select ****************************************************************************************/

#part-skin-list,
#part-skin-current
{
	margin-bottom                    : 20px;
}

#part-skin-list .section .preview,
#part-skin-current .section .preview
{
	float                            : left;
	position                         : static;
}

/* Edit ******************************************************************************************/

#part-skin-edit .section ul
{
	height                           : 401px;
	width                            : 120px;
}

#part-skin-edit textarea
{
	font-family                      : 'courier new', courier, monospace;
}

#part-skin-edit .section .button-box .input-button
{
	font-size                        : 0.9em;
	line-height                      : 1.6em !important;
}

/* Setting ***************************************************************************************/

#sidebar-preview-mode
{
	background-position              : left 19px;
}

#part-skin-setting fieldset
{
	padding-top                      : 2px;
}

#part-skin-setting .button-box .input-button
{
	padding                          : 0;
}

#part-setting-admin .button-box .input-button
{
	line-height                      : 2.4em;
}
