@media all and (min-width: 0px)
{
	/* Basic Tag *************************************************************************************/
	
	select
	{
		border                           : 1px solid #979797 !important;
		height                           : 18px;
	}
	
	/* Layout ****************************************************************************************/
	
	#all-wrap
	{
		font-size                        : 93%;
	}
	
	/* Sub Menu **************************************************************************************/
	#sub-menu .helper
	{
		background-position              : right 7px;
	}
	
	/* Data Box **************************************************************************************/
	
	#data-outbox .caption
	{
		padding-bottom                   : 1px !important;
	}
	
	/* data box */
	#data-outbox table.data-inbox thead tr td
	{
		padding-top                      : 6px;
	}
}