@charset "utf-8";

/* List ******************************************************************************************/

/* list table head ------------------------------------------------------------------------------*/
#part-link-list table.data-inbox .tr-head .homepage
{
	padding-left                     : 5px;
	width                            : 35%;
}

#part-link-list table.data-inbox .tr-head .delete
{
	width                            : 20px;
}

#part-link-list table.data-inbox .tr-head .delete span
{
	display                          : none;
}

/* list table body ------------------------------------------------------------------------------*/
#part-link-list table.data-inbox .tr-body td
{
	height                           : 24px;
}

#part-link-list table.data-inbox .tr-last-body td
{
	height                           : 23px;
	padding-top                      : 1px;
}

#part-link-list table.data-inbox .tr-body .homepage,
#part-link-list table.data-inbox .tr-last-body .homepage
{
	padding                          : 6px 5px 3px 5px;
}

#part-link-list table.data-inbox .tr-body .address,
#part-link-list table.data-inbox .tr-last-body .address
{
	padding                          : 6px 5px 3px 0;
}

#part-link-list table.data-inbox .tr-body .delete-button,
#part-link-list table.data-inbox .tr-last-body .delete-button
{
	background-image                 : url("./image/delete2.gif");
	height                           : 11px;
	margin                           : 0 auto;
	width                            : 11px;
}

#part-link-list table.data-inbox .tr-body .delete-button span,
#part-link-list table.data-inbox .tr-last-body .delete-button span
{
	display                          : none;
}

/* Add / Edit ************************************************************************************/

#part-link-add div.data-inbox dt
{
	display                          : block;
	float                            : left;
	margin                           : 7px 3px 0 0;
	text-align                       : right;
	width                            : 150px;
}

#part-link-add div.data-inbox dd
{
	display                          : block;
	float                            : left;
	width                            : auto;
}

#part-link-add div.data-inbox dd .text-input
{
	float                            : left;
	font-size                        : inherit;
	margin-top                       : 2px;
	padding                          : 2px;
	width                            : 300px;
}

#part-link-add div.data-inbox .line
{
	clear                            : both;
	height                           : 23px;
}

.get-info-button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	float                            : left;
	height                           : 24px;
	margin-left                      : 3px;
	padding-left                     : 4px;
	width                            : 151px;
}

.get-info-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 147px;
}

/* button box -----------------------------------------------------------------------------------*/
.button-box
{
	margin                           : 20px auto 0 auto;
	width                            : 228px;
}

.button-box .add-button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	float                            : left;
	height                           : 24px;
	margin                           : 0 2px;
	padding-left                     : 4px;
	width                            : 106px;
}

.button-box .add-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 102px;
}

.button-box .cancel-button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	float                            : left;
	height                           : 24px;
	margin                           : 0 2px;
	padding-left                     : 4px;
	width                            : 106px;
}

.button-box .cancel-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 102px;
}