@media all and (min-width: 0px)
{
	/* Common ****************************************************************************************/
	
	.part table.data-inbox .tr-last-body td
	{
		border-bottom                    : 2px solid #00A6ED;
	}
	
	.part .data-subbox
	{
		margin-top                       : -2px;
	}
	
	.part table.data-inbox .tr-body td
	{
		height                           : 20px !important;
	}

	.part table.data-inbox .tr-last-body td
	{
		height                           : 22px !important;
	}
	
	/* Comment ***************************************************************************************/
	
	/* list category --------------------------------------------------------------------------------*/
	#part-trash-comment .caption .category select
	{
		vertical-align                   : middle;
	}
	
	/* list table body ------------------------------------------------------------------------------*/
	#part-trash-comment table.data-inbox .tr-body td
	{
		height                           : 20px;
		padding-top                      : 3px !important;
	}

	#part-trash-comment table.data-inbox .tr-last-body td
	{
		height                           : 22px !important;
		padding-top                      : 3px !important;
		padding-bottom                   : 3px !important;
	}
	
	#part-trash-comment table.data-inbox .tr-body .name .bullet,
	#part-trash-comment table.data-inbox .tr-last-body .name .bullet,
	#part-trash-comment table.data-inbox .tr-body .ip .bullet,
	#part-trash-comment table.data-inbox .tr-last-body .ip .bullet
	{
		margin-top                       : 4px !important;
	}
	
	/* multi-selection deleter ----------------------------------------------------------------------*/
	#part-trash-comment #delete-section .label
	{
		margin-top                       : 0;
		padding-top                      : 0;
	}
	
	#part-trash-comment #delete-section .delete-button span
	{
		padding-top                      : 4px;
	}

	/* lines per page -------------------------------------------------------------------------------*/
	#part-trash-comment #page-section .page-count select
	{
		vertical-align                   : middle;
		width                            : 40px;
	}

	/* search ---------------------------------------------------------------------------------------*/
	#part-trash-comment #search-section
	{
		right                            : 3px;
	}
	
	#part-trash-comment #search-section input#search
	{
		float                            : left;
		margin-top                       : 2px;
		padding                          : 3px;
		width                            : 70px;
	}

	#part-trash-comment #search-section .search-button span
	{
		padding-top                      : 4px;
	}
	
	/* Trackback *************************************************************************************/
	
	/* list common ----------------------------------------------------------------------------------*/
	#part-trash-trackback .data-subbox
	{
		margin-top                       : -2px;
	}
	
	/* list category --------------------------------------------------------------------------------*/
	#part-trash-trackback .caption .category select
	{
		vertical-align                   : middle;
	}
	
	/* list table body ------------------------------------------------------------------------------*/
	#part-trash-trackback table.data-inbox .tr-body td,
	#part-trash-trackback table.data-inbox .tr-last-body td
	{
		height                           : 26px !important;
		padding-top                      : 3px !important;
	}
	
	#part-trash-trackback table.data-inbox .tr-body .site .bullet,
	#part-trash-trackback table.data-inbox .tr-last-body .site .bullet
	{
		margin-top                       : 5px;
	}
	
	/* multi-selection deleter in sub-box -----------------------------------------------------------*/
	#part-trash-trackback #delete-section select
	{
		vertical-align                   : middle;
	}
	
	#part-trash-trackback #delete-section .delete-button span
	{
		padding-top                      : 4px;
	}

	/* lines per page -------------------------------------------------------------------------------*/
	#part-trash-trackback #page-section .page-count select
	{
		vertical-align                   : middle;
	}

	/* page navigation ------------------------------------------------------------------------------*/
	#part-trash-trackback #page-navigation
	{
		border-top                       : 1px dotted #CCCCCC;
		margin-top                       : 7px;
		padding                          : 10px 120px 0 3px;
	}

	#part-trash-trackback #page-navigation #page-list
	{
		padding-left                     : 28px;
	}

	/* search ---------------------------------------------------------------------------------------*/
	#part-trash-trackback #search-section
	{
		right                            : 4px;
	}
	
	#part-trash-trackback #search-section input#search
	{
		padding                          : 3px;
	}
	
	#part-trash-trackback #search-section .search-button span
	{
		padding-top                      : 4px;
	}
	
	/* Filter ****************************************************************************************/
	
	#part-trash-filter div.data-inbox .section table tr td
	{
		height                           : 14px;
		padding                          : 0;
	}
	
	#part-trash-filter div.data-inbox .section .text-input
	{
		padding                          : 3px;
		width                            : 200px;
	}
	
	#part-trash-filter .button-box .add-button span
	{
		height                           : 24px;
		padding-top                      : 0;
	}
}