@charset "utf-8";

/* Comment ***************************************************************************************/

/* comment common -------------------------------------------------------------------------------*/
#part-trash-comment .caption
{
	font-weight                      : normal;
	position                         : relative;
}

#part-trash-comment .caption .main-text
{
	font-weight                      : bold;
}

#part-trash-comment div.data-subbox
{
	background-color                 : #EBF2F8;
	border-bottom                    : 2px solid #00A6ED;
	padding                          : 9px 10px 7px 10px;
	position                         : relative;
}

/* comment category -----------------------------------------------------------------------------*/
#part-trash-comment .caption .category
{
	display                          : block;
	font-weight                      : normal;
	position                         : absolute;
	right                            : 0;
	top                              : 19px;
}

#part-trash-comment .caption .category select
{
	vertical-align                   : 2px;
}

#part-trash-comment .caption .interword
{
	display                          : none;
}

/* comment table head ---------------------------------------------------------------------------*/
#part-trash-comment table.data-inbox thead tr td
{
	padding                          : 7px 0 3px 0 !important;
}

#part-trash-comment table.data-inbox thead tr .selection
{
	padding                          : 2px 0 0 0 !important;
	text-align                       : center;
	width                            : 30px;
}

#part-trash-comment table.data-inbox thead tr .date
{
	width                            : 70px;
}

#part-trash-comment table.data-inbox thead tr .name
{
	width                            : 17%;
}

#part-trash-comment table.data-inbox thead tr .ip
{
	text-transform                   : uppercase;
	width                            : 100px;
}

#part-trash-comment table.data-inbox thead tr .delete
{
	width                            : 20px;
}

#part-trash-comment table.data-inbox thead tr .delete span
{
	display                          : none;
}

/* comment table body ---------------------------------------------------------------------------*/
#part-trash-comment table.data-inbox .tr-body .selection,
#part-trash-comment table.data-inbox .tr-last-body .selection
{
	padding                          : 3px 0 0 0;
	text-align                       : center;
}

#part-trash-comment table.data-inbox .tr-body .date,
#part-trash-comment table.data-inbox .tr-last-body .date
{
	padding                         : 4px 0 0 0;
}

#part-trash-comment table.data-inbox .tr-body .name,
#part-trash-comment table.data-inbox .tr-last-body .name
{
	padding                         : 4px 5px 0 0;
}

#part-trash-comment table.data-inbox .tr-body .name .block-icon,
#part-trash-comment table.data-inbox .tr-last-body .name .block-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

#part-trash-comment table.data-inbox .tr-body .name .block-icon span,
#part-trash-comment table.data-inbox .tr-last-body .name .block-icon span
{
	display                          : none;
}

#part-trash-comment table.data-inbox .tr-body .name .unblock-icon,
#part-trash-comment table.data-inbox .tr-last-body .name .unblock-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left top;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

#part-trash-comment table.data-inbox .tr-body .name .unblock-icon span,
#part-trash-comment table.data-inbox .tr-last-body .name .unblock-icon span
{
	display                          : none;
}

#part-trash-comment table.data-inbox .tr-body .content
{
	overflow                         : hidden;
	padding                          : 5px 5px 3px 0;
}

#part-trash-comment table.data-inbox .tr-last-body .content
{
	overflow                         : hidden;
	padding                          : 5px 5px 2px 0;
}

#part-trash-comment table.data-inbox .tr-body .content .entryURL,
#part-trash-comment table.data-inbox .tr-last-body .content .entryURL
{
	font-weight                      : bold;
}

#part-trash-comment table.data-inbox .tr-body .content .divider,
#part-trash-comment table.data-inbox .tr-last-body .content .divider,
#part-trash-comment table.data-inbox .tr-body .content .explain,
#part-trash-comment table.data-inbox .tr-last-body .content .explain
{
	font-weight                      : normal;
}

#part-trash-comment table.data-inbox .tr-body .content .reply-icon,
#part-trash-comment table.data-inbox .tr-last-body .content .reply-icon
{
	background-image                 : url("./image/icon_arrow_guest2.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 12px;
	margin                           : -1px 3px 0 0;
	width                            : 13px;
}

#part-trash-comment table.data-inbox .tr-body .content .reply-icon span,
#part-trash-comment table.data-inbox .tr-last-body .content .reply-icon span
{
	display                          : none;
}

#part-trash-comment table.data-inbox .tr-body .ip,
#part-trash-comment table.data-inbox .tr-last-body .ip
{
	padding                          : 4px 0 0 0;
}

#part-trash-comment table.data-inbox .tr-body .ip .block-icon,
#part-trash-comment table.data-inbox .tr-last-body .ip .block-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

#part-trash-comment table.data-inbox .tr-body .ip .block-icon span,
#part-trash-comment table.data-inbox .tr-last-body .ip .block-icon span
{
	display                          : none;
}

#part-trash-comment table.data-inbox .tr-body .ip .unblock-icon,
#part-trash-comment table.data-inbox .tr-last-body .ip .unblock-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left top;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

#part-trash-comment table.data-inbox .tr-body .ip .unblock-icon span,
#part-trash-comment table.data-inbox .tr-last-body .ip .unblock-icon span
{
	display                          : none;
}

#part-trash-comment table.data-inbox .tr-body .delete-button,
#part-trash-comment table.data-inbox .tr-last-body .delete-button
{
	background-image                 : url("./image/delete2.gif");
	height                           : 11px;
	margin                           : 0 auto;
	width                            : 11px;
}

#part-trash-comment table.data-inbox .tr-body .delete-button span,
#part-trash-comment table.data-inbox .tr-last-body .delete-button span
{
	display                          : none;
}

/* multi-selection deleter ----------------------------------------------------------------------*/
#part-trash-comment #delete-section 
{
	padding                          : 1px 0 0 3px;
}

#part-trash-comment #delete-section .label
{
	display                          : block;
	float                            : left;
	margin-top                       : -4px;
	padding-top                      : 6px;
}

#part-trash-comment #delete-section .delete-button
{
	background-image                 : url("./image/button2.gif");
	float                            : left;
	height                           : 24px;
	margin                           : -4px 0 0 3px;
	padding-left                     : 4px;
	width                            : 76px;
}

#part-trash-comment #delete-section .delete-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 72px;
}

/* lines per page -------------------------------------------------------------------------------*/
#part-trash-comment #page-section .page-count
{
	bottom                           : 5px;
	position                         : absolute;
	right                            : 13px;
	text-align                       : right;
	vertical-align                   : 2px;
	width                            : 300px;
}

#part-trash-comment #page-section .page-count select
{
	vertical-align                   : 2px;
	width                            : 40px;
}

#part-trash-comment #page-section .page-list a:link,
#part-trash-comment #page-section .page-list a:visited
{
	color                            : #000000;
}

#part-trash-comment #page-section .page-list a:hover,
#part-trash-comment #page-section .page-list a:active
{
	color                            : #979797;
}

/* page navigation ------------------------------------------------------------------------------*/
#part-trash-comment #page-navigation
{
	border-top                       : 1px dotted #CCCCCC;
	margin-top                       : 7px;
	padding                          : 10px 120px 0 3px;
}

#part-trash-comment #page-navigation #page-list
{
	padding-left                     : 28px;
}

/* search ---------------------------------------------------------------------------------------*/
#part-trash-comment #search-section
{
	position                         : absolute;
	top                              : 6px;
	right                            : 9px;
	width                            : 163px;
}

#part-trash-comment #search-section input#search
{
	float                            : left;
	margin-top                       : 2px;
	padding                          : 2px;
	width                            : 70px;
}

#part-trash-comment #search-section .search-button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	float                            : left;
	height                           : 24px;
	margin-left                      : 3px;
	padding-left                     : 4px;
	width                            : 76px;
}

#part-trash-comment #search-section .search-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 72px;
}

/* Trackback *************************************************************************************/

/* trackback common -----------------------------------------------------------------------------*/
#part-trash-trackback .caption
{
	font-weight                      : normal;
	position                         : relative;
}

#part-trash-trackback .caption .main-text
{
	font-weight                      : bold;
}

#part-trash-trackback div.data-subbox
{
	background-color                 : #EBF2F8;
	border-bottom                    : 2px solid #00A6ED;
	padding                          : 9px 10px 7px 10px;
	position                         : relative;
}

/* trackback category ---------------------------------------------------------------------------*/
#part-trash-trackback .caption .category
{
	display                          : block;
	font-weight                      : normal;
	position                         : absolute;
	right                            : 0;
	top                              : 19px;
}

#part-trash-trackback .caption .category select
{
	vertical-align                   : 2px;
}

#part-trash-trackback .caption .interword
{
	display                          : none;
}
/* trackback table head -------------------------------------------------------------------------*/
#part-trash-trackback table.data-inbox thead tr td
{
	padding                          : 7px 0 3px 0 !important;
}

#part-trash-trackback table.data-inbox thead tr .selection
{
	padding                          : 2px 0 0 0 !important;
	text-align                       : center;
	width                            : 30px;
}

#part-trash-trackback table.data-inbox thead tr .date
{
	width                            : 70px;
}

#part-trash-trackback table.data-inbox thead tr .site
{
	width                            : 21%;
}

#part-trash-trackback table.data-inbox thead tr .category
{
	width                            : 17%;
}

#part-trash-trackback table.data-inbox thead tr .ip
{
	text-transform                   : uppercase;
	width                            : 85px;
}

#part-trash-trackback table.data-inbox thead tr .delete
{
	width                            : 20px;
}

#part-trash-trackback table.data-inbox thead tr .delete span
{
	display                          : none;
}

/* trackback table body -------------------------------------------------------------------------*/
#part-trash-trackback table.data-inbox .tr-body .selection
{
	text-align                       : center;
}

#part-trash-trackback table.data-inbox .tr-last-body .selection
{
	padding-top                      : 1px;
	text-align                       : center;
}

#part-trash-trackback table.data-inbox .tr-body .selection .checkbox,
#part-trash-trackback table.data-inbox .tr-last-body .selection .checkbox
{
	margin-top                       : 1px;
}

#part-trash-trackback table.data-inbox .tr-body .date
{
	padding-top                      : 5px;
}

#part-trash-trackback table.data-inbox .tr-last-body .date
{
	padding-top                      : 5px;
}

#part-trash-trackback table.data-inbox .tr-body .site
{
	padding                          : 4px 5px 2px 0;
}

#part-trash-trackback table.data-inbox .tr-last-body .site
{
	padding                          : 5px 5px 1px 0;
}

#part-trash-trackback table.data-inbox .tr-body .site .block-icon,
#part-trash-trackback table.data-inbox .tr-last-body .site .block-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left bottom;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

#part-trash-trackback table.data-inbox .tr-body .site .block-icon span,
#part-trash-trackback table.data-inbox .tr-last-body .site .block-icon span
{
	display                          : none;
}

#part-trash-trackback table.data-inbox .tr-body .site .unblock-icon,
#part-trash-trackback table.data-inbox .tr-last-body .site .unblock-icon
{
	background-image                 : url("./image/icon_block.gif");
	background-position              : left top;
	display                          : block;
	float                            : left;
	height                           : 6px;
	margin                           : 2px 3px 0 0;
	width                            : 16px;
}

#part-trash-trackback table.data-inbox .tr-body .site .unblock-icon span,
#part-trash-trackback table.data-inbox .tr-last-body .site .unblock-icon span
{
	display                          : none;
}

#part-trash-trackback table.data-inbox .tr-body .category
{
	padding                          : 4px 5px 0 0;
}

#part-trash-trackback table.data-inbox .tr-last-body .category
{
	padding                          : 5px 5px 0 0;
}

#part-trash-trackback table.data-inbox .tr-body .title
{
	padding                          : 6px 5px 3px 0;
}

#part-trash-trackback table.data-inbox .tr-last-body .title
{
	padding                          : 6px 5px 2px 0;
}

#part-trash-trackback table.data-inbox .tr-body .ip,
#part-trash-trackback table.data-inbox .tr-last-body .ip
{
	padding                          : 4px 0 0 0;
}

#part-trash-trackback table.data-inbox .tr-body .delete-button,
#part-trash-trackback table.data-inbox .tr-last-body .delete-button
{
	background-image                 : url("./image/delete2.gif");
	height                           : 11px;
	margin                           : 0 auto;
	width                            : 11px;
}

#part-trash-trackback table.data-inbox .tr-body .delete-button span,
#part-trash-trackback table.data-inbox .tr-last-body .delete-button span
{
	display                          : none;
}

/* multi-selection deleter ----------------------------------------------------------------------*/
#part-trash-trackback #delete-section 
{
	padding                          : 1px 0 0 3px;
}

#part-trash-trackback #delete-section .label
{
	display                          : block;
	float                            : left;
	margin-top                       : -4px;
	padding-top                      : 6px;
}

#part-trash-trackback #delete-section .delete-button
{
	background-image                 : url("./image/button2.gif");
	float                            : left;
	height                           : 24px;
	margin                           : -4px 0 0 3px;
	padding-left                     : 4px;
	width                            : 76px;
}

#part-trash-trackback #delete-section .delete-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 72px;
}

/* lines per page -------------------------------------------------------------------------------*/
#part-trash-trackback #page-section .page-count
{
	bottom                           : 5px;
	position                         : absolute;
	right                            : 13px;
	text-align                       : right;
	vertical-align                   : 2px;
	width                            : 300px;
}

#part-trash-trackback #page-section .page-count select
{
	vertical-align                   : 2px;
	width                            : 40px;
}

/* page navigation ------------------------------------------------------------------------------*/
#part-trash-trackback #page-navigation
{
	border-top                       : 1px dotted #CCCCCC;
	margin-top                       : 7px;
	padding                          : 10px 120px 0 3px;
}

#part-trash-trackback #page-section #page-list
{
	padding-left                     : 28px;
}

#part-trash-trackback #page-section #page-list a:link,
#part-trash-trackback #page-section #page-list a:visited
{
	color                            : #000000;
}

#part-trash-trackback #page-section #page-list a:hover,
#part-trash-trackback #page-section #page-list a:active
{
	color                            : #979797;
}

/* search ---------------------------------------------------------------------------------------*/
#part-trash-trackback #search-section
{
	position                         : absolute;
	top                              : 6px;
	right                            : 9px;
	width                            : 163px;
}

#part-trash-trackback #search-section input#search
{
	float                            : left;
	margin-top                       : 2px;
	padding                          : 2px;
	width                            : 70px;
}

#part-trash-trackback #search-section .search-button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	float                            : left;
	height                           : 24px;
	margin-left                      : 3px;
	padding-left                     : 4px;
	width                            : 76px;
}

#part-trash-trackback #search-section .search-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	padding                          : 6px 4px 0 0;
	text-align                       : center;
	width                            : 72px;
}

/* Filter ****************************************************************************************/

#part-trash-filter div.data-inbox .section
{
	float                            : left;
	margin-left                      : 20px;
	width                            : 200px;
}

#part-trash-filter div.data-inbox .section .title
{
	margin-bottom                    : 5px;
}

#part-trash-filter div.data-inbox .section table
{
	background-color                 : #FFFFFF;
	border                           : 1px solid #A0A0C0;
	padding                          : 5px;
	width                            : 100%;
}

#part-trash-filter div.data-inbox .section table tr td
{
	line-height                      : 12px;
	padding                          : 2px 0 0 0;
}

#part-trash-filter div.data-inbox .section table tr .delete
{
	width                            : 13px;
}

#part-trash-filter div.data-inbox .section table tr .delete .delete-button
{
	background-image                 : url("./image/delete2.gif");
	background-position              : left top;
	background-repeat                : no-repeat;
	display                          : block;
	height                           : 11px;
	width                            : 11px;
}

#part-trash-filter div.data-inbox .section table tr .delete span
{
	display                          : none;
}

#part-trash-filter div.data-inbox .section .text-input
{
	margin-top                       : 2px;
	padding                          : 2px;
	width                            : 194px;
}

#part-trash-filter .button-box
{
	margin                           : 0;
	padding                          : 5px;
}

#part-trash-filter .button-box .add-button
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	margin                           : 0 auto;
	padding-left                     : 4px;
	width                            : 106px;
}

#part-trash-filter .button-box .add-button span
{
	background-color                 : #CCCCCC;
	background-image                 : url("./image/button2.gif");
	height                           : 24px;
	line-height                      : 24px;
	padding                          : 1px 4px 0 0;
	text-align                       : center;
	width                            : 102px;
}