@charset "utf-8";

/* Basic Tag *************************************************************************************/

a
{
	cursor                           : pointer;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	display                          : none;
	font-size                        : 1em;
}

input
{
	font-family                      : ±¼¸², Gulim, Arial, Tahoma, Verdana, sans-serif;
	font-size                        : 1em;
}

samp
{
	font-family                      : ±¼¸², Gulim, Arial, Tahoma, Verdana, sans-serif;
}

select
{
	font-size                        : 1em;
}

textarea
{
	font-size                        : 1em;
}

/* Sub Menu **************************************************************************************/

#sub-menu li,
#sub-menu li a,
#sub-menu li a span
{
	height                           : 19px;
}

#sub-menu li a
{
	cursor                           : pointer;
}

/* Data Box **************************************************************************************/

/* data outbox */
#data-outbox .caption
{
	padding-top                      : 18px;
}

/* Special Class *********************************************************************************/

/* etc */
.checkbox,
.radio
{
	margin                           : -3px -5px -2px 0;
}

dl dd.clear
{
	float                            : none !important;
	height                           : 1px;
	font-size                        : 1px;
	overflow                         : hidden;
}