@charset "utf-8";

*
{
	margin: 0;
	padding: 0;
}

html
{
	background-color: #a8a8a8;
}

body
{
	background: url('./images/bg_bodyTop.gif') 50% top repeat-x;
	color: #666;
	font: 1.2em/1.7 Helvetica, AppleGothic, Gulim, '굴림', sans-serif;
	font-size: 75%;
	padding-top: 30px;
}

a
{
	text-decoration: none;
}

a:link, a:visited
{
	color: #accb53;
}

a:hover, a:active
{
	color: #c36;
}

/* global */

img
{
	border: 0 none;
}

br
{
	letter-spacing: 0;
}

hr
{
	display: none;
}

fieldset
{
	border: 1px solid #f0f0e6;
	display: block;
	padding: 1.2em;
}

legend
{
	color: #999;
	padding: 0 3px;
}

p
{
	margin-bottom: 1.7em;
}

code
{
	font-family: Monaco, Courier New, monospace;
}

pre
{
	margin-left: 0.8em;
	margin-bottom: 1.5em;
	padding: 0.4em;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}

dfn, cite, address
{
	font-style: normal;
}

em
{
	font-style: italic;
}
/*-------------------------------*/

/* heading */

/*-------------------------------*/

h1
{
	font: normal 2.17em arial, 'Trebuchet MS', Verdana, sans-serif;
}

h1 a:link, h1 a:visited
{
	color: #e23c8e;
}

h1 a:hover, h1 a:active
{
	color: #ff6bb4;
}

h2
{
	padding-bottom: .5em;
	background: #fff url('./images/bg_h2.gif') repeat-x 0 100%;
	border-bottom: 1px solid #fff;
	font-size: 1.5em;
	letter-spacing: -1px;
	color: #accb53;
}

h2 a:link, h2 a:visited
{
	color: #accb53;
}

h2 a:hover, h2 a:active
{
	color: #c0e900;
}

h3
{
	font: bold 1.17em/1.5 Arial, Helvetica, sans-serif;
	background-color: #faf9f8;
	border-bottom: 1px solid #eee;
	color: #accb53;
}

h3 a:link, h3 a:visited
{
	color: #669818;
}

h3 a:hover, h3 a:active
{
	color: #7ab61a;
}

h4
{
	font-size: 1.08em;
}

/*-------------------------------*/

/* Layout */

/*-------------------------------*/

#container
{
	width: 800px;
	margin: 0 auto;
}

#author
{
	position: relative;
	margin: 0 5px;
	background: #222 url('./images/bg_authorBar.gif') repeat-x 0 0;
	font-size: 0.92em;
	line-height: 3.3em;
}

* html #author
{
	display: inline-block;
}

#author span
{
	position: relative;
	left: -5px;
	float: left;
	font-family: AppleGothic, Dotum, '돋움', 'Lucida Grande', 'Myriad Pro', Helvetica, Tahoma, sans-serif;
	padding-left: 30px;
	background: url('./images/bg_authorBarLeft.gif') no-repeat 0 0;
	color: #ccc;
	line-height: 3.4em;
}

#author ul
{
	position: relative;
	right: -5px;
	display: block;
	padding-right: 30px;
	background: url('./images/bg_authorBarRight.gif') no-repeat 100% 0;
	list-style: none;
	text-align: right;
}

* html #author ul
{
	display: inline-block;
}

*:first-child+html #author ul
{
	display: inline-block;
}

#header
{
	position: relative;
	width: 100%;
	height: 8em;
	padding-top: 1.8em;
	background: #fff url('./images/bg_wrapperTop.gif') 0 0 repeat-x;
}

#header h1
{
	padding-left: 25px;
}

#mBody:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#mBody
{
	padding: 0 30px;
	clear: both;
	display: inline-block;
	background-color: #fff;
}

#contentColumn
{
	float: left;
	width: 480px;
	overflow: hidden;
}

#rightColumn
{
	float: right;
	width: 220px;
	padding: 0 0 0 40px;
	overflow: hidden;
}

#footer
{
	clear: both;
	position: relative;
	height: 3em;
	margin-right: 5px;
	background: url('./images/bg_footerLeft.gif') no-repeat 0 0;
}

/*-------------------------------*/

/* top */

/*-------------------------------*/

#author li
{
	display: inline;
	margin-left: 1em;
	font-family: 'Lucida Grande', 'Myriad Pro', Tahoma, sans-serif;
}

#author li a:link, #author li a:visited
{
	color: #ccc;
}

#author li a:hover, #author li a:active
{
	color: #eee;
}

/*-------------------------------*/

/* header */

/*-------------------------------*/

#header ul
{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	list-style: none;
	padding: .5em 20px 0 0;
	text-align: right;
}

#header li
{
	display: inline;
}

#header li a
{
	padding: .1em .5em;
	text-decoration: none;
}

#header li a:link, #header li a:visited
{
	color: #333;
}

#header li a:hover, #header li a:active
{
	color: #333;
	background: #aed340;
}

/* selected */

#tt-body-page #header .tab_home a, 
#tt-body-search #header .tab_home a,
#tt-body-archive #header .tab_home a,
#tt-body-category #header .tab_home a,
#tt-body-entry #header .tab_home a,
#tt-body-cover #header .tab_cover a,
#tt-body-location #header .tab_location a,
#tt-body-tag #header .tab_tag a,
#tt-body-keylog #header .tab_keyword a,
#tt-body-notice #header .tab_notice a,
#tt-body-guestbook #header .tab_guestbook a
{
	color: #dd568c;
	text-decoration: underline;
}

/*-------------------------------*/

/* content column */

/*-------------------------------*/

.entry
{
	margin-bottom: 2.5em;
}

/* subject */

.subject
{
	margin-bottom: 2.5em;
}

.subject ul
{
	list-style: none;
	border-bottom: 1px solid #e8e8e8;
	background-color: #faf9f8;
}

.subject li
{
	display: inline;
	font: 0.92em/2 'Trebuchet MS', Helvetica, sans-serif;
	color: #999;
}

.subject .postInfo li
{
	padding: .3em .6em .3em 25px;
}

.subject .infoDate
{
	background: url('./images/bullet_clock.gif') no-repeat 7px 50%;
}

.subject .infoCategory
{
	background: url('./images/bullet_folder.gif') no-repeat 5px 50%;
}

.subject .postInfo li.infoCategoryFeed
{
	padding-left:3px !important;
}

.subject li a
{
	font-family: AppleGothic, Dotum, '돋움', Helvetica, sans-serif;
}

.subject p
{
	padding: .3em 10px .3em 25px;
	background: #faf9f8 url('./images/bullet_info.gif') no-repeat 5px 50%;
	border-bottom: 1px solid #e8e8e8;
	font: 0.92em 'Trebuchet MS', Helvetica, sans-serif;
	color: #999;
}

/* Protected */

.protectedBody
{
	margin-bottom: 2em;
	padding: 2em 0 2.5em;
}

.protectedBody p
{
	margin: .5em;
}

.protectedBody input.submitBtn
{
	width: 5em;
	font-size: 0.92em;
}

/* search list */

.searchList
{
	margin-bottom: 4em;
}

.searchList ol
{
	list-style: none;
}

.searchList li
{
	border-bottom: 1px solid #eee;
}

.searchList li *
{
	vertical-align: middle;
}

.searchList li a
{
	display: block;
	line-height: 1.9em;
}

.searchList li a:hover
{
	background-color: #faf9f8;
}

.searchList .slDate
{
	color: #666;
	font-size: 0.92em;
	margin-right: .4em;
}

.searchList .slCnt
{
	color: #f90;
	font-size: 0.92em;
	margin-left: .2em;
}

/* admin */

.subject .admin
{
	border-top: 1px solid #fff;
}

.subject .admin li
{
	padding-right: .5em;
	font-family: AppleGothic, Dotum, '돋움', sans-serif;
}

.subject .admin li:after
{
	content: "|";
	color: #999;
	padding-left: .4em;
}

/* article */

.article
{
	margin: 1em 0 1.8em;
	text-align: left;
}

.article a:link, .article a:visited
{
	color: #cb89b3;
	border-bottom: 1px dashed #c39;
}

.article a:hover, .article a:active
{
	background-color: #faf9f8;
	border-bottom: 1px dashed #c39;
	color: #c39;
}

.article blockquote
{
	margin: 1.7em auto;
	padding: 0 10px;
	width: 80%;
	color: #50b4ca;
	border-left: 2px solid #ddd;
}

.article fieldset
{
	clear: both;
}

.article hr
{
	display: block;
	margin-bottom: 1em;
}

.article ol
{
	margin: 1em 0 1.5em 50px;
}

.article ul
{
	list-style: none;
	margin: 1em 0 1.5em 30px;
}

.article ul li
{
	padding-left: 20px;
	background: url('./images/bullet_atricleUl.gif') no-repeat 0 .5em;
}

.article .infoAuthor
{
	line-height: 1.2em;
	margin-top: 20px;
	text-align: right;
}

.article .infoAuthor dfn
{
	background: url('./images/bullet_author.gif') no-repeat 0 50%;
	padding: 2px 0 2px 18px;
}

.article .infoAuthor span
{
	color: #999;
	font: 0.92em/2 'Trebuchet MS', Helvetica, sans-serif;
}

.rssurl 
{
	color: #999;
	font: 0.92em/2 'Trebuchet MS', Helvetica, sans-serif;
	text-align: center;
}

.tt-gallery-box
{
	clear: both;
}

.galleryControl a
{
	border-bottom: none !important;
}

.imageblock
{
	margin: 0 0 1.5em 0;
	padding: 0;
	border: none;
}

.imageblock.left, .imageblock.right
{
	margin: 0 0 .5em 0 !important;
}

.imageblock.left
{
	padding-right: 10px;
}

.imageblock.right
{
	padding-left: 7px;
}

.imageblock *
{
	border: 0 none !important;
}

.imageblock img
{
	background-color: #fff;
	border: 5px solid #eee !important;
	vertical-align: middle;
}

.imageblock .extensionIcon img
{
	border: none !important;
	margin-right: 2px;
}

.imageblock .cap1
{
	color: #999;
	font-family: AppleGothic, Dotum, '돋움', Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 1.3;
	padding: 3px;
	text-align: center;
	margin: 5px 0 0 0;
}

.moreless_fold
{
	padding-left: 20px;
	background: url('./images/ico_plus.gif') no-repeat left 50%;
}

.moreless_top
{
	margin-bottom: 10px;
	padding-left: 20px;
	background: url('./images/ico_minus.gif') no-repeat left 50%;
}

.moreless_bottom
{
	display: none;
}

.moreless_fold span, .moreless_top span, .moreless_bottom span
{
	background: #f5f5f5;
	color: #333;
}

.moreless_content
{
	padding: 1em 10px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	background-color: #faf9f8;
}

.article table
{
	border-collapse: collapse;
	margin: 0.5em;
}

.article th, 
.article td
{
	padding: 0.2em 0.5em;
	border: 1px solid #ccc;
}

.article dt
{
	font-weight: bold;
}

.article dd
{
	padding-left: 1.2em;
}

div.footnotes {
	padding: 1em 0.5em 0 0.2em;
	font-size: 0.9em;
	line-height: 150%;
	color: #555;
}

div.footnotes hr {
	margin-bottom: 8px;
	border: 0 none;
	background: #999;
	width: 30%;
	height: 1px;
}

div.footnotes ol {
	margin-left: 25px;
}

div.footnotes ol p {
	margin: 0.7em;
}

/* tag, comments btn */

.miscInfo
{
	clear: both;
	margin: 2em 0 1em;
	padding: 0 0 .3em;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 0.92em;
	line-height: 1.5em;
}

.miscInfo dl
{
	padding: .2em 0;
}

.miscInfo dt
{
	float: left;
	width: 6em;
	margin: .3em 0 0;
	padding-left: 20px;
}

.miscInfo .postTag
{
	background: url('./images/bullet_tag.gif') no-repeat 0 45%;
}

.miscInfo .response
{
	background: url('./images/bullet_comment.gif') no-repeat 0 50%;
}

.miscInfo .rss
{
	background: url('./images/btn_rss.png') no-repeat 0 50%;
}
.miscInfo dd
{
	margin: .3em 0 0 8em;
	padding-left: .5em;
}

/*-------------------------------*/

/* trackback */

/*-------------------------------*/

.trackback .url
{
	background: url('./images/bullet_uri.gif') no-repeat 5px 50%;
	padding-left: 20px;
	font: 0.9em 'Trebuchet MS', Helvetica, sans-serif;
}

.trackback .rss
{
	background: url('./images/btn_rss.png') no-repeat 5px 50%;
	padding-left: 20px;
	font: 0.9em 'Trebuchet MS', Helvetica, sans-serif;
}

/* Trackback list */

.trackback h3
{
	display: none;
}

.trackback
{
	padding-bottom: .5em;
}

.trackback ol
{
	list-style: none;
}

.trackback ol li
{
	margin-bottom: 1em;
	padding: .5em 1em;
	background-color: #faf9f8;
	border: 1px solid #f0f0e6;
}

.trackback li p
{
	margin-bottom: 1em;
}

.trackback li span
{
	font: 0.92em 'Franklin Gothic Medium', Helvetica, sans-serif;
	color: #999;
}

.trackback span a:link, .trackback span a:visited
{
	color: #999;
}

.trackback span a:hover, .trackback span a:active
{
	color: #333;
}

.trackback li p
{
	margin: .8em 0;
	text-align: left;
}

.trackback cite
{
	font-family: AppleGothic, Dotum, '돋움', Helvetica, sans-serif;
}

/*-------------------------------*/

/* Comments, Guestbook */

/*-------------------------------*/

.entry .list
{
	margin: .5em 0 2em;
}

#guestBook .list
{
	margin-top: 2em;
}

/* Comment list */

.list h3
{
	display: none;
}

.list ol
{
	list-style: none;
	margin-bottom: 2em;
}

.list li
{
	margin-bottom: 1em;
	border: 1px solid #f0f0e6;
}

* html .list li
{
	display: inline-block;
}

*:first-child+html .list li
{
	display: inline-block;
}

.list li p
{
	clear: left;
	margin-bottom: .5em;
	padding: 0 1em .3em;
}

.list p.writer
{
	padding: 0 1em 0;
}

.list span.command
{
	float: left;
	display: block;
	margin-bottom: 1em;
	font: 0.92em 'Franklin Gothic Medium', Helvetica, sans-serif;
	color: #999;
}

.list span a
{
	text-decoration: underline;
}

.list span a:link, .list span a:visited
{
	color: #999;
}

.list span a:hover, .list span a:active
{
	color: #333;
}

.list cite
{
	display: block;
	margin: .6em 0 -.5em;
}

.list span abbr
{
	border: 0 none;
}

/* Reply */

.list ol li ol
{
	margin: 0;
}

.list ol li ol li
{
	margin: 0;
	padding: 0 0 .3em;
	border: 0 none;
	border-top: 1px solid #f0f0e6;
	background-color: #faf9f8;
}

.list .writer cite img
{
	float: left;
	margin: 0 .5em 3px 0;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 2px;
}

/* special classes
.list ol li.rp_secret p.writer cite, .list ol li.guest_secret p.writer cite
{
	background-image: url('./images/ico_lock.jpg');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 14px;
}

.list ol li.rp_secret span.hiddenCommentTag_name, .list ol li.guest_secret span.hiddenCommentTag_name
{
	color: #999;
}

.list ol li.rp_secret span.hiddenCommentTag_content, .list ol li.guest_secret span.hiddenCommentTag_content
{
	display: none;
} */

/* Write area */

form legend
{
	font: 1.3em 'Franklin Gothic Medium', Helvetica, sans-serif;
}

form fieldset div
{
	margin: .3em 0;
	width: 435px;
}

form label
{
	padding-left: .2em;
	vertical-align: middle;
	font: 1em 'Franklin Gothic Medium', Helvetica, sans-serif;
}

form label em
{
	color: #999;
}

form input
{
	width: 180px;
	padding: 2px .5em;
	background-color: #faf9f8;
	border: 1px solid #ddd;
	font: 1em AppleGothic, Gulim, '굴림', sans-serif;
	vertical-align: middle;
	color: #666;
}

form textarea
{
	width: 435px;
	height: 12em;
	padding: 2px .5em;
	background-color: #faf9f8;
	border: 1px solid #ddd;
	font: 1em AppleGothic, Dotum, '돋움', sans-serif;
	color: #666;
}

form input:focus, textarea:focus
{
	background-color: #fff;
	border-top-color: #aaa;
	border-left-color: #aaa;
}

.checkbox
{
	width: 12px;
	padding: 0;
	border: 0 none;
	background: none;
}

.submit
{
	height: 3.2em;
}

.submit input
{
	width: 80px;
	height: 25px;
	margin-top: 1em;
	padding: .3em;
	font-size: 0.92em;
	color: #666;
	cursor: pointer;
}

/*-------------------------------*/

/* location log */

/*-------------------------------*/

#location
{
	margin-bottom: 3em;
}

#location dt, #location dd
{
	border-bottom: solid 1px #eee;
}

#location dt span
{
	padding-left: 12px;
	background: url('./images/bullet_indent.gif') no-repeat 0 3px;
}

#location dt .dent0
{


/* first child */
	padding-left: 18px;
	background: url('./images/bullet_globalspot.gif') no-repeat 5px 50%!important;
	font-weight: bold;
}

#location dd span
{
	padding-left: 10px;
	background: url('./images/bullet_spot.gif') no-repeat 0 3px;
}

#location dd .localAuthor
{
	font-size: 0.92em;
	vertical-align: middle;
	color: #999;
}

/*-------------------------------*/

/* tag log (page)*/

/*-------------------------------*/

#taglog
{
	margin-bottom: 3em;
}

#taglog ul
{
	list-style: none;
	text-align: left;
}

#taglog li
{
	display: inline;
	line-height: 2.2em;
}

#taglog li a.cloud1
{
	font-weight: bold;
	font-size: 2em;
}

#taglog li a.cloud2
{
	font-weight: bold;
	font-size: 1.8em;
	color: #afd06c;
}

#taglog li a.cloud3
{
	font-weight: bold;
	font-size: 1.5em;
	color: #b3c987;
}

#taglog li a.cloud4
{
	font-size: 1.2em;
	color: #a8bd7f;
}

#taglog li a.cloud5
{
	font-size: 0.92em;
	color: #aaa;
}

#taglog li a:hover
{
	color: #c36;
}

/*-------------------------------*/

/* keyword log */

/*-------------------------------*/

#keywords ul
{
	list-style: none;
	text-align: left;
}

#keywords ul li
{
	display: inline;
	line-height: 2.2em;
	list-style: none;
	padding-right: 10px;
}

/*-------------------------------*/

/* line */

/*-------------------------------*/
.line dl.box
{
	border-left:3px solid #ddd;
	padding:10px; 
	margin-top:5px;
	margin-bottom:10px;
}
.line dl.box dt
{
	border-bottom: 1px solid #bbb;
	color : #0066cc;
}
.line dl.box dd.content {
	border-bottom: 1px solid #ddd;
	padding-bottom : 5px;

}
.line dl.box dd.author,
.line dl.box dd.source,
.line dl.box dd.permalink {
	display : inline;
	font-size : 0.925em;
	text-align : right;	
}
.line .more-button {
	width : 100%;	
}

/*-------------------------------*/

/* cover */

/*-------------------------------*/

.coverpost
{
	clear: both;
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
}

.coverpost h2
{
	font-size: 120%;
	padding-right: 5px;
}

.coverpost h2 a
{
	letter-spacing: -1px;
	line-height: 125%;
}

.coverpost .img_preview
{
	background-color: #fff;
	float: left;
	padding: 0 7px 7px 0;
}

.coverpost .img_preview img
{
	border: 2px solid #ccc;
	cursor: pointer;
	height: 80px;
	width: 80px;
}

.coverpost .post_info
{
	background-color: #faf9f8;
	border-bottom: 1px solid #e8e8e8;
	font: 0.9em Dotum, Arial, sans-serif;
	padding: .3em .6em .3em 0;
}

.coverpost .post_info span
{
	line-height: 1.2em;
	padding: .3em 0 .3em 22px;
}

.coverpost .post_info .category
{
	background: url('./images/bullet_folder.gif') no-repeat 6px 50%;
}

.coverpost .post_info .category a
{
	color: #888;
	margin-right: 3px;
}

.coverpost .post_info .date
{
	background: url('./images/bullet_clock.gif') no-repeat 0 50%;
	color: #888;
	font-family: Verdana, Helvetica, Arial, Gulim, sans-serif;
	padding-left: 16px;
}

.coverpost .post_info .author .preposition
{
	display: none;
}

.coverpost .post_info .author
{
	background: url('./images/bullet_author.gif') no-repeat 6px 50%;
}

.coverpost .post_content
{
	margin: 5px 0;
	line-height: 125%;
	overflow: hidden;
}

.coverpost .post_tags
{
	background: url('./images/bullet_tag.gif') no-repeat 0 0.35em;
	clear: both;
	line-height: 1.2em;
	padding: 5px 5px 5px 20px;
}

.coverpost .post_tags a
{
	font-size: 0.9em;
}

.coverpost .post_tags span
{
	display: none;
}

.clear
{
	clear: both;
}

/*-------------------------------*/

/* page navigation */

/*-------------------------------*/

.paging
{
	margin: 4.5em 0 6em;
	font: 0.9em 'Trebuchet MS', Helvetica, sans-serif;
	text-align: center;
	color: #ccc;
}

.paging a:link, .paging a:visited
{
	color: #666;
}

.paging a:hover, .paging a:active
{
	color: #f06;
}

.paging .selected
{
	font-weight: bold;
	color: #b6447c;
	border-bottom: 1px solid #f69;
}

/*-------------------------------*/

/* sidebar */

/*-------------------------------*/

#rightColumn
{
	margin-bottom: 5em;
}

#rightColumn div
{
	margin-top: 2em;
}

/* tag cloud (sidebar only) */

#tagbox ul
{
	padding-top: 1em;
}

#tagbox li
{
	display: inline;
	line-height: 1.5;
}

#tagbox a
{
	letter-spacing: -1px;
}

#tagbox li a.cloud1
{
	font-weight: bold;
	font-size: 1.6em;
	color: #cb89b3;
}

#tagbox li a.cloud2
{
	font-weight: bold;
	font-size: 1.5em;
	color: #dab1cb;
}

#tagbox li a.cloud3
{
	font-weight: bold;
	font-size: 1.2em;
	color: #d9c8d3;
}

#tagbox li a.cloud4
{
	font-size: 1em;
	color: #999;
}

#tagbox li a.cloud5
{
	font-size: 0.9em;
	color: #ccc;
}

#tagbox li a:hover
{
	background-color: #f5f5f5;
	text-decoration: none;
	color: #333;
}

/* Categories */

#category div
{
	margin: 0 !important;
}

#category h3
{
	margin-bottom: .3em;
}

#category
{
	font: 0.92em/2 AppleGothic, Dotum, '돋움', sans-serif;
}

#category ul
{
	list-style: none;
}

#category li 
{
	border-bottom: 1px solid #eee;
}
#category li a
{
	display: inline;
}

#category li a:link, #category li a:visited
{
	color: #cb89b3;
}

#category li a:hover, #category li a:active
{
	color: #c36;
	background-color: #faf9f8;
}

/* 1 depth */

#category ul li ul li a.categoryItem
{
	padding-left: 22px;
	background: url('./images/bullet_category.gif') no-repeat 0 50%;
}

#category ul a.categoryFeed,
#category ul li ul li a.categoryFeed,
#category ul li ul li ul li a.categoryFeed
{
	width:30px !important;
	padding-left:30px;
	background: url('./images/atom_12.png') no-repeat center !important;
}
#category a.categoryFeed span
{
	display:none;
}

#category ul li ul li a:link, #category ul li ul li a:visited
{
	color: #666;
}

#category ul li ul li a:hover, #category ul li ul li a:active
{
	color: #c36;
	background-color: #faf9f8;
}

/* 2 depth */

#category ul li ul
{
	margin: 0;
}

#category ul li ul li ul li a.categoryItem
{
	border: 0 none;
	padding-left: 36px;
	background: url('./images/bg_tree.gif') no-repeat 22px 45%;
}

#category ul li ul li ul li.lastChild a.categoryItem
{
	background: url('./images/bg_treeEnd.gif') no-repeat 22px 45%;
}

/* selected */

#category .selected
{
	font-weight: bold;
}

#category .selected ul li
{
	font-weight: normal;
}

/* count  */

.c_cnt
{
	color: #f90;
}

/* blogger instruction */

#bloggerTag img
{
	border: 2px solid #dedede;
	display: block;
	margin: 0 auto;
}

#bloggerTag p.description
{
	font: 0.9em/1.2 AppleGothic, Dotum, '돋움', sans-serif;
	margin: 10px 0 5px 0;
}

#bloggerTag p.owner
{
	margin-bottom: 0;
	text-align: right;
}

/* author list */
#authorList ol, #authorList ul, #archiveBox ul
{
	list-style: none;
}

#authorList li
{
	list-style: none;
}

#authorList li a:link, #authorList li a:visited
{
	color: #666;
}

#authorList li a:hover, #authroList li a:active
{
	background: #faf9f8;
	color: #c36;
}
/* recently */

.recent ol, .recent ul
{
	margin-top: .3em;
	list-style: none;
}

.recent li
{
	font: 0.9em/1.5 AppleGothic, Dotum, '돋움', sans-serif;
	letter-spacing: -1px;
	border-bottom: 1px solid #eee;
}

.recent li a
{
	display: block;
	padding: .3em 0;
}

.recent li a:link, .recent li a:visited
{
	color: #666;
}

.recent li a:hover, .recent li a:active
{
	background: #faf9f8;
	color: #c36;
}

.recent span
{
	color: #f90;
}

.recent cite
{
	display: block;
	color: #aaa;
}

/* Calendar */

#calendar table
{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

#calendar td
{
	text-align: center;
}

#calendar caption
{
	margin-top: .8em;
	text-align: left;
	font: .8em Arial, Helvetica, sans-serif;
}

#calendar th
{
	height: 1.2em;
	font: normal 0.92em AppleGothic, Dotum, '돋움', sans-serif !important;
}

#calendar tr.cal_week
{
	font: .8em/2 'Trebuchet MS', Helvetica, sans-serif !important;
}

#calendar td.cal_day4
{
	background-color: #faf9f8;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#calendar td a
{
	text-decoration: underline;
	display: block;
	width: 100%;
}

#calendar td a:link, #calendar td a:visited
{
	color: #abc833;
}

#calendar td a:hover, #calendar td a:active
{
	color: #390;
	background-color: #eff2e3;
}

.cal_month 
{
	text-align: center !important;
}

/* Link list */

#linklist ol, #linklist ul
{
	margin-top: .3em;
	list-style: none;
}

#linklist li
{
	font: 1em/1.5 AppleGothic, Dotum, '돋움', sans-serif;
	letter-spacing: -1px;
	border-bottom: 1px solid #eee;
	text-align: right;
}

#linklist li ul li
{
	font-size: 0.925em;
	text-align: left;
}

#linklist li a
{
	display: block;
	padding: .3em 0;
}

#linklist li a:link, #linklist li a:visited
{
	color: #666;
}

#linklist li a:hover, #linklist li a:active
{
	background: #faf9f8;
	color: #c36;
}

#linklist span
{
	color: #f90;
}

#linklist cite
{
	display: block;
	color: #aaa;
}

/* stats */

#counter dl
{
	margin-top: 1em;
	font: 0.92em 'Trebuchet MS', Helvetica, sans-serif;
}

#counter dt
{
	float: left;
	margin-right: .3em;
}

/* banner */

#rightColumn .banner
{
	text-align: center;
}

#eolinBanner
{
	margin-top: 15px !important;
}

/* RSS button */

#subscription
{
	margin-top: 20px !important;
	text-align: center;
}

#subscription a span
{
	display: none;
}
#subscription a
{
	display:block;
	float:left;
	margin-left:10px;
}

#subscription .rss,
#subscription .rss_response,
#subscription .atom,
#subscription .atom_response
{
	width:32px;
    height:40px;
	margin-top: 10px;
}

#subscription .rss
{
	background: url('./images/rss_32.png') no-repeat;
	margin-left:30px !important;
}

#subscription .rss_response
{
	background: url('./images/rss_response_32.png') no-repeat;
}

#subscription .atom
{
	background: url('./images/atom_32.png') no-repeat;
}

#subscription .atom_response
{
	background: url('./images/atom_response_32.png') no-repeat;
}
/* search form */

#searchBox
{
	text-align: center;
}

#searchBox .sInput
{
	width: 150px;
	padding: .3em .3em;
	border: 0 none;
	border-top: 1px solid #d7d7cc;
	border-left: 1px solid #d7d7cc;
	background-color: #f6f6f4;
	font: 1em AppleGothic, Dotum, '돋움', sans-serif;
	vertical-align: middle;
	color: #333;
}

#searchBox .sInput:focus
{
	background-color: #f2f2ed;
	border-top-color: #cacabc;
	border-left-color: #cacabc;
}

#searchBox .searchSubmit
{
	width: 23px;
	height: 23px;
	padding: 0;
	margin: 0;
	background: none;
	border: 0 none;
	vertical-align: middle;
	cursor: pointer;
}

/*-------------------------------*/

/* footer */

/*-------------------------------*/

#footer address
{
	position: relative;
	right: -5px;
	padding: 1em 5px 0 0;
	background: url('./images/bg_footerRight.gif') no-repeat 100% 0;
}

address.credit
{
	clear: both;
	color: #333;
	font-family: 'Lucida Grande', 'Myriad Pro', 'Trebuchet MS', Tahoma, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 20px 0 15px !important;
	text-align: center;
}

address.credit a
{
	color: #555;
	border-bottom: 1px dashed #b4e7f3;
}

address.credit a:hover
{
	color: #017c99;
}

.letterT
{
	color: #009bd5;
}

.letterE
{
	color: #0083ae;
}

.letterX
{
	color: #e80478;
}

.letterT2
{
	color: #b71767;
}

.letterC
{
	color: #fdc11f;
}

.letterU
{
	color: #f39424;
}

.letterB
{
	color: #b1d04d;
}

.letterE2
{
	color: #8daa41;
}
